{% macro alert(type='info', icon=None, title=None) %}
  <div class="alert alert-{{type}}"
    role="alert"
    {% if title %}aria-labelledby="alert-heading-{{type}}"{% endif %}
  >
    {% if icon %}
      <span class="icon icon-{{icon}}" aria-hidden="true"></span>
    {% endif %}
    <div class="alert-message">
      {% if title %}
        <h3 class="alert-header" id="alert-heading-{{type}}">{{title}}</h3>
      {% endif %}
      {{ caller() }}
    </div>
  </div>
{% endmacro %}


{%  macro call_me_back_link() %}
  {% call alert() %}
    <p>If you're having trouble completing this form, or don't have all the information
      you need, ask us to <a href="{{ url_for('.call_me_back') }}">call you back</a>.</p>
  {% endcall %}
{% endmacro %}
