{% macro emergency_message(emergency_message_title, emergency_message_text) %}
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            {% trans %}Important{% endtrans %}
        </h2>
        </div>
        <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            <h3 class="govuk-heading-m">{{ emergency_message_title }}</h3>
            {{ emergency_message_text }}
            {{ caller() }}
        </p>
        </div>
    </div>
  {% endmacro %}
