{#
  Renders form fieldset. Used as container for form fields.
  Fieldset have `legend` element with optional `label` for single input
  elements (such as text input)

  Params:
    - field <object>
        WTForm field (optional)
    - class_ <string> (default: 'fieldset-group')
        CSS class for fieldset element
    - legend <string> (default: None)
        Custom legend text (if field is not provided)
    - attrs <object> (default: None)
        Custom HTML attributes for fieldset element
#}
{% macro fieldset(field=None, class_='form-group fieldset-group', legend=None, field_attrs={}) %}
  {% set legend_ = field.label.text if field else legend %}
  {% set controlled_by = kwargs.controlled_by %}
  {% set control_value = kwargs.control_value if kwargs.control_value else '1' %}

  <fieldset class="
      {{- class_ -}}
      {%- if field and field.errors %} form-error{% endif -%}
      {%- if controlled_by and control_value %} s-hidden{% endif -%}
    "
    {%- if kwargs.attrs %}{{ kwargs.attrs|xmlattr }}{% endif -%}
    {% if controlled_by %}data-controlled-by="{{ controlled_by.name }}" data-control-value="{{ control_value }}"{% endif %}
    {%- if field %}id="field-{{ field.id }}"{% endif -%}
  >
    {% if legend_ %}
      <legend class="form-group-label" {% if field %} id="field-label-{{ field.id }}"{% endif %}>
        <span>{{ legend_ }}</span>
      </legend>
    {% endif %}

    {{ render_field_errors(field.errors) if field and field.errors}}
    {{ render_field_description(field) }}

    {% if field or caller %}
      <div class="form-row {{ kwargs.row_class }}">
        {% if field and not kwargs.field_as_label %}
          {{ render_field(field, field_attrs) }}
        {% endif %}
        {% if caller %}
          {{ caller() }}
        {% endif %}
      </div>
    {% endif %}
  </fieldset>
{% endmacro %}

{% macro tickboxes(field=None, class_='govuk-fieldset', legend=None, field_attrs={}) %}
  {% set legend_ = field.label.text if field else legend %}
  {% set controlled_by = kwargs.controlled_by %}
  {% set control_value = kwargs.control_value if kwargs.control_value else '1' %}

  <span id="{{ field.id }}-hint" class="govuk-hint">
    Select all that apply.
  </span>
  {{ render_field_errors(field.errors) if field and field.errors}}
  {{ render_field_description(field) }}

  {% if field or caller %}
    <div class="govuk-checkboxes {{ kwargs.row_class }}">
      {% if field and not kwargs.field_as_label %}
        {{ render_field(field, field_attrs) }}
      {% endif %}
      {% if caller %}
        {{ caller() }}
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}


{#
  Renders `form-group` wrapper for form fields

  Params:
    - field <object> (optional)
        WTForm field
    - class_ <string> (default: '')
        Additional CSS class (all form group wrappers get 'form-group' CSS class)
    - field_attrs <object> (default: {})
        Custom HTML attributes for field
    - controlled_by <string> (default: None)
        name of the field that controls the visibility of this container
    - control_value <string> (default: None)
        value of the field that controls the visibility of this field
    - row_class <string> (default: '')
        Optional CSS class for `form-row` element
#}
{% macro group(field=None, class_='', field_attrs={}) %}
  {% set controlled_by = kwargs.controlled_by %}
  {% set control_value = kwargs.control_value if kwargs.control_value else '1' %}
  {% set use_row = kwargs.use_row if kwargs.use_row is defined else True %}
  {% set group_class = class_ if class_.startswith('form-group') else 'form-group %s' % class_ %}

  <div class="
      {{- group_class -}}
      {%- if field and field.errors %} form-error{% endif -%}
      {%- if controlled_by and control_value %} s-hidden{% endif -%}
    "
    {% if controlled_by %}data-controlled-by="{{ controlled_by.name }}" data-control-value="{{ control_value }}"{% endif %}
    {% if field %}id="field-{{ field.id }}"{% endif %}
  >

    {{ render_field_label(field, kwargs.hide_label) }}

    {% if field and (field.errors and controlled_by and not controlled_by.errors or field.errors and not controlled_by) %}
      {{ render_field_errors(field.errors) }}
    {% endif %}

    {{ render_field_description(field) }}

    {% if use_row and (field or caller) %}
      <div class="form-row {{ kwargs.row_class }}">
        {% if field %}
          {{ render_field(field, field_attrs) }}
        {% endif %}
        {% if caller %}
          {{ caller() }}
        {% endif %}
      </div>
    {% elif caller %}
      {{ caller() }}
    {% elif field %}
      {{ render_field(field, field_attrs) }}
    {% endif %}
  </div>
{% endmacro %}


{#
  Renders appropriate input macro for a field

  Params:
    - field <object>
        WTForm field
    - field_attrs <object> (default: {})
        Custom HTML attributes for field
#}
{% macro render_field(field, field_attrs={}) %}
  {% if field.type in ['YesNoField', 'RadioField', 'PartnerYesNoField'] %}
    {{ radio_buttons(field) }}
  {% elif field.type in ['MoneyIntervalField', 'SelfEmployedMoneyIntervalField', 'PartnerMoneyIntervalField'] %}
    {{ money_interval(field, kwargs.skip) }}
  {% elif field.type in ['MoneyField', 'PartnerMoneyField'] %}
    {{ text_input(field, **field_attrs) }}
  {% else %}
    {% do field_attrs.update(class='form-control %s' % field_attrs.class) %}
    {{ field(**field_attrs) }}
  {% endif %}
{% endmacro %}



{#
  Renders field label (if exists)

  Params:
    - field <object>
        WTForm field
    - hide_label <boolean> (default: False)
        Whether to hide the label visually (still available for screen readers)
#}
{% macro render_field_label(field, hide_label=False) %}
  {% if field %}
    {% if field.flags.optional %}
      {% set label_text = field.label.text + ' <span class="form-optional">optional</span>' %}
    {% else %}
      {% set label_text = field.label.text %}
    {% endif %}

    {% set field_label = field.label(
         for=field.per_interval_value.id if field.per_interval_value else field.id,
         text=label_text,
         id="field-label-%s" % field.id
       ) %}

    <div class="form-group-label{{ (' sr-only' if hide_label) }}">
      {{ field_label }}
    </div>
  {% endif %}
{% endmacro %}


{#
  Renders field description (if exists)

  Params:
    - field <object>
        WTForm field
#}
{% macro render_field_description(field) %}
  {% if field and (field.description or field.help_text) %}
    <div class="form-row field-help" id="field-description-{{ field.id }}">
      {%- if field.description %}
        <span class="field-description">
            {{- field.description -}}
          </span>
      {%- endif %}
      {%- if field.more_info -%}
        <div class="field-more-info">
          {{- field.more_info|safe -}}
        </div>
      {%- endif %}
    </div>
  {%- endif -%}
{% endmacro %}


{#
  Render field errors
  (including mutli-fields)

  Params:
    - errors <object> WTForm field.errors
#}
{% macro render_field_errors(errors) %}
  <div class="form-row field-error">
    {% set errors = errors.values() if errors is mapping else errors %}
    {% for error in errors %}
      {% if error is string or error == error|string %}
        <p>{{error}}</p>
      {% else %}
        {% for line in error %}
          <p>{{line}}</p>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}


{#
  Renders inline radio buttons

  Params:
    - field <object>
        WTForm field
#}
{% macro radio_buttons(field) %}
  {%- for option in field -%}
    <label class="radio-inline" for="{{option.id}}" {% if field.description %}aria-describedby="field-label-{{ field.id }}"{% endif %}>
      {{ option }}
      {{ option.label.text }}
    </label>
  {% endfor -%}
{% endmacro %}


{#
  Renders text field

  Params:
    - field <object>
        WTForm field
    - prefix <string> (default: None)
        String used to prefix the input field (wrapped in label)
    - suffix <string> (default: None)
        String used to suffix the input field (wrapped in label)
    - skip <boolean> (default: False)
        Whether to skip (render as hidden input) the text input
    - default_value <string> (default: '0')
        Default value to use when the input is hidden. Only used when `skip=True`
#}
{% macro text_input(field, prefix=None, suffix=None, class_='', skip=False, default_value='0') %}
  {% if skip %}
    <input type="hidden" name="{{ field.name }}" value="{{ default_value }}">
  {% else %}
    {% if prefix %}
      <label class="input-prefix" for="{{field.id}}">{{prefix}}</label>
    {% endif %}
    {{ field(class_='form-control ' + class_, autocomplete='off', **{'aria-required': 'false' if field.flags.optional else 'true'}) }}
    {% if suffix %}
      <label class="input-suffix" for="{{field.id}}">{{suffix}}</label>
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro postcode_input(field, prefix=None, suffix=None, class_='', skip=False, default_value='0') %}
  <div class="govuk-form-group {{"govuk-form-group--error" if field and field.errors}}">
    <label class="govuk-label" for="{{field.id}}">{{ _('Postcode') }}</label>
    {% if field and field.errors %}
      <span id="{{field.id}}-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ field.errors[0] }}
      </span>
      {% set class_ = "govuk-input--error" %}
    {% endif %}
    {{ field(class_='govuk-input govuk-input--width-10 cla-postcode-text ' + class_, autocomplete='off', **{'aria-required': 'false' if field.flags.optional else 'true'}) }}
  </div>
{% endmacro %}

{#
  A list of options (checkboxes/radios)

  Params:
    - field <object>
        WTForm field
    - input_type <string> (default: 'checkbox')
        Used for assisted technology
    - separated_options <list> (default: [])
        Name of fields to visually separate form others
    - callback <macro> (default: None)
        Macro to insert inside the each option
#}
{% macro option_list(field, input_type='checkbox', separated_options=[], callback=None) %}
  <ul class="form-option-list form-row"
    {% if input_type == 'radio' %}role="radiogroup"{% else %}role="group"{% endif %}
    aria-labelledby="field-label-{{ field.id }}"
  >
    {% for option in field %}
      <li{% if option.data in separated_options %} class="m-separate"{% endif %}>
        <label class="radio-inline" for="{{option.id}}">
          {{ option }}
          {{ option.label.text }}
        </label>

        {% if callback %}
          {{ callback(field, option) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro radio_tick_list(field, input_type='checkbox', separated_options=[], callback=None) %}
  {% if input_type == 'radio' %}
    <div class="govuk-radios">
    {% for option in field %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="{{option.id}}" type="radio" name="{{field.id}}" value="{{option.value}}" >
        <label class="govuk-label govuk-radios__label" for="{{option.id}}">
          {{ option.label.text }}
        </label>

        {% if callback %}
          {{ callback(field, option) }}
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
    <div class="govuk-checkboxes">
    {% for option in field %}
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="{{option.id}}" type="checkbox" name="{{field.id}}" value="{{option.data}}" >
        <label class="govuk-label govuk-checkboxes__label" for="{{option.id}}">
          {{ option.label.text }}
        </label>

        {% if callback %}
          {{ callback(field, option) }}
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
  </div>
{% endmacro %}


{#
  Money field with period interval

  Params:
    - field <object>
        WTForm field
    - skip <boolean> (default: False)
        Whether to skip (render as hidden input) the text input
#}
{% macro money_interval(field, skip=False) %}
  {% if skip %}
    <input type="hidden" name="{{ field.per_interval_value.name }}" value="0">
    <input type="hidden" name="{{ field.interval_period.name }}" value="per_week">
  {% else %}
    <label class="input-prefix" for="{{field.per_interval_value.id}}">£</label>
    {{ field.per_interval_value(class_='form-control m-small', autocomplete='off', **{'aria-required': 'false' if field.flags.optional else 'true'}) }}
    {{ field.interval_period(class_='form-control') }}
  {% endif %}
{% endmacro %}


{#
  Form actions

  Params:
    - button_label <string>
        Button label
#}
{% macro actions(button_label) %}
  <button class="govuk-button" data-module="govuk-button">
    {{ button_label }}
  </button>
{% endmacro %}


{#
  Show generic form errors alert

  Params:
    - form <object>
        WTForm form object
#}
{% import "macros/element.html" as Element %}
{% macro handle_errors(form) %}
  {% if form.errors %}
    {% if form.errors.timeout %}
      {% call Element.alert('error', icon='cross') %}
        {% if form.errors.timeout %}
          <p>{{ form.errors.timeout }}</p>
        {% endif %}
      {% endcall %}
    {% elif form.errors|length == 1 and form.errors.csrf_token %}
      {% call Element.alert('error', title=_('Sorry, something went wrong')) %}
        <p>{{ _('Please try submitting the form again.') }}</p>
      {% endcall %}
    {% else%}
      {% call Element.alert('error', title=_('This form has errors')) %}
        {% if form['properties'] %}
          {% for property_form in form['properties'] %}
            {% if property_form.errors %}
              {% if form['properties']|length > 1 %}
                <h4>{{ _('Property') }} {{ loop.index }}</h4>
              {% endif %}
              <ul class="error-summary">
                {% for field_name in property_form.errors.keys() %}
                  <li>{{ show_field_error(property_form[field_name]) }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        {% else %}
          <ul class="error-summary">
            {% for field_name in form.errors.keys() %}
              <li>{{ show_field_error(form[field_name]) }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endcall %}
    {% endif %}
  {% endif %}
{% endmacro %}


{% macro show_field_error(field) %}
  <dl class="error-summary-details">
    <dt>
      {% if field.form and field.form.errors %}
        {{ field.label.text }}
      {% else %}
        <a href="#field-{{ field.id }}">{{ field.label.text }}</a>
      {% endif %}
    </dt>
    {% if field.form and field.form.errors %}
      <dd>
        {% for error in field.form.errors %}
          {{ show_field_error(field.form[error]) }}
        {% endfor %}
      </dd>
    {% else %}
      <dd>{{ error }}</dd>
    {% endif %}
  </dl>
{% endmacro %}


{#
  Form honeypot

  Params:
    - form <object>
        WTForm form object
#}
{% macro honeypot(form) %}
  <div class="hp-field">
    {{ form[honeypot_field_name].label }}{{ form[honeypot_field_name] }}
  </div>
{% endmacro %}
