{#
  Renders form fieldset. Used as container for form fields.
  Fieldset have `legend` element with optional `label` for single input
  elements (such as text input)

  Params:
    - field <object>
        WTForm field (optional)
    - class_ <string> (default: 'govuk-fieldset')
        CSS class for fieldset element
    - legend <string> (default: None)
        Custom legend text (if field is not provided)
    - attrs <object> (default: None)
        Custom HTML attributes for fieldset element
#}
{% macro fieldset(field=None, class_='govuk-fieldset ', legend=None, field_attrs={}) %}
  {% set legend_ = field.label.text if field else legend %}
  {% set controlled_by = kwargs.controlled_by %}
  {% set control_value = kwargs.control_value if kwargs.control_value else '1' %}
  {% set legend_size = kwargs.legend_size if kwargs.legend_size else 's' %}

  <div class="govuk-form-group
    {%- if field and field.errors %} govuk-form-group--error{% endif -%}
    ">
    <fieldset class="
        {{- class_ -}}
        {%- if controlled_by and control_value %} s-hidden{% endif -%}
      "
      {%- if kwargs.attrs %}{{ kwargs.attrs|xmlattr }}{% endif -%}
      {% if controlled_by %}data-controlled-by="{{ controlled_by.name }}" data-control-value="{{ control_value }}"{% endif %}
      {%- if field %}id="field-{{ field.id }}"{% endif -%}
    >
      {% if legend_ %}
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--{{ legend_size }}" {% if field %} id="field-label-{{ field.id }}"{% endif %}>
          {{ legend_ }}
        </legend>
      {% endif %}

      {{ render_field_description(field) }}
      {{ render_field_errors(field.errors) if field and field.errors}}

      {% if field or caller %}
        <div class="{{ kwargs.row_class }}">
          {% if field and not kwargs.field_as_label %}
            {{ render_field(field, field_attrs) }}
          {% endif %}
          {% if caller %}
            {{ caller() }}
          {% endif %}
        </div>
      {% endif %}
    </fieldset>
  </div>
{% endmacro %}

{% macro tickbox_fieldset(field=None, class_='govuk-fieldset ', legend=None, field_attrs={}) %}
  {% set legend_ = field.label.text if field else legend %}
  {% set controlled_by = kwargs.controlled_by %}
  {% set control_value = kwargs.control_value if kwargs.control_value else '1' %}
  {% set legend_size = kwargs.legend_size if kwargs.legend_size else 's' %}

  <div class="govuk-form-group
    {%- if field and field.errors %} govuk-form-group--error{% endif -%}
    ">
    <fieldset class="
        {{- class_ -}}
        {%- if controlled_by and control_value %} s-hidden{% endif -%}
      "
      {%- if kwargs.attrs %}{{ kwargs.attrs|xmlattr }}{% endif -%}
      {% if controlled_by %}data-controlled-by="{{ controlled_by.name }}" data-control-value="{{ control_value }}"{% endif %}
      {%- if field %}id="field-{{ field.id }}"{% endif -%}
    >
      {% if legend_ %}
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--{{ legend_size }}" {% if field %} id="field-label-{{ field.id }}"{% endif %}>
          {{ legend_ }}
        </legend>
      {% endif %}

      {{ render_field_description(field) }}
      {{ render_field_errors(field.errors) if field and field.errors}}

      {% if field or caller %}
        <div class="govuk-checkboxes {{ kwargs.row_class }}">
          {% if field and not kwargs.field_as_label %}
            {{ render_field(field, field_attrs) }}
          {% endif %}
          {% if caller %}
            {{ caller() }}
          {% endif %}
        </div>
      {% endif %}
    </fieldset>
  </div>
{% endmacro %}

{% macro tickboxes(field=None, class_='govuk-fieldset ', legend=None, field_attrs={}) %}
  {% set legend_ = field.label.text if field else legend %}
  {% set controlled_by = kwargs.controlled_by %}
  {% set control_value = kwargs.control_value if kwargs.control_value else '1' %}

  <span id="{{ field.id }}-hint" class="govuk-hint">
    {% trans %}Select all that apply{% endtrans %}
  </span>
  {{ render_field_description(field) }}
  {{ render_field_errors(field.errors) if field and field.errors}}

  {% if field or caller %}
    <div class="govuk-checkboxes {{ kwargs.row_class }}">
      {% if field and not kwargs.field_as_label %}
        {{ render_field(field, field_attrs) }}
      {% endif %}
      {% if caller %}
        {{ caller() }}
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}


{#
  Renders `form-group` wrapper for form fields

  Params:
    - field <object> (optional)
        WTForm field
    - class_ <string> (default: '')
        Additional CSS class (all form group wrappers get 'form-group' CSS class)
    - field_attrs <object> (default: {})
        Custom HTML attributes for field
    - controlled_by <string> (default: None)
        name of the field that controls the visibility of this container
    - control_value <string> (default: None)
        value of the field that controls the visibility of this field
    - row_class <string> (default: '')
        Optional CSS class for `form-row` element
#}
{% macro group(field=None, class_='', field_attrs={}) %}
  {% set controlled_by = kwargs.controlled_by %}
  {% set control_value = kwargs.control_value if kwargs.control_value else '1' %}
  {% set use_row = kwargs.use_row if kwargs.use_row is defined else True %}
  {% set group_class = 'govuk-form-group %s' % class_ %}

  <div class="
      {{- group_class -}}
      {%- if field and field.errors %} govuk-form-group--error{% endif -%}
      {%- if controlled_by and control_value %} s-hidden{% endif -%}
      {{- ' ' -}}
      {{- kwargs.row_class -}}
    "
    {% if controlled_by %}data-controlled-by="{{ controlled_by.name }}" data-control-value="{{ control_value }}"{% endif %}
    {% if field %}id="field-{{ field.id }}"{% endif %}
  >

    {{ render_field_label(field, kwargs.hide_label, kwargs.custom_label) }}

    {{ render_field_description(field) }}

    {% if field and (field.errors and controlled_by and not controlled_by.errors or field.errors and not controlled_by) %}
      {{ render_field_errors(field.errors) }}
    {% endif %}

    {% if use_row and (field or caller) %}
      <div class="form-row {{ kwargs.row_class }}">
        {% if field %}
          {{ render_field(field, field_attrs) }}
        {% endif %}
        {% if caller %}
          {{ caller() }}
        {% endif %}
      </div>
    {% elif caller %}
      {{ caller() }}
    {% elif field %}
      {{ render_field(field, field_attrs) }}
    {% endif %}
  </div>
{% endmacro %}

{#
  For currency per period
#}
{% macro currency_fieldset(field=None, class_='', field_attrs={}) %}
  {% set controlled_by = kwargs.controlled_by %}
  {% set control_value = kwargs.control_value if kwargs.control_value else '1' %}
  {% set use_row = kwargs.use_row if kwargs.use_row is defined else True %}
  {% set group_class = 'govuk-form-group %s' % class_ %}

  <div class="
      {{- group_class -}}
      {%- if field and field.errors %} govuk-form-group--error{% endif -%}
      {%- if controlled_by and control_value %} s-hidden{% endif -%}
      {{- ' ' -}}
      {{- kwargs.row_class -}}
    "
    {% if controlled_by %}data-controlled-by="{{ controlled_by.name }}" data-control-value="{{ control_value }}"{% endif %}
    {% if field %}id="field-{{ field.id }}"{% endif %}
  >
    <fieldset class="govuk-fieldset cla-currency-by-frequency" role="group" aria-describedby="{{ field.id }}-hint">
      <legend class="govuk-fieldset__legend">
        {{ field.label.text }}
      </legend>
      {% if field.description %}
        {{ render_field_description(field) }}
      {% else %}
        <span id="{{ field.id }}-hint" class="govuk-hint">
          {% trans %}For example, £32.18 per week{% endtrans %}
        </span>
      {% endif %}
      {% if field and (field.errors and controlled_by and not controlled_by.errors or field.errors and not controlled_by) %}
        {{ render_field_errors(field.errors) }}
      {% endif %}
      {% if use_row and (field or caller) %}
        <div class="form-row {{ kwargs.row_class }}">
          {% if field %}
            {% if skip %}
              <input type="hidden" name="{{ field.per_interval_value.name }}" value="0">
              <input type="hidden" name="{{ field.interval_period.name }}" value="per_week">
            {% else %}
              <div class="govuk-form-group laa-currency-period-input__item">
                {{ render_field_label(field, kwargs.hide_label, _('Amount')) }}
                <div class="laa-currency">
                  <span class="laa-currency-prefix">£</span>
                  {{
                    field.per_interval_value(
                      class_='govuk-input govuk-input--width-10%s'  % (' govuk-select--error' if field and (field.errors and controlled_by and not controlled_by.errors or field.errors and not controlled_by) ),
                      autocomplete='off',
                      spellcheck='false',
                      inputmode='numeric',
                      **{'aria-required': 'false' if field.flags.optional else 'true', 'aria-describedby':field.name+'-hint'}
                    )
                  }}
                </div>
              </div>
              <div class="govuk-form-group laa-currency-period-input__item">
                {{
                  field.label(
                    for=field.interval_period.id if field.interval_period else field.id,
                    text=_("Frequency"),
                    id="field-label-frequency-%s" % field.id,
                    class="govuk-label%s" % (' govuk-visually-hidden' if hide_label)
                  )
                }}
                {{
                  field.interval_period(
                    class_="govuk-select%s" % (' govuk-select--error' if field and (field.errors and controlled_by and not controlled_by.errors or field.errors and not controlled_by) )
                  )
                }}
              </div>
            {% endif %}
          {% endif %}
          {% if caller %}
            {{ caller() }}
          {% endif %}
        </div>
      {% elif caller %}
        {{ caller() }}
      {% elif field %}
        {{ render_field(field, field_attrs) }}
      {% endif %}
    </fieldset>
  </div>
{% endmacro %}


{#
  Renders appropriate input macro for a field

  Params:
    - field <object>
        WTForm field
    - field_attrs <object> (default: {})
        Custom HTML attributes for field
#}
{% macro render_field(field, field_attrs={}) %}
  {% if field.type in ['YesNoField', 'RadioField', 'PartnerYesNoField'] %}
    <div class="govuk-radios govuk-radios--inline">
      {{ radio_buttons(field) }}
    </div>
  {% elif field.type in ['MoneyField', 'PartnerMoneyField'] %}
    {{ money_input(field, **field_attrs) }}
  {% else %}
    {% if field.type in ['SelectField', 'TimeChoiceField', 'DayChoiceField'] %}
      {% do field_attrs.update(class='govuk-select %s' % field_attrs.class) %}
    {% elif field.type == "TextAreaField" %}
      {% do field_attrs.update(class='govuk-textarea %s' % field_attrs.class) %}
    {% elif field.type in ['StringField', 'SetZeroIntegerField'] %}
      {% do field_attrs.update(class='govuk-input %s' % field_attrs.class) %}
    {% else %}
      {% do field_attrs.update(class='form-control %s' % field_attrs.class) %} <div style="display:none;">{{ field.type }}</div>
    {% endif %}
    {{ field(**field_attrs) }}
  {% endif %}
{% endmacro %}



{#
  Renders field label (if exists)

  Params:
    - field <object>
        WTForm field
    - hide_label <boolean> (default: False)
        Whether to hide the label visually (still available for screen readers)
#}
{% macro render_field_label(field, hide_label=False, custom_label='') %}
  {% if field %}
    {% if custom_label %}
      {% set label_text = _(custom_label) %}
    {% else %}
      {% set label_text = field.label.text %}
    {% endif %}

    {% if field.flags.optional %}
      {% set label_text = label_text + ' (' + _('optional') + ')' %}
    {% endif %}

    {% set field_label = field.label(
         for=field.per_interval_value.id if field.per_interval_value else field.id,
         text=label_text,
         id="field-label-%s" % field.id,
         class="govuk-label%s" % (' govuk-visually-hidden' if hide_label)
       ) %}

    {{ field_label }}
  {% endif %}
{% endmacro %}


{#
  Renders field description (if exists)

  Params:
    - field <object>
        WTForm field
#}
{% macro render_field_description(field) %}
  {% if field.description %}
    <span id="{{ field.id }}-hint" class="govuk-hint">
      {{- field.description -}}
    </span>
  {% endif %}
  {% if field.more_info -%}
    <div class="form-row field-help" id="field-description-{{ field.id }}">
        <div class="field-more-info">
          {{- field.more_info|safe -}}
        </div>
    </div>
  {%- endif %}
{% endmacro %}


{#
  Render field errors
  (including mutli-fields)

  Params:
    - errors <object> WTForm field.errors
#}
{% macro render_field_errors(errors) %}
  {% set errors = errors.values() if errors is mapping else errors %}
  <span class="govuk-error-message">
    {% for error in errors %}
      {% if error is string or error == error|string %}
        <span class="govuk-visually-hidden">{% trans %}Error{% endtrans %}: </span>
        <span class="cla-error-message">{{error}}</span>
      {% else %}
        {% for line in error %}
          <span class="govuk-visually-hidden">{% trans %}Error{% endtrans %}: </span>
          <span class="cla-error-message">{{line}}</span>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </span>
{% endmacro %}


{#
  Renders inline radio buttons

  Params:
    - field <object>
        WTForm field
#}
{% macro radio_buttons(field) %}
  {%- for option in field -%}
    <div class="govuk-radios__item">
      {{ option(**{"class": "govuk-radios__input"}) }}
      <label class="govuk-label govuk-radios__label" for="{{ option.id }}" {% if field.description %}aria-describedby="field-label-{{ field.id }}"{% endif %}>
        {{ option.label.text }}
      </label>
    </div>
  {% endfor -%}
{% endmacro %}


{#
  Renders text field

  Params:
    - field <object>
        WTForm field
    - prefix <string> (default: None)
        String used to prefix the input field (wrapped in label)
    - suffix <string> (default: None)
        String used to suffix the input field (wrapped in label)
    - skip <boolean> (default: False)
        Whether to skip (render as hidden input) the text input
    - default_value <string> (default: '0')
        Default value to use when the input is hidden. Only used when `skip=True`
#}
{% macro text_input(field, prefix=None, suffix=None, class_='', skip=False, default_value='0') %}
  {% if skip %}
    <input type="hidden" name="{{ field.name }}" value="{{ default_value }}">
  {% else %}
    {% if prefix %}
      <label class="input-prefix" for="{{field.id}}">{{prefix}}</label>
    {% endif %}
    {{ field(class_='govuk-input ' + class_, autocomplete='off', **{'aria-required': 'false' if field.flags.optional else 'true'}) }}
    {% if suffix %}
      <label class="input-suffix" for="{{field.id}}">{{suffix}}</label>
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro money_input(field, prefix='£', class_='', skip=False, default_value='0') %}
  {% if skip %}
    <input type="hidden" name="{{ field.name }}" value="{{ default_value }}">
  {% else %}
    {% if prefix %}
      <div class="laa-currency">
      <span class="laa-currency-prefix">{{prefix}}</span>
    {% endif %}
    {% if field.description %}
      {% set attribs={'aria-required': 'false' if field.flags.optional else 'true', 'aria-describedby':field.name+'-hint'} %}
    {% else %}
      {% set attribs={'aria-required': 'false' if field.flags.optional else 'true'} %}
    {% endif %}
    {{ field(class_='govuk-input govuk-input--width-10 ' + class_, autocomplete='off', spellcheck='false', inputmode='numeric', **attribs) }}
    {% if prefix %}
      </div>
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro postcode_input(field, prefix=None, suffix=None, class_='', skip=False, default_value='0') %}
  <div class="govuk-form-group {{"govuk-form-group--error" if field and field.errors}}">
    <label class="govuk-label" for="{{field.id}}">{{ _('Postcode') }}</label>
    {% if field and field.errors %}
      <span id="{{field.id}}-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">{% trans %}Error{% endtrans %}: </span>
        <span class="cla-error-message">{{ field.errors[0] }}</span>
      </span>
      {% set class_ = "govuk-input--error" %}
    {% endif %}
    {{ field(class_='govuk-input govuk-input--width-10 cla-postcode-text ' + class_, autocomplete='off', **{'aria-required': 'false' if field.flags.optional else 'true'}) }}
  </div>
{% endmacro %}

{#
  A list of options (checkboxes/radios)

  Params:
    - field <object>
        WTForm field
    - input_type <string> (default: 'checkbox')
        Used for assisted technology
    - separated_options <list> (default: [])
        Name of fields to visually separate form others
    - callback <macro> (default: None)
        Macro to insert inside the each option
#}
{% macro option_list(field, input_type='checkbox', separated_options=[], callback=None) %}
  <div
    {% if input_type == 'radio' %}role="radiogroup" class="govuk-radios" {% else %}role="group" class="govuk-radios" {% endif %}
    aria-labelledby="field-label-{{ field.id }}"
  >
    {% for option in field %}
      {% if option.data in separated_options %}<div class="govuk-radios__divider">{% trans %}or{% endtrans %}</div>{% endif %}
      <div class="govuk-radios__item">
        {{ option(**{"class": "govuk-radios__input"}) }}
        <label class="govuk-label govuk-radios__label" for="{{option.id}}">
          {{ option.label.text }}
        </label>

        {% if callback %}
          {{ callback(field, option) }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro radio_tick_list(field, input_type='checkbox', separated_options=[], callback=None) %}
  {% if input_type == 'radio' %}
    <div class="govuk-radios">
    {% for option in field %}
      {% if option.data in separated_options %}
        <div class="govuk-radios__divider">or</div>
      {% endif %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="{{option.id}}" type="radio" name="{{field.id}}" value="{{option.data}}" >
        <label class="govuk-label govuk-radios__label" for="{{option.id}}">
          {{ option.label.text }}
        </label>

        {% if callback %}
          {{ callback(field, option) }}
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
    <div class="govuk-checkboxes">
    {% for option in field %}
      {% if option.data in separated_options %}
        <div class="govuk-radios__divider">or</div>
      {% endif %}
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" {% if option.checked %}checked{% endif %} id="{{option.id}}" type="checkbox" name="{{field.id}}" value="{{option.data}}" >
        <label class="govuk-label govuk-checkboxes__label" for="{{option.id}}">
          {{ option.label.text }}
        </label>

      </div>
      {% if callback %}
        {{ callback(field, option) }}
      {% endif %}
    {% endfor %}
  {% endif %}
  </div>
{% endmacro %}


{#
  Form actions

  Params:
    - button_label <string>
        Button label
#}
{% macro actions(button_label,id) %}
  <button class="govuk-button" id="{{ id }}" data-module="govuk-button">
    {{ button_label }}
  </button>
{% endmacro %}


{#
  Show generic form errors alert

  Params:
    - form <object>
        WTForm form object
#}
{% import "macros/element.html" as Element %}
{% macro handle_errors(form) %}
  {% if form.errors %}
    {% if form.errors.timeout %}
      {% call Element.alert('error', icon='cross') %}
        {% if form.errors.timeout %}
          <p>{{ form.errors.timeout }}</p>
        {% endif %}
      {% endcall %}
    {% elif form.errors|length == 1 and form.errors.csrf_token %}
      {% call Element.alert('error', title=_('Sorry, something went wrong')) %}
        <p>{{ _('Please try submitting the form again.') }}</p>
      {% endcall %}
    {% else%}
      {% call Element.alert('error', title=_('There is a problem')) %}
        {% if form['properties'] %}
          {% for property_form in form['properties'] %}
            {% if property_form.errors %}
              {% if form['properties']|length > 1 %}
                <h4>{{ _('Property') }} {{ loop.index }}</h4>
              {% endif %}
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  {% for field_name in property_form.errors.keys() %}
                    <li>{{ show_field_error(property_form[field_name]) }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              {% for field_name in form.errors.keys() %}
                <li>{{ show_field_error(form[field_name]) }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endcall %}
    {% endif %}
  {% endif %}
{% endmacro %}


{% macro show_field_error(field) %}
  {% if field.form and field.form.errors %}
    {{ field.label.text }}<br>
    {% for error in field.form.errors %}
      {{ show_field_error(field.form[error]) }}
    {% endfor %}
  {% else %}
    {% if field.type in ['YesNoField', 'RadioField', 'PartnerYesNoField', 'MultiCheckboxField', 'PartnerMultiCheckboxField' ] %}
      <a href="#{{ field.id }}-0">{{ field.label.text }}</a><br>
    {% elif field.type in ['MoneyIntervalField', 'PartnerMoneyIntervalField', 'SelfEmployedMoneyIntervalField' ] %}
      <a href="#{{ field.id }}-per_interval_value">{{ field.label.text }}</a><br>
    {% elif field.type in ['SetZeroIntegerField', 'MoneyField', 'PartnerMoneyField' ] %}
      <a href="#{{ field.id }}">{{ field.label.text }}</a><br>
    {% else %}
      <a href="#field-{{ field.id }}">{{ field.label.text }}</a><br>
    {% endif %}
  {% endif %}
{% endmacro %}


{#
  Form honeypot

  Params:
    - form <object>
        WTForm form object
#}
{% macro honeypot(form) %}
  <div class="hp-field">
    {{ form[honeypot_field_name].label }}{{ form[honeypot_field_name] }}
  </div>
{% endmacro %}
