{#
  Generic form group container which consists
  of form row: title/label and form field(s)

  Params:
    - field <@object> WTForm field
    - title_as_label <@boolean|id> (optional, default: True)
      Whether to show the title row text as label
#}
{% macro form_group(field, title_as_label=True, show_title_row=True, class_='') %}
  {% if field.flags.optional %}
    {% set label_text = field.label.text + ' (optional)' %}
  {% else %}
    {% set label_text = field.label.text %}
  {% endif %}
  {% set field_label = field.label(
    for=title_as_label if title_as_label is string else field.id,
    text=label_text
  ) %}
  <dl class="form-group {{ class_ }}{% if field.errors %} m-error{% endif %}">
    {% if show_title_row %}
      <dt class="form-row">
        {%- if title_as_label -%}
          {{- field_label -}}
        {%- else -%}
          {{ label_text }}
        {%- endif -%}
        {%- if field.description -%}
          <div class="field-help">
            {{- field.description -}}
          </div>
        {%- endif -%}
        {%- if field.help_text -%}
          <a>more info</a>
          <div class="field-help-text">
            {{- field.help_text|safe -}}
          </div>
        {%- endif -%}
      </dt>
    {% endif %}
    <dd class="form-row">
      {{ caller() }}
    </dd>
  </dl>
{% endmacro %}


{#
  Block level label used for single options per line

  Params:
    - field <@object> WTForm field
#}
{% macro block_label(field) %}
  {% call form_group(field, show_title_row=False, class_='block-label') %}
    <label class="form-label" for="{{field.id}}">
      {{ field }}
      {{ field.label.text }}
      {% if field.description %}
        <div class="field-help">
          {{field.description|safe}}
        </div>
      {% endif %}
      {% if field.help_text %}
        <a>more info</a>
        <div class="field-help-text">
          {{field.help_text|safe}}
        </div>
      {% endif %}
    </label>
  {% endcall %}
{% endmacro %}


{#
  Yes/No field

  Params:
    - field <@object> WTForm field
#}
{% macro yesno_field(field) %}
  {% call form_group(field, False) %}
    {%- for option in field -%}
      <label class="radio-inline">
        {{- option }} {{ option.label.text -}}
      </label>
    {%- endfor -%}
  {% endcall %}
{% endmacro %}


{#
  Text field

  Params:
    - field <@object> WTForm field
    - prefix <@string> (optional) Adds label with specified string before the field
    - suffix <@string> (optional) Adds label with specified string after the field
#}
{% macro text_field(field, prefix=None, suffix=None) %}
  {% call form_group(field) %}
    {% if prefix %}
      <label class="input-prefix" for="{{field.id}}">{{prefix}}</label>
    {% endif %}
    {{ field(class_='form-control') }}
    {% if suffix %}
      <label class="input-suffix" for="{{field.id}}">{{suffix}}</label>
    {% endif %}
  {% endcall %}
{% endmacro %}


{#
  Textarea field

  Params:
    - field <@object> WTForm field
    - rows <@number> (optional, default: 4) HTML rows attribute
    - cols <@number> (optional, default: 40) HTML cols attribute
#}
{% macro textarea_field(field, rows=4, cols=40) %}
  {% call form_group(field) %}
    {{ field(class_='form-control', rows=rows, cols=cols) }}
  {% endcall %}
{% endmacro %}


{#
  List of checkboxes

  Params:
    - field <@object> WTForm field
#}
{% macro check_list_field(field) %}
  {% call form_group(field, False) %}
    {{ field }}
  {% endcall %}
{% endmacro %}


{#
  Money interval field

  Params:
    - field <@object> WTForm field
    - prefix <@string> (optional) Adds label with specified string before the field
    - suffix <@string> (optional) Adds label with specified string after the field
#}
{% macro money_interval_field(field, is_hidden=False) %}
  {% if is_hidden %}
    <input type="hidden" name="{{ field.amount.name }}" value="0">
    <input type="hidden" name="{{ field.interval.name }}" value="per_week">
  {% else %}
    {% call form_group(field, title_as_label=field.amount.id) %}
      <label class="input-prefix" for="{{field.amount.id}}">£</label>
      {{ field.amount(class_='form-control') }}
      {{ field.interval(class_='form-control') }}
    {% endcall %}
  {% endif %}
{% endmacro %}


{#
  Form actions block

  Params:
    - button_label <@string> Button label
    - previous_link <@boolean> (optional) Whether to show link to previous page
#}
{% macro actions(button_label, previous_link=None) %}
  <p class="form-actions">
    <button type="submit" class="button">{{ button_label }}</button>
    {% if previous_link %}
      <a href="{{ url( 'checker:checker_step', previous_link) }}">Go back to previous step</a>
    {% endif %}
  </p>
{% endmacro %}


{#
  Show generic form errors alert

  Params:
    - form <@object> WTForm form object
#}
{% import "macros/element.html" as Element %}
{% macro handle_errors(form) %}
  {% if form.errors %}
    {% call Element.alert('error', icon='cross') %}
      <p>This form has errors.</p>
      <p>Please correct them and try again.</p>
    {% endcall %}
  {% endif %}
{% endmacro %}
