{#
  Renders help organisations list with intro text
  Callable to replace intro.

  Params:
    - organisations <list>
        List of help organisations
    - category_name <string>
        Name of the category of help organisations
#}
{% macro org_list_container(organisations, category_name, truncate=False) %}
  <div class="help-organisations"
    {% if truncate and truncate is number %}data-truncate="{{ truncate }}{% endif %}">
    {% if organisations %}
      {% if caller %}
        {{ caller() }}
      {% else %}
        <h2>
          {{ _('Help organisations for problems about %(category_name)s',
            category_name=category_name|lower) }}
        </h2>
        <p>
          {{ _('You may still get help and advice from the organisations listed
            below. You don’t have to qualify for legal aid.') }}
        </p>
      {% endif %}

      {{ org_list(organisations) }}
    {% else %}
      {% call Element.alert() %}
        <p>{{ _('There has been a problem with listing help organisations. Please refresh this page or try again later.') }}</p>
      {% endcall %}
    {% endif %}
  </div>
{% endmacro %}

{#
  Renders help organisations list

  Params:
    - organisations <list>
        List of help organisations
#}
{% import "macros/element.html" as Element %}
{% macro org_list(organisations) %}
  <ul class="org-list">
    {% for org in organisations %}
      <li class="vcard">
        <h3>
          {{ Element.link_new_window(org.website, org.service_name, is_external=True, **{'class': 'url'}) }}
        </h3>
        {% if org.public_description %}
          <div class="org-description">
            {{ org.public_description|markdown }}
          </div>
        {% endif %}

        {% set has_contact_details = org.telephone_numbers or org.email %}
        {% if has_contact_details %}
          <div class="org-details">
            {% if org.telephone_numbers %}
              <dl>
                <dt>{{ _('Helpline') }}:</dt>
                <dd>
                  {% for telephone_number in org.telephone_numbers %}
                    <span class="tel">{{ telephone_number.number }}</span>
                    {%- if telephone_number.name %} ({{ telephone_number.name }}){% endif -%}
                    {%- if not loop.last %}, {% endif %}
                  {% endfor %}
                </dd>
              </dl>
            {% endif %}
            {% if org.opening_hours %}
              <dl>
                <dt>{{ _('Opening hours') }}:</dt>
                <dd>{{ org.opening_hours }}</dd>
              </dl>
            {% endif %}
            {% if org.email %}
              <dl>
                <dt>{{ _('Email') }}:</dt>
                <dd class="email" href="mailto:{{ org.email }}">{{ org.email }}</dd>
              </dl>
            {% endif %}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
