{% macro render_field(field, step_title, url) %}
  {% if 'Property' in field.type %}
    {% for property in field %}
      {% if field|length > 1 %}
        <h3 class="govuk-heading-m">{{ _('Property') }} {{ loop.index }}</h3>
      {% endif %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {% for field_name, field in property.form._fields.items() if field.data.per_interval_value != None %}
          {{ render_row(field, step_title, url) }}
        {% endfor %}
      </dl>
    {% endfor %}
  {% elif 'Income' in field.type %}
    <h3 class="govuk-heading-m">{{ field.label.text }}</h3>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      {% for field_name, field in field.form._fields.items() %}
        {{ render_row(field, step_title, url) }}
      {% endfor %}
    </dl>
  {% else %}
    {{ render_row(field, step_title, url)}}
  {% endif %}
{% endmacro %}


{% macro render_row(field, step_title, url) %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      {{ field.label.text}}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ render_answer(field, step_title) }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{{ url }}#field-label-{{ field.id }}">
        {% trans %}Change{% endtrans %} <span class="govuk-visually-hidden"> {% trans %}answer for{% endtrans %} {{ field.label.text }}</span>
      </a>
    </dd>
  </div>
{% endmacro %}



{% macro render_answer(field, step_title) %}
  {% if field.choices %}
    {{ render_choices(field) }}
  {% elif 'Money' in field.type %}
    {{ render_money_field(field) }}
  {% else %}
    {{ field.data}}
  {% endif %}
{% endmacro %}

{% macro render_choices(field) %}
  {% if field.data is string %}
    {{ field|selected_option }}
  {% elif field.data %}
    <ul class="govuk-list">
      {% for item in field.data %}
        <li>
          {{ field|selected_option(item) }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_money_field(field) %}
  &pound;
  {%- if 'Interval' in field.type -%}
    {{ field.data.per_interval_value }}
    {%- if field.data.per_interval_value != 0 %}
      ({{ field.interval_period|selected_option }})
    {%- endif %}
  {%- else -%}
    {{ field.data }}
    {%- if (field.id == "income_contribution") and (field.data != 0) %}
      ({% trans %}per month{% endtrans %})
    {%- endif %}
  {% endif %}
{% endmacro %}
