{% import "macros/form.html" as Form %}

{#
  Callback subform

  Params:
    - form <object>
        WTForm field
#}
{% macro callback(form) %}
  {% call Form.group(None,
      class_='form-subfield',
      use_row=False,
      controlled_by=form.contact_type,
      control_value='callback') %}
    <div class="form-group form-notice" role="alert">
      <ul class="styled-list">
        <li>{{ _('We will call at least once during your chosen time, or as close to the time as possible.') }}</li>
        <li>{{ _('When a CLA operator calls, the call will come from an anonymous number.') }}</li>
        <li>{{ _('If you miss the call you’ll need to complete this form again.') }}</li>
      </ul>
    </div>
    {{ Form.group(form.callback.contact_number, field_attrs={'class': 'm-large', 'autocomplete': 'tel', 'type': 'tel'}) }}
    {{ time_picker(form.callback.time) }}
  {% endcall %}
{% endmacro %}


{#
  Thirdparty subform

  Params:
    - subform <object>
        WTForm field
#}
{% macro thirdparty(form) %}
  {% call Form.group(None,
      class_='form-subfield',
      use_row=False,
      controlled_by=form.contact_type,
      control_value='thirdparty') %}
    <div class="form-group form-notice" role="alert">
      <ul class="styled-list">
        <li>{{ _('Please make sure you are with your nominated person at the time of the callback.') }}</li>
        <li>{{ _('We will call at least once during your chosen time, or as close to the time as possible.') }}</li>
        <li>{{ _('When a CLA operator calls, the call will come from an anonymous number.') }}</li>
        <li>{{ _('If your nominated person misses the call you’ll need to complete this form again.') }}</li>
      </ul>
    </div>
    {{ Form.group(form.thirdparty.full_name, field_attrs={'class': 'm-large'}) }}
    {{ Form.group(form.thirdparty.relationship) }}
    {{ Form.group(form.thirdparty.contact_number, field_attrs={'class': 'm-large', 'autocomplete': 'tel', 'type': 'tel'}) }}
    {{ time_picker(form.thirdparty.time) }}
  {% endcall %}
{% endmacro %}


{#
  Time picker subform

  Params:
    - field <object>
        WTForm field
#}
{% macro time_picker(subform) %}
  {% call Form.fieldset(legend=subform.label.text, class_='form-group') %}
    <ul class="form-option-list form-row" role="radiogroup">
      {% for radio in subform.specific_day %}
        {% if (radio.data == 'today' and subform.time_today.choices) or
        (radio.data == 'specific_day' and subform.day.choices) %}
          <li>
            <label class="radio-inline" for="{{radio.id}}">
              {{ radio }} {{ radio.label.text }}
            </label>
            {% if radio.data == 'today' %}
              {{ subform.time_today(class_='form-control') }}
            {% else %}
              <span class="block-inline">
                {{ subform.day(class_='form-control', **{
                  'data-day-time-choices': subform.day.day_time_choices|tojson|safe
                }) }} at {{ subform.time_in_day(class_='form-control') }}
              </span>
            {%  endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endcall %}
{% endmacro %}


{#
  Adaptations subform

  Params:
    - field <object>
        WTForm field
#}
{% macro adaptations(subform) %}
  {% call Form.fieldset(legend=subform.label.text) %}
    <ul class="form-option-list form-row" role="listbox">
      <li role="option">
        <label class="radio-inline" for="{{subform.bsl_webcam.id}}">
          {{ subform.bsl_webcam }}
          {{ subform.bsl_webcam.label.text }}
        </label>
      </li>
      <li role="option">
        <label class="radio-inline" for="{{subform.minicom.id}}">
          {{ subform.minicom }}
          {{ subform.minicom.label.text }}
        </label>
      </li>
      <li role="option">
        <label class="radio-inline" for="{{subform.text_relay.id}}">
          {{ subform.text_relay }}
          {{ subform.text_relay.label.text }}
        </label>
      </li>
      <li role="option">
        <label class="radio-inline" for="{{subform.welsh.id}}">
          {{ subform.welsh }}
          {{ subform.welsh.label.text }}
        </label>
      </li>
      <li role="option">
        <label class="radio-inline" for="{{subform.is_other_language.id}}">
          {{ subform.is_other_language(**{'aria-controls': subform.other_language.id}) }}
          {{ subform.is_other_language.label.text }}
        </label>
        {{ Form.group(subform.other_language, 'form-subfield',
            controlled_by=subform.is_other_language,
            control_value='y',
            hide_label=True) }}
      </li>
      <li role="option">
        <label class="radio-inline" for="{{subform.is_other_adaptation.id}}">
          {{ subform.is_other_adaptation }}
          {{ subform.is_other_adaptation.label.text }}
        </label>
        {{ Form.group(subform.other_adaptation, 'form-subfield',
            controlled_by=subform.is_other_adaptation,
            control_value='y',
            hide_label=True,
            field_attrs={'class': 'm-large', 'rows': 4}) }}
      </li>
    </ul>
  {% endcall %}
{% endmacro %}
