{% import "macros/form.html" as Form %}

{#
  Callback subform

  Params:
    - form <object>
        WTForm field
#}
{% macro callback(form) %}
  {% call Form.group(None,
      use_row=False,
      controlled_by=form.contact_type,
      control_value='callback') %}
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ _('We will call at least once during your chosen time, or as close to the time as possible.') }}</li>
      <li>{{ _('When a CLA operator calls, the call will come from an anonymous number.') }}</li>
      <li>{{ _('If you miss the call you’ll need to complete this form again.') }}</li>
    </ul>
    {{ Form.group(form.callback.contact_number, field_attrs={'class': '', 'autocomplete': 'tel', 'type': 'tel'}) }}
    {{ time_picker(form.callback.time_today, form.callback.specific_day, form.callback.day, form.callback.time_in_day) }}
  {% endcall %}
{% endmacro %}


{#
  Thirdparty subform

  Params:
    - subform <object>
        WTForm field
#}
{% macro thirdparty(form) %}
  {% call Form.group(None,
      use_row=False,
      controlled_by=form.contact_type,
      control_value='thirdparty') %}
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ _('Please make sure you are with your nominated person at the time of the callback.') }}</li>
      <li>{{ _('We will call at least once during your chosen time, or as close to the time as possible.') }}</li>
      <li>{{ _('When a CLA operator calls, the call will come from an anonymous number.') }}</li>
      <li>{{ _('If your nominated person misses the call you’ll need to complete this form again.') }}</li>
    </ul>
    {{ Form.group(form.thirdparty.full_name, field_attrs={'class': ''}) }}
    {{ Form.group(form.thirdparty.relationship, field_attrs={'class': ''}) }}
    {{ Form.group(form.thirdparty.contact_number, field_attrs={'class': '', 'autocomplete': 'tel', 'type': 'tel'}) }}
<!--    {{ time_picker(form.thirdparty.time, form.callback.specific_day) }}-->
  {% endcall %}
{% endmacro %}


{#
  Time picker subform

  Params:
    - field <object>
        WTForm field
#}
{% macro time_picker(subform, radio_fields, day, time_day) %}
  {% call Form.fieldset(legend=subform.label.text, class_='form-group') %}
    <div class="govuk-radios">
      {% for radio in radio_fields %}
          <div class="govuk-radios__item">
            {{ radio(**{"class": "govuk-radios__input"}) }}
            <label class="govuk-label govuk-radios__label" for="{{ radio.id }}">
               {{ radio.label.text }}
            </label>
          </div>
          {% if radio.data == 'today' %}
            <div class="govuk-radios__conditional">
              {{ Form.group(subform,
                custom_label=_('Time'),
                controlled_by=subform.specific_day,
                control_value='today',
                field_attrs={'class': ''},
                row_class='') }}
            </div>
          {% else %}
            <div class="govuk-radios__conditional">
              </div>
          {% endif %}
      {% endfor %}
    </div>
  {% endcall %}
{% endmacro %}


{#
  Adaptations subform

  Params:
    - field <object>
        WTForm field
#}
{% macro adaptations(subform) %}
  {% call Form.tickbox_fieldset(legend=subform.label.text, legend_size='m') %}
    <div class="govuk-checkboxes__item">
      {{ subform.bsl_webcam(**{"class": "govuk-checkboxes__input"}) }}
      <label class="govuk-label govuk-checkboxes__label" for="{{subform.bsl_webcam.id}}">
        {{ subform.bsl_webcam.label.text }}
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      {{ subform.minicom(**{"class": "govuk-checkboxes__input"}) }}
      <label class="govuk-label govuk-checkboxes__label" for="{{subform.minicom.id}}">
        {{ subform.minicom.label.text }}
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      {{ subform.text_relay(**{"class": "govuk-checkboxes__input"}) }}
      <label class="govuk-label govuk-checkboxes__label" for="{{subform.text_relay.id}}">
        {{ subform.text_relay.label.text }}
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      {{ subform.welsh(**{"class": "govuk-checkboxes__input"}) }}
      <label class="govuk-label govuk-checkboxes__label" for="{{subform.welsh.id}}">
        {{ subform.welsh.label.text }}
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      {{ subform.is_other_language(**{'aria-controls': subform.other_language.id, "class": "govuk-checkboxes__input"}) }}
      <label class="govuk-label govuk-checkboxes__label" for="{{subform.is_other_language.id}}">
        {{ subform.is_other_language.label.text }}
      </label>
    </div>
        {{ Form.group(subform.other_language, 'govuk-checkboxes__conditional',
            controlled_by=subform.is_other_language,
            control_value='y',
            row_class='',
            field_attrs={'class': 'govuk-!-width-two-thirds'}) }}
        {#
          if removing class, leave in class code like this:
          field_attrs={'class': ''}
          otherwise the class acts haywire (see LGA-1479)
        #}
    <div class="govuk-checkboxes__item">
      {{ subform.is_other_adaptation(**{'aria-controls': subform.other_adaptation.id, "class": "govuk-checkboxes__input"}) }}
      <label class="govuk-label govuk-checkboxes__label" for="{{subform.is_other_adaptation.id}}">
        {{ subform.is_other_adaptation.label.text }}
      </label>
    </div>
        {{ Form.group(subform.other_adaptation, 'govuk-checkboxes__conditional',
            controlled_by=subform.is_other_adaptation,
            control_value='y',
            field_attrs={'rows': 4},
            row_class='') }}
  {% endcall %}
{% endmacro %}
