%alert-generic {
  $_padding: 1.05263em;
  padding: $_padding;
  margin: 0 0 $_padding;

  > .icon {
    float: left;
    margin-right: 20px;
  }

  > .alert-message {
    overflow: hidden;

    > .alert-header,
    > p {
      margin: 0 0 .5em;
    }

    .alert-header {
      @include core-24;
      font-weight: bold;
    }

    > p:last-child {
      margin: 0;
    }
  }
}

.alert {
  @mixin _make-alert($colour: null) {
    @extend %alert-generic;
    background: rgba($colour, .1);
    border-left: 4px solid $colour;
  }

  &-info {
    @include _make-alert($grey-2);
  }

  &-error {
    @include _make-alert($mellow-red);
  }

  &-success {
    @include _make-alert($turquoise);
  }
}
