%alert-generic {
  $_padding: 1.05263em;
  padding: $_padding;
  border-left: 4px solid $grey-2;
  background: rgba($grey-2, .1);
  margin: 0 0 $_padding;

  > .alert-message {
    > p {
      margin: .5em 0 0;

      &:first-child {
        margin: 0;
      }
    }
  }
}

.alert {
  &-info {
    @extend %alert-generic;
  }
}
