.phase-banner {
  position: relative;
}

.context-debugger {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 14px;

  &.s-expanded {
    > menu {
      display: block;
    }

    > button {
      background: $grey-1;
      box-shadow: inset 0 0 2px rgba($black, .5);
      border-color: rgba($black, .5);
      color: white;
    }
  }

  button  {
    float: right;
    font-size: inherit;
    margin-bottom: 6px;
    border: 1px solid $grey-1;
    background: #ddd;
    cursor: pointer;
    height: 22px;
    line-height: 20px;
  }

  menu {
    width: 250px;
    display: none;
    float: right;
    list-style: none;
    clear: both;
    margin: 0;
    padding: 0;
    background: #eee;
    padding: 5px 10px;
    box-shadow: 0 1px 3px rgba(black, .2);

    li {
      padding: 5px 0;
      border-top: 1px solid #ddd;

      &:first-child {
        border: 0;
      }
    }

    ._options {
      float: right;
      margin-left: 10px;

      a {
        text-decoration: none;
        margin-left: 10px;
        padding: 0 6px;
        color: $grey-1;
        border: 1px solid $grey-1;

        &:focus {
          background: white;
        }

        &._selected {
          background: $grey-1;
          color: white;
        }
      }
    }
  }
}
