.confirmation {
  background: $turquoise;
  padding: 20px;
  margin: 30px 0;
  color: white;
  text-align: center;
}

.confirmation-ref-number {
  display: block;
  font-size: 1.3em;
  margin-top: 5px;
}
