.confirmation {
  background: $turquoise;
  padding: 30px;
  color: white;
  text-align: center;

  .confirmation-actions {
    margin-top: 30px;
  }

  .flash-messages + & {
    margin-top: -10px;
  }
}

.confirmation-ref-number {
  display: block;
  font-size: 1.3em;
  margin-top: 5px;
}

.confirmation-inset {
  background: lighten($turquoise, 50);
  color: $black;
  padding: 20px;
  margin: 20px 0 0;

  @media print {
    border-top: 1px solid $black;
    background: none;
    padding-bottom: 0;
  }
}

.confirmation-email-form {
  padding: 20px 30px;
  border: 3px solid $turquoise;

  h3 {
    margin: 10px 0;
  }

  fieldset {
    margin-top: 10px;
  }
}

@media print {
  .main-content .confirmation {
    background: none;
    border: 3px solid $black;
    margin-top: -20px;

    .confirmation-ref-number {
      font-size: 17pt;
    }
  }

  .confirmation-actions,
  .confirmation-email-form,
  .flash-messages {
    display: none;
  }
}
