$results-sidebar-width: 40%;
$map-height: 460px;

.find-legal-adviser {

  .legal-adviser-search {
    padding: 20px;
    margin: 20px 0;
    background: #eee;

    fieldset {
      margin: 0;
    }

    @media print {
      display: none;
    }
  }

  .results-filter {
    cursor: default;
    display: inline-block;
    font-size: 13px;
    padding: 3px 5px;

    .filter-remove {
      text-indent: -999em;
      float: right;
      width: 16px;
      height: 16px;
      padding: 3px;
      margin: -3px -5px -3px 4px;
      opacity: .6;
      border-left: 1px solid white;

      &:hover {
        opacity: 1;
      }

      &:focus {
        outline: none;
      }

      .icon {
        float: left;
      }
    }
  }

  .search-results-list {
    .org-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .org-list-item {
      border-top: 1px solid $govuk-border-colour;
      padding: 10px;
      margin: 0;
      display: block;

      &:first-child {
        border: 0;
      }

      header {
        @extend %contain-floats;
        padding: 0 80px 0 25px;
        margin-bottom: 8px;
      }

      .marker {
        width: 16px;
        height: 16px;
        text-align: center;
        line-height: 18px;
        font-size: 11px;
        font-weight: bold;
        color: #4a4a4a;
        border-radius: 100%;
        border: 2px solid #ae4f47;
        float: left;
        margin: -2px 0 0 -26px;
        background: white;
      }

      .street-address {
        white-space: pre;
      }
    }

    .org-title {
      margin: 0;
      font-size: 1em;
      line-height: 1.1;
      float: left;
    }

    .distance {
      color: $govuk-text-colour;
      font-size: .8em;
      float: right;
      margin-right: -80px;
    }

    p {
      margin: 5px 0 0;
    }
  }

  .search-results-pagination {
    overflow: hidden;
    border-top: 2px solid $grey-3;
    margin: 1em 0;
    padding-top: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .results-nav {
      margin: 0;

      a,
      span {
        font-size: .9em;
        line-height: 27px;
        display: block;
        padding: 0 8px;
        font-weight: bold;
      }

      span {
        font-weight: normal;
        color: $grey-1;
        cursor: default;
      }
    }

    .results-nav-prev {
      float: left;
    }

    .results-nav-next {
      float: right;
    }
  }
}

.find-legal-adviser .map {
  display: none;

  @include media(tablet) {
    height: 100%;
    width: 99.9% - $results-sidebar-width;
    float: left;
  }

  h3 {
    margin: 5px 0;
  }

  p {
    margin: 5px 0 0;
  }

  .marker,
  .distance {
    display: none;
  }

  .address {
    white-space: pre;
  }
}


.js-enabled .find-legal-adviser {
  .results-location {
    padding-left: 20px;
    background: url(../images/icons/icon-location.png) .17em .17em no-repeat;
    background: url(../images/icons/icon-location-2x.png) .2em .2em / 16px no-repeat;
  }

  .map {
    display: block;
    margin-bottom: 1em;

    @include media(mobile) {
      height: $map-height - 100;
    }
  }

  @include media(tablet) {
    $_pagination-height: 35px;

    .map {
      margin: 0;
    }

    .search-results-container {
      height: $map-height;
      margin: 0 -1px;
      border: 1px solid $grey-2;
    }

    .search-results {
      font-size: .9em;
      background: white;
      float: right;
      position: relative;
      width: $results-sidebar-width;
      border-left: 1px solid $grey-2;
      margin-left: -1px;

      a {
        .fn {
          color: $govuk-link-colour;
        }
        &:focus .fn {
          color: $govuk-text-colour;
        }
      }

      .postal-code {
        text-transform:uppercase;
      }

      .org-details {
        font-size: .9em;
        display: none;
        padding: 8px 8px 8px 30px;
        background: white;
        outline: 0;
      }

      .s-highlighted {
        .fn {
          color: $black;
        }

        .org-details {
          display: block;
          margin-top: 4px;
        }
      }

      .org-list-item {
        padding: 4px;

        &:hover {
          background: govuk-colour("light-grey");
        }

        &.s-highlighted {
          background: $govuk-focus-colour;
        }
      }

      .url:after {
        position: relative;
        top: -.3em;
        margin-left: .2em;
        display: inline-block;
      }

      .org-summary {
        display: block;
        overflow: hidden;
        outline: 0;
        margin: -4px;
        padding: 8px 88px 8px 34px;
      }
    }

    .search-results-list {
      overflow: auto;
      height: $map-height - $_pagination-height;

      &:focus {
        outline: 2px solid $yellow;
      }
    }

    .search-results-pagination {
      height: $_pagination-height - 6 - 2;
      padding: 3px;

      @include media(tablet) {
        background: $grey-4;
        margin: 0;
      }
    }
  }
}

#resultsMap.map {
  * {
    font-family:"GDS Transport",Arial,sans-serif!important
  }

  .gm-style {
    button:hover, div[role=button]:hover {
      background-color: govuk-colour("light-grey") !important;
      outline: govuk-colour("light-grey") 0px solid;
    }
    button:focus, div[role=button]:focus {
      background-color: $govuk-focus-colour !important;
      outline: $govuk-focus-colour 0px solid;
    }
  }

  .gmnoprint {
    div[role=button] {
      border-bottom:3px #929191 solid!important;
      border-radius:0.01px!important;
      background-color:govuk-colour("white")!important;
      outline: none;
      color:$govuk-text-colour!important;
      border:1px solid govuk-colour("light-grey");

      &:hover {
        background-color:govuk-colour("light-grey")!important;
      }
      &:focus {
        background-color: $govuk-focus-colour !important;
        border-bottom-color:govuk-colour("black")!important;
      }
    }
  }
  .gm-style-cc a:focus {
    outline-offset:0;
    outline: solid 2px $govuk-focus-colour;
  }
}

.search-results-container a:focus {
  background-color: $govuk-focus-colour;
}


@media print {
  .find-legal-adviser {
    page-break-before: always;

    .map {
      float: none;
      width: auto;
      margin-bottom: 5mm;

      a:after {
        content: none;
      }
    }

    .search-results {
      height: auto !important;
      border: 0 !important;
    }

    .search-results-list {
      float: none !important;
      width: auto !important;
      border: 0 !important;

      .org-details {
        display: block !important;
      }
    }

    .search-results-pagination {
      display: none;
    }
  }
}

@media screen and (min-width:641px) {
  .govuk-grid-column-two-thirds .find-legal-adviser {
    width:150%;
    max-width: 660px;
  }
}

@media (max-width: 640px) {
  .search-results-container, .search-results-list {
    height: auto!important;
  }
}