.laa-datastore_banner {
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
  margin: -20px 15px 30px;
  padding: 10px 20px;

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 641px) {
  .laa-datastore_banner {
    margin-top: -40px;
  }
}
