.laa-datastore_banner {
  background-color: $govuk-brand-colour;
  color: white;
  margin: -20px 15px 30px;
  padding: 10px 20px;

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}