.flash-messages {
  position: relative;
  margin-top: -40px;
  margin-bottom: 30px;
  background: $yellow-25;
  padding: 10px 20px;
  font-size: .9em;
  padding-right: 40px;

  .flash-messages-close {
    position: absolute;
    right: 13px;
    top: 13px;
    border: 0;
    text-indent: -999em;
    cursor: pointer;
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }
}

.flash-messages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
