@media only screen {
  .js-enabled .laa-flee-button-container.govuk-visually-hidden {
    display:block;
  }

  .laa-flee-button-container.laa-flee-button-enabled {
    display:block;
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index:1000;
  }
}

@media only screen and (max-width: 640px) {

  .laa-flee-button-container.laa-flee-button-enabled {
    float: none;
  }
}

.laa-flee-button-container {
  display:none;
}
