.help-organisations {
  h2 {
    margin: 40px 0 0;
  }

  .org-list {
    margin: 20px 0;
    padding: 0;
    list-style: none;

    h3 {
      margin: 0;
    }

    ul,
    p {
      margin: .5em 0 0;
    }

    ul {
      list-style: disc;

      li p {
        margin: 0;
      }

      p:first-child {
        margin-top: 0;
      }
    }

    .vcard {
      padding: 20px 0;
      border-top: 1px solid $grey-3;

      &:first-child {
        border-top: 0;
      }
    }
  }

  .org-details {
    padding: 0 15px;
    margin-top: .5em;
    border-left: 5px solid $grey-3;

    dl {
      margin: 5px 0;
      font-size: .9em;
    }

    dt {
      font-weight: bold;
      display: inline-block;
      margin-right: 5px;
    }

    dd {
      display: inline-block;
      margin: 0;
    }
  }
}

.help-organisations-wrapper {
  overflow: hidden;
}
