.icon {
  display: inline-block;
  height: 16px;
  width: 16px;

  &-cross {
    background: url(../images/icons/icon-cross.png) 50% no-repeat;
    background: url(../images/icons/icon-cross-2x.png) 50%/16px no-repeat;
  }
}
