.phase-banner {
  @extend %site-width-container;
  @include phase-banner(beta);
  z-index: 2;

  span {
    @include media(mobile) {
      margin-top: 8px;
      width: auto;
    }
  }

  @media print {
    margin: 0;
    padding: 0 0 2mm;
    border-color: $black;

    .phase-tag {
      margin-bottom: 2mm;
      font-size: 7pt;
      padding: 1pt 2pt 0;
      line-height: 1;
      border: 2px solid $black;
      color: $black;
    }

    span {
      display: block;
      width: auto;
      font-size: 7pt;
    }
  }

  .language-picker {
    @include core-16;
    line-height: inherit;
    float: right;
  }
}
