.phase-banner {
  @include phase-banner(beta);
  z-index: 2;

  span {
    @include media(mobile) {
      margin-top: 8px;
      display: block;
      width: auto;
    }
  }

  @media print {
    margin: 0;
    padding: 1mm 0 1mm 16mm;
    border-color: $black;
    border-style: solid;
    border-width: 1px 0;
    overflow: hidden;

    span {
      padding-top: 2px;
      width: auto;
      display: block;
    }
  }

  .language-picker {
    @include core-16;
    line-height: inherit;
    float: right;
  }
}
