.progress {
  font-size: .9em;
  
  @mixin add_pointer($border-colour: $grey-3, $hover-colour: $grey-4, $clear-last: true) {
    border-top: 1px solid $border-colour;
    position: relative;
    overflow: visible;

    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: -7px;
      left: 0;
      right: 0;
      width: 0;
      height: 0;
      margin: auto;
      border-style: solid;
      border-width: 7px 7px 0 7px;
      border-color: darken($border-colour, 5) transparent transparent transparent;
      z-index: 2;
    }

    &:after {
      border-top-color: white;
      bottom: -6px;
    }

    @if $clear-last {
      &:last-child {
        &:before,
        &:after {
          content: none;
        }
      }
    }

    &.s-focused:before {
      border-top-color: $yellow;
    }

    &.s-hovered:not(.s-focused),
    &.m-current {
      &:after {
        border-top-color: $hover-colour;
      }
    }
  }


  .progress-bar {
    position: relative;
    margin-top: -10px;
    background: $grey-2;
    height: 10px;

    .m-completed {
      position: absolute;
      top: 0;
      bottom: 0;
    }

    .m-current {
      position: absolute;
      top: 0;
      bottom: 0;
      background: $orange;
      margin-left: -7px;
      border: solid white;
      border-width: 0 1px;
      width: 6px;
    }
  }

  .progress-value {
    background: lighten($green, 10);
  }

  .progress-steps {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .progress-step {
    @include add_pointer;
    margin: 0;
    line-height: 1;
    cursor: default;

    &.m-current {
      font-weight: bold;

      .step-name {
        color: inherit;
      }

      a.step-name {
        text-decoration: none;
        background: $grey-4;
      }
    }

    &.m-collapsed {
      z-index: 1;

      &:before,
      &:after {
        content: none;
      }

      .step-name {
        @include add_pointer($clear-last: false);
        padding: 2px 0 3px;

        &:nth-child(1) {
          border: 0;
          z-index: 3;
        }
        &:nth-child(2) {
          z-index: 2;
        }
        &:nth-child(3) {
          z-index: 1;
        }
      }
    }
  }

  .step-name {
    padding: 15px 15px 13px 35px;
    display: block;
    overflow: hidden;
    text-decoration: none;
  }

  span.step-name {
    color: $grey-1;
  }

  a.step-name:hover {
    background: $grey-4;
  }

  a.step-name:focus,
  a.step-name:active, {
    position: relative;
    background: white;
    z-index: 2;
  }

  .step-status {
    float: left;
    margin: -1px 0 0 -25px;
    content: '';
    border: 2px solid #ddd;
    box-shadow: inset 0 0 0 2px white;
    height: 13px;
    width: 13px;
    line-height: 12px;
    border-radius: 100%;
    text-align: center;
    font-weight: normal;
    text-indent: -999em;
  }

  .step-name-subtitle {
    margin-top: 5px;
    color: $grey-1;
  }

  .progress-step.m-completed {
    .step-status {
      background-color: lighten($green, 10);
      border-color: lighten($green, 10);
    }

    span.step-name {
      color: inherit;
    }
  }

  .progress-step.m-current .step-status {
    background-color: $orange;
    border-color: lighten($orange, 10);
  }
}
