/*Updated to new style (MjB) 2020-02-12*/

.cla-scope-options-list {
  list-style-type: none;
  margin: 1em 0 2em;
  padding-inline-start: 0;
}

.cla-scope-options-list-item {
  margin-bottom: 10px;
  background-color: $grey-3;
  background-color: #f3f2f1;
  padding: 0;
  position: relative;

  a.cla-scope-options-list-item-link {
    display: block;
    text-decoration: none;
    color: $govuk-text-colour;
    padding: 13px 60px 10px 25px;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 #929191;

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 26px;
      margin: auto;
      width: 12px;
      height: 12px;
      content: '';
      border: $govuk-text-colour 4px;
      border-style: solid solid none none;
      transform: rotateZ(45deg);
    }

    &:focus:not(:active):not(:hover) {
      border-color: $govuk-focus-colour;
      color: $govuk-text-colour;
      background-color: $govuk-focus-colour;
      -webkit-box-shadow: 0 2px 0 $govuk-text-colour;
      box-shadow: 0 2px 0 $govuk-text-colour;
    }

    &:focus {
      border-color: $govuk-focus-colour;
      outline: 3px solid transparent;
      -webkit-box-shadow: inset 0 0 0 1px $govuk-focus-colour;
      box-shadow: inset 0 0 0 1px $govuk-focus-colour;
    }

    &:active:before {
      right: 24px;
    }

    &:hover {
      background-color: #dbdad9;
    }
  }
}
