.TODO {
  color: yellow;
  background-color: red;
  border: 3px dashed cyan;
  padding: 10px;
  font-weight: bold;
}

/* table from alphagov/static */
$grey-6: #a1acb2;
$grey-7: #b8c6cc;
$grey-8: #DEE0E2;
$grey-9: #eaedef;

article table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em -1em 2em -1em;
  width: 105.95%;

  caption {
    @include bold-24;
    margin: 0.4em 0.5em 0.4em 0.7em;
    text-align: left;
  }

  @include media(mobile) {
    margin: 1em 0 2em 0;
    width: 100%;

    caption {
      padding-left: 0;
    }
  }
}

article th, article td {
  @include core-16;
  vertical-align: top;
  padding: 0.7em 0.5em 0.7em 1em;

  a[rel="external"] {
    @include external-link-16;
    @include media(mobile) {
      @include external-link-14;
    }
  }
}

article tr:nth-child(even) td {
  background-color: #fff;
}

article td {
  background: $grey-9;
  border: dotted 1px $grey-7;

  small {
    @include core-16;
  }
}

/* reduce table font size on very small screens */
@media screen and (max-width: 320px) {
  article th, article td, article td small {
    font-size: 10px;
  }
}

article th {
  line-height: 1.25em;
  text-align: left;
  color: $black;
  font-weight: 700;
  background-color: $grey-8;
  border: solid 1px $grey-6;
}
/* end table from alphagov/static */
