// Tables
// ==========================================================================

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table th,
table td {
  @include core-14;
  padding: 0.7em 0.5em 0.7em 0;
  vertical-align: top;
  text-align: left;
  color: #0b0c0c;
  border-bottom: 1px solid $border-colour;
}

table th {
  font-weight: 700;
}
