@import "govuk_frontend_toolkit/stylesheets/colours";
@import "govuk_frontend_toolkit/stylesheets/grid_layout";
@import "govuk_frontend_toolkit/stylesheets/typography";

@import "govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta";
@import "govuk_frontend_toolkit/stylesheets/design-patterns/buttons";

@import 'context-debugger';

@import 'typography';
@import 'forms';
@import 'alerts';
@import 'icons';
@import 'tables';
@import 'confirmation';
@import 'org-list';
@import 'shame';

.phase-banner {
  @extend %site-width-container;
  @include phase-banner(beta);
  margin-bottom: 30px;
}

#content {
  > .inner-block {
    @extend %site-width-container;

    > header {
      margin-bottom: 30px;
    }
  }
}

.grid-row {
  @extend %grid-row;
}

.column-two-thirds {
  @include grid-column(2/3);
}

article .info-notice {
  border-left: 10px solid $border-colour;
  margin-bottom: 1em;
}
article .application-notice {
  padding: 0.1em 0 0.1em 1em;
}
