@import "govuk_frontend_toolkit/stylesheets/colours"; /*to be removed*/
@import "govuk_frontend_toolkit/stylesheets/grid_layout"; /*to be removed*/
@import "govuk_frontend_toolkit/stylesheets/typography"; /*to be removed*/

@import "govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta";
@import "govuk_frontend_toolkit/stylesheets/design-patterns/buttons";

/**
 * govuk_frontend_toolkit has been deprecated
 * Starting using recommended govuk_frontend
 */
$govuk-images-path: "/static/images/";
$govuk-fonts-path: "/static/images/fonts/";
$govuk-use-legacy-font: false;
$govuk-typography-use-rem: false;
@import "govuk/all";

/**
 * Some components are not yet part of govuk_frontend
  * but are available in govuk_publishing_components
 */
@import "govuk_publishing_components/components/mixins/margins";
@import "govuk_publishing_components/components/cookie-banner";
@import "govuk_publishing_components/components/button";
@import "govuk_publishing_components/components/notice";

@import 'phase-banner';
@import 'typography';
@import 'forms';
@import 'alerts';
@import 'icons';
@import 'tables';
@import 'confirmation';
@import 'help-organisations';
@import 'sidebar';
@import 'split-panels';
@import 'notice';
@import 'answers-summary';
@import 'progress';
@import 'utilities';
@import 'layout';
@import 'find-legal-adviser';
@import 'flash-messages';
@import 'scope-diagnosis';
@import 'modal-dialog';
@import 'cookie-settings';

html {
  height: 100%;
  font-size:initial;
}

@media print {
  body {
    background: white;
  }

  #global-header {
    padding: 2mm 3mm;
    margin: 0;
  }

  .language-picker {
    display: none;
  }

  #content {
    padding-top: 8mm;

    > .inner-block {
      margin-left: 3mm;
      margin-right: 3mm;
    }
  }
}

.adr {
  font-style: normal;

  span {
    display: block;
  }
}

.js-enabled .s-hidden,
.js-enabled [data-control-value]:not(.s-expanded) {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.js-enabled .s-expanded {
  @include transition(opacity, ease, 300ms);
  opacity: 1;
  overflow: visible;
}

.form-notice {
  background: $grey-4;
  font-size: .9em;

  p:first-child {
    margin: 0;
  }

  ul {
    padding-left: 20px;
    margin: 0;
  }
}

fieldset.govuk-form-group--error {
  padding-left:15px;
  border-left:5px solid $govuk-error-colour;
}

.contact-form {
  margin-top: 40px;
}

hr {
  border: 0;
  height: 2px;
  background: $grey-3;
}

.get-in-touch {
  padding-top: 30px;
  margin-top: 40px;
  border-top: 2px solid $grey-3;
}

.styled-list li {
  list-style: disc;
}

.gds-header__error {
  border-bottom: 10px solid $govuk-error-colour;
}

.legal-aid-unavailable {
  background-color: $govuk-error-colour;
}

.cla-postcode-text {
  text-transform: uppercase;
}

.gem-c-button {
  font-size: 19px;
  line-height: 1;
  border-width: 2px;
}

.gem-c-button {
  font-size: 19px;
  line-height: 1;
  border-width: 2px;
}

.gem-c-button--secondary{
  border:2px solid;
  &:hover {
    border-color: #00692f;
    color: #00692f;
    background-color: #f8f8f8;
    text-decoration: none;
  }
  &:focus &:link:focus {
    outline: none;
    border-color: $govuk-focus-colour;
    color: $govuk-link-active-colour;
    background-color: $govuk-focus-colour;
    box-shadow: 0 2px 0 $govuk-link-active-colour;
  }
}

.laa-currency {
  position:relative;
  display:inline;

  .govuk-input{
    padding-left:1.35em;
  }
}
.laa-currency-prefix {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-weight: bold;
}
.laa-telephone {
  white-space: nowrap;
}