@import "govuk_frontend_toolkit/stylesheets/colours";
@import "govuk_frontend_toolkit/stylesheets/grid_layout";
@import "govuk_frontend_toolkit/stylesheets/typography";

@import "govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta";
@import "govuk_frontend_toolkit/stylesheets/design-patterns/buttons";

@import 'phase-banner';
@import 'typography';
@import 'forms';
@import 'alerts';
@import 'icons';
@import 'tables';
@import 'confirmation';
@import 'help-organisations';
@import 'sidebar';
@import 'split-panels';
@import 'notice';
@import 'answers-summary';
@import 'progress';
@import 'utilities';
@import 'layout';
@import 'find-legal-adviser';
@import 'flash-messages';
@import 'scope-diagnosis';

html {
  height: 100%;
}

body {
  background-color: white;
  background-image: linear-gradient(white 400px, $grey-3 400px);
  min-height: 100%;
}

@media print {
  body {
    background: white;
  }

  #global-header {
    padding: 2mm 3mm;
    margin: 0;
  }

  .language-picker {
    display: none;
  }

  #content {
    padding-top: 8mm;

    > .inner-block {
      margin-left: 3mm;
      margin-right: 3mm;
    }
  }
}

.adr {
  font-style: normal;

  span {
    display: block;
  }
}

.js-enabled .s-hidden,
.js-enabled [data-control-value]:not(.s-expanded) {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.js-enabled .s-expanded {
  @include transition(opacity, ease, 300ms);
  opacity: 1;
  overflow: visible;
}

.form-notice {
  background: $grey-4;
  font-size: .9em;

  p:first-child {
    margin: 0;
  }

  ul {
    padding-left: 20px;
    margin: 0;
  }
}


.contact-form {
  margin-top: 40px;
}

hr {
  border: 0;
  height: 2px;
  background: $grey-3;
}

.get-in-touch {
  padding-top: 30px;
  margin-top: 40px;
  border-top: 2px solid $grey-3;
}

.styled-list li {
    list-style: disc;
}
