@import "govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta";
@import "govuk_frontend_toolkit/stylesheets/design-patterns/buttons";

/**
 * govuk_frontend_toolkit has been deprecated
 * Starting using recommended govuk_frontend
 */
$govuk-images-path: "/static/images/";
$govuk-fonts-path: "/static/images/fonts/";
$govuk-use-legacy-font: false;
$govuk-typography-use-rem: false;
@import "govuk/all";

/**
 * Some components are not yet part of govuk_frontend
  * but are available in govuk_publishing_components
 */
@import "govuk_publishing_components/components/cookie-banner";

$laa-unknown-colour: govuk-colour("orange");
$laa-staging-colour: govuk-colour("turquoise");
$laa-dev-colour: govuk-colour("pink");

@import 'forms';
@import 'alerts';
@import 'icons';
@import 'confirmation';
@import 'help-organisations';
@import 'sidebar';
@import 'notice';
@import 'progress';
@import 'utilities';
@import 'layout';
@import 'find-legal-adviser';
@import 'flash-messages';
@import 'scope-diagnosis';
@import 'modal-dialog';
@import 'cookie-settings';

html {
  height: 100%;
  font-size:initial;
}

@media print {
  body {
    background: white;
  }

  #global-header {
    padding: 2mm 3mm;
    margin: 0;
  }

  .language-picker {
    display: none;
  }

  #content {
    padding-top: 8mm;

    > .inner-block {
      margin-left: 3mm;
      margin-right: 3mm;
    }
  }
}

.adr span {
  display: block;
}

.js-enabled .s-hidden,
.js-enabled [data-control-value]:not(.s-expanded) {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.js-enabled .s-expanded {
  @include transition(opacity, ease, 300ms);
  opacity: 1;
  overflow: visible;
}

fieldset.govuk-form-group--error {
  padding-left:15px;
  border-left:5px solid $govuk-error-colour;
}

.cla-currency-by-frequency .govuk-form-group {
  margin-bottom: 8px;
  line-height: 1.25;
}

.cla-postcode-text {
  text-transform: uppercase;
}

.gem-c-button {
  font-size: 19px;
  line-height: 1;
  border-width: 2px;
}

.gem-c-button {
  font-size: 19px;
  line-height: 1;
  border-width: 2px;
}

.gem-c-button--secondary{
  border:2px solid;
  &:hover {
    border-color: #00692f;
    color: #00692f;
    background-color: #f8f8f8;
    text-decoration: none;
  }
  &:focus &:link:focus {
    outline: none;
    border-color: $govuk-focus-colour;
    color: $govuk-link-active-colour;
    background-color: $govuk-focus-colour;
    box-shadow: 0 2px 0 $govuk-link-active-colour;
  }
}

.laa-currency {
  position:relative;
  display:inline;

  .govuk-input{
    padding-left:2.1em;
    background: transparent;
    position: relative;
    z-index: 1;
  }
}
.laa-currency-prefix {
  font-family: $govuk-font-family;
  position: absolute;
  height: 40px;
  background-color: govuk-colour("light-grey");
  border-right: 2px solid;
  padding: 8px 11px 0 13px;
  box-sizing: border-box;
  font-size: 19px;

  &--error {
    border-color: $govuk-error-colour;
  }
}

@supports (-moz-appearance:none) {
  /*for fixing firefox only bug where currency prefix was off.*/
  .laa-currency-prefix {
    top:-9px;
  }
  .govuk-input {
    outline: govuk-colour("white") solid;
  }
}

@media only screen and (max-width: 640px) {
  .laa-currency .govuk-input{
    padding-left:2.3em;
  }
  .laa-currency-prefix {
    padding: 11px 11px 0 13px;
    font-size: 16px;
  }
}

.laa-telephone {
  white-space: nowrap;
}
dl.govuk-list.govuk-list--bullet {
  dt {
    font-weight: 700;
    padding: 1em 0 0.5em;
  }
  dd {
    list-style-type: disc;
    display: list-item;
    padding-left: 6px;
    margin-left: 20px;
  }
}
.laa-input-link {
  cursor: pointer;
  background: none;
  border: none;
  color: $govuk-link-colour;
  text-decoration: underline;
  padding: 0;
  &:hover{
    color: $govuk-link-hover-colour;
    &:focus{
      color: $govuk-focus-text-colour;
    }
  }
}
@media only screen {
  a[rel="external"]:after {
    content:" (opens external site)";
    position: absolute !important;
    width: 1px !important;
    height: 7px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
  }
  *[lang=cy] a[rel="external"]:after {
    content:" (gwefan allanol)";
  }
}
.govuk-label:not(.govuk-radios__label):not(.govuk-checkboxes__label),
.govuk-fieldset__legend {
  font-weight:700;
}
.laa-currency-period-input__item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
}

.no-js-hide-inline-block {
  display: none;
}

.js-enabled .no-js-hide-inline-block {
  display: inline-block;
}

@media only screen {
  .js-enabled .laa-flee-button-container.govuk-visually-hidden {
    display:block;
  }

  .laa-flee-button-container.laa-flee-button-enabled {
    display:block;
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index:1000;

    .laa-flee-button-position {
      z-index:1000;
      background-color:govuk-colour("white");

      .laa-flee-button {
        width:100%;
        margin-bottom:0;
      }

      .laa-quick-exit-info {
        text-align: center;
        padding: 10px 0;
        border: 1px $govuk-border-colour solid;
        border-top-style: none;
        margin: 0;
      }
    }

    .laa-flee-button-sizing{
      visibility:hidden;
    }
  }
}

.laa-flee-button-position {
  position:fixed;
}
@media only screen and (min-width: 641px) {
  @supports (position:sticky) {
    .laa-flee-button-position {
      position:sticky;
      top:0;
    }
  }
}

@media only screen and (max-width: 640px) {

  .laa-flee-button-sizing{
    display:none;
  }

  .js-enabled .laa-flee-button-container.govuk-visually-hidden {
    display:block;

    ~.gem-c-cookie-banner__confirmation,.gem-c-cookie-banner {
      padding-top:40px;
    }

    ~ #skiplink-container {
      padding-top:40px;
    }
  }

  .laa-flee-button-container.laa-flee-button-enabled {
    float: none;

    .laa-flee-button-position {
      top: 0;
      width: 100vw;
      left: 0;
      background: govuk-colour("light-grey");
    }

    .laa-flee-button-sizing{
      display:none;
    }
    
  }
}

@media only screen and (hover: none) {
  .laa-quick-exit-info{
    display:none;
  }
}

.laa-flee-button-container {
  display:none;
}

body:not(.cla-production) {
  .govuk-header__container {
    border-bottom-color:$laa-unknown-colour;
  }
  .govuk-phase-banner__content__tag{
    background-color:$laa-unknown-colour;
    white-space: nowrap;
  }
}

body.cla-staging {
  .govuk-header__container {
    border-bottom-color:$laa-staging-colour;
  }
  .govuk-phase-banner__content__tag {
    background-color:$laa-staging-colour;
  }
}

body.cla-dev {
  .govuk-header__container {
    border-bottom-color:$laa-dev-colour;
  }
  .govuk-phase-banner__content__tag{
    background-color:$laa-dev-colour;
  }
}

.cla-question-text--large .govuk-label {
  font-size: 18px !important;
  font-size: 1.125rem !important;
  line-height: 1.11111 !important;
}

@media (min-width: 40.0625em) {
  .cla-question-text--large .govuk-label {
    font-size: 24px !important;
    font-size: 1.5rem !important;
    line-height: 1.25 !important;
  }
}
