from flask_debugtoolbar import DebugToolbarExtension

from .common import *

SECRET_KEY = 'secret'

DEBUG = True
SESSION_COOKIE_SECURE = False

DEBUG_TB_INTERCEPT_REDIRECTS = False
EXTENSIONS.append(DebugToolbarExtension())

ZENDESK_API_USERNAME = os.environ.get(
    'ZENDESK_USERNAME',
    'your_service_username')
ZENDESK_API_TOKEN = os.environ.get(
    'ZENDESK_API_TOKEN',
    'your_service_token')
