from flask_debugtoolbar import DebugToolbarExtension

from .common import *


DEBUG = True
SESSION_COOKIE_SECURE = False

DEBUG_TB_INTERCEPT_REDIRECTS = False
EXTENSIONS.append(DebugToolbarExtension())

ADDRESSFINDER_API_HOST = os.environ.get(
    'ADDRESSFINDER_API_HOST',
    'http://your_service_host/')
ADDRESSFINDER_API_TOKEN = os.environ.get(
    'ADDRESSFINDER_API_TOKEN',
    'your_service_token')
