from flask_debugtoolbar import DebugToolbarExtension

from .base import *


DEBUG = True
LOG_LEVEL = 'DEBUG'
SESSION_COOKIE_SECURE = False

DEBUG_TB_INTERCEPT_REDIRECTS = False
EXTENSIONS.append(DebugToolbarExtension())
