{% extends "base.html" %}

{% block page_title %}404: {{ _('Page not found') }} - {{ super() }}{% endblock %}

{% block inner_content %}
  <h1 class="govuk-heading-xl">{{ _('Sorry, this page doesn’t exist') }}</h1>
  <p class="govuk-body">{{ _('Please return to the <a class="govuk-link" href="/">Can I get legal aid?</a> page and try again.') }}</p>
{% endblock %}

{% block javascripts %}
  <!-- Google analytics -->
  <script nonce="{{ csp_nonce() }}">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    function stripPII(input) {
      return input.replace(/postcode=[^&]+/gi, 'postcode=[postcode]');
    }
    ga('create', 'UA-37377084-21', 'auto');
    ga('send', 'pageview');
    ga('send', 'event', 'errors', '404', window.location.pathname + stripPII(window.location.search), 1);
  </script>
{% endblock %}
