{% extends "base.html" %}

{% block page_title %}404: {{ _('Page not found') }} - {{ super() }}{% endblock %}

{% block inner_content %}
  <h1 class="page-title">{{ _('Sorry, this page doesn’t exist') }}</h1>
  <p>{{ _('Please return to the <a href="/">Can I get legal aid?</a> page and try again.') }}</p>
{% endblock %}

{% block javascripts %}{% endblock %}

{% block ga_pageview -%}
  ga('send', 'pageview', '/{{ code }}' + window.location.pathname + window.location.search);
  // GDS CROSS DOMAIN ANALYTICS
  ga('govuk_shared.send', 'pageview');
{%- endblock %}
