{% extends "base.html" %}

{% import "macros/element.html" as Element %}

{% block page_title %}{{ _('Sorry, there is a problem with the service')}} - {{ super() }}{% endblock %}

{% block inner_content %}
  <h1 class="govuk-heading-xl">{{ _('Sorry, there is a problem with the service') }}</h1>
  <p class="govuk-body">{{ _('Try again later.') }}</p>
  <p class="govuk-body">{{ _('We have not saved any information you have entered. When the service is available, you will have to start again.') }}</p>
  <p class="govuk-body">Contact the Civil Legal Advice Helpline if you need urgent information or advice.</p>
  <p class="govuk-body">{{ _('Telephone:') }}<br />
    <strong class="govuk-!-font-weight-bold">{{ _('0345 345 4345') }}</strong>
  </p>
  <p class="govuk-body">{{ _('Textphone:') }}<br />
    <strong class="govuk-!-font-weight-bold">{{ _('0845 609 6677') }}</strong>
  </p>
  <div class="govuk-inset-text">
    <p class="govuk-body">
      {% trans %}Calls will cost approximately 9p per minute from landline. Calls from mobiles may cost more.
    </p>
    <p class="govuk-body">
      If you are worried about the cost, you can request a call-back within 24 hours by either calling the helpline
      or texting 'legal aid' and your name to <strong class="govuk-!-font-weight-bold">80010</strong>. {% endtrans %}
    </p>
  </div>
  <p class="govuk-body">{{ _('Opening times:') }}<br />
    <strong class="govuk-!-font-weight-bold">{{ _('Monday to Friday: 9am to 8pm') }}<br />{{ _('Saturday: 9am to 12.30pm') }}</strong>
  </p>
{% endblock %}

{% block javascripts %}{% endblock %}
{% block ga_pageview -%}
  ga('send', 'pageview', '/{{ code }}' + window.location.pathname + window.location.search);
  // GDS CROSS DOMAIN ANALYTICS
  ga('govuk_shared.send', 'pageview');
{%- endblock %}
