{% extends "base.html" %}

{% block page_title %}{{ _('Service unavailable') }} - {{ super() }}{% endblock %}

{% block inner_content %}
  <h1>{{ _('This service is temporarily unavailable') }}</h1>
  <p>{{ _('This service is not available right now, but we’re working hard to get things up and running again.') }}</p>
  <p>{{ _('You can try again later or call us on 0345 345 4 345.') }}</p>
  <p>{{ _('Minicom: 0345 609 6677') }}</p>
  <p>{{ _('Or text <strong>legalaid</strong> and your name to 80010.') }}</p>
  <p><a href="https://www.gov.uk/call-charges" rel="external" target="_blank">{{ _('Find out about call charges here</a>.') }}</a></p>
  <p>{{ _('This service is only available if you are a resident of England or Wales.') }}</p>
{% endblock %}

{% block javascripts %}{% endblock %}
