<dd class="form-row address-list">
  <select name="address" class="form-control">
    <option value="" disabled>{{count}} addresses found</option>
    <option value="">-- Choose address --</option>
    {{#each items}}
      <option value="{{@index}}">{{this}}</option>
    {{/each}}
  </select>
</dd>
