<div class="FormRow FormRow--inline js-AddressFinder-addressList">
  <label for="address-label" id="id_address-label">
    <span class="FormRow-label"></span>
    <select name="address" class="js-AddressFinder-options">
      <option value="" disabled>{{count}} addresses found</option>
      <option value="">-- Choose address --</option>
      {{#each items}}
      <option value="{{@index}}">{{this}}</option>
      {{/each}}
    </select>
  </label>
</div>