{% extends "checker/base.html" %}{% load i18n humanize helpers %}

{% block page_header %}
  <h1>{% trans "Your finances" %}</h1>
{% endblock %}

{% block checker_content %}

    <p>To check if you can get legal aid you must provide detailed information about your income, your savings, your property, any benefits you receive and also your partner's details.</p>
    <p>Before you start this section you'll need the following items:</p>

    <ul>
       <li>your most recent pay-slips</li>
       <li>your most recent bank statements</li>
       <li>details of any benefits you receive</li>
     </ul>

     <p>If you qualify for legal aid you will get to speak to an advisor. If you do not qualify we'll offer you suggestions on where to get help.</p>

    <div class="Notice">
      <p>This service is for non-criminal cases only. If you've been charged with a crime ask your solicitor about legal aid.</p>
      <p>This service assesses if you qualify for legal aid in England and Wales only.</p>
      <p>All information you provide is confidential and will not be shared.</p>
    </div>

    <form method=post action=".">
      {% csrf_token %}
      {{ wizard.management_form }}
      {{ form.non_field_errors }}

      <div class="FormActions">
        <button type="submit" class="Button" name="submit" value="submit">{% trans "Next step" %}</button>
        <a href="{% url 'checker:checker_step' wizard.steps.prev %}">{% trans "Go back to previous step" %}</a>
      </div>
    </form>

{% endblock %}
