<table>
  <thead>
    <tr>
      <th>Do include</th>
      <th>Don’t include</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p>Jewellery<br>
        Art<br>
        Antiques<br>
        Caravans and other vehicles you don’t use every day<br>
        Musical instruments, unless you’re a professional musician<br></p>
      </td>
      <td>
        <p>Furniture and appliances<br>
        Your TV<br>
        Mobile phones, laptops and other devices<br>
        Clothing<br>
        The car you use every day, unless it is a classic car or luxury vehicle<br>
        Equipment or tools you use for your work<br></p>
      </td>
    </tr>
  </tbody>
</table>
