version: 2.1

orbs:
  slack: circleci/slack@3.4.2

jobs:
  build:
    docker:
      - image: docker:18.09-git
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Login to the ECR Docker registry
          command: |
            if [ -z "$CIRCLE_PR_NUMBER" ]; then
              apk add --no-cache --no-progress py2-pip
              pip install awscli
              ecr_login="$(aws ecr get-login --region $AWS_DEFAULT_REGION --no-include-email)"
              ${ecr_login}
            else
              echo "We do not need to authenticate for forked pull requests."
            fi
      - run:
          name: Build Docker image
          command: |
            docker build --tag application:$CIRCLE_SHA1 \
              --label build.git.sha=$CIRCLE_SHA1 \
              --label build.git.branch=$CIRCLE_BRANCH \
              --label build.url=$CIRCLE_BUILD_URL \
              .
      - run:
          name: Validate Python version
          command: docker run --rm --tty --interactive application:$CIRCLE_SHA1 python --version | grep "2.7"
      - run:
          name: Validate that image runs on Europe/London timezone
          command: docker run --rm --tty --interactive application:$CIRCLE_SHA1 date '+%Z' | egrep "(GMT|BST)"
      - run:
          name: Tag and push Docker images
          command: |
            if [ -z "$CIRCLE_PR_NUMBER" ]; then
              .circleci/tag_and_push_docker_image application:$CIRCLE_SHA1
            else
              echo "We do not need to push Docker images for forked pull requests."
            fi
  lint-with-py2-tools:
    docker:
      - image: circleci/python:2.7
    steps:
      - checkout
      - run:
          name: Setup Python environment
          command: |
            pip install virtualenv
            virtualenv py2-lint-env
      - restore_cache:
          keys:
            - pip-v1-{{ checksum "requirements/py2-lint.txt" }}
      - run:
          name: Install dependencies
          command: |
            source py2-lint-env/bin/activate
            pip install --requirement requirements/py2-lint.txt
      - save_cache:
          key: pip-v1-{{ checksum "requirements/py2-lint.txt" }}
          paths:
            - "~/.cache/pip"
      - run:
          name: Lint with flake8
          command: |
            source py2-lint-env/bin/activate
            flake8 cla_public
  lint-with-py3-tools:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run:
          name: Setup Python environment
          command: |
            pip install virtualenv
            virtualenv py3-lint-env
      - restore_cache:
          keys:
            - pip-v1-{{ checksum "requirements/py3-lint.txt" }}
      - run:
          name: Install dependencies
          command: |
            source py3-lint-env/bin/activate
            pip install --requirement requirements/py3-lint.txt
      - save_cache:
          key: pip-v1-{{ checksum "requirements/py3-lint.txt" }}
          paths:
            - "~/.cache/pip"
      - run:
          name: Check formatting with Black
          command: |
            source py3-lint-env/bin/activate
            black --check --diff cla_public
  test:
    docker:
      - image: circleci/python:2.7
    steps:
      - checkout
      - run:
          name: Setup Python environment
          command: |
            pip install virtualenv
            virtualenv env
            source env/bin/activate
            pip install pip==18.1

      - restore_cache:
          keys:
            - pip-v2-{{ checksum "requirements/base.txt" }}-{{ checksum "requirements/test.txt" }}
      - run:
          name: Install dependencies
          command: |
            source env/bin/activate
            pip install --requirement requirements.txt --requirement requirements/test.txt
            pip check
            # Don't do pip check for packages installed with --no-deps as that will complain about missing dependencies
            pip install --requirement requirements/no-deps.txt --no-deps
      - save_cache:
          key: pip-v2-{{ checksum "requirements/base.txt" }}-{{ checksum "requirements/test.txt" }}-{{ checksum "requirements/no-deps.txt" }}
          paths:
            - "~/.cache/pip"

      - run:
          name: Run unit tests
          command: |
            source env/bin/activate
            coverage run manage.py test
            coverage report -m
            coverage html
            coveralls
      - store_artifacts:
          path: htmlcov
          destination: coverage
      - store_test_results:
          path: test-reports
      - store_artifacts:
          path: test-reports

  staging_deploy:
    docker:
      - image: ${ECR_ENDPOINT}/cloud-platform/tools:circleci
    steps:
      - checkout
      - run:
          name: Initialise Kubernetes staging context
          command: |
            setup-kube-auth
            kubectl config use-context staging
      - deploy:
          name: Deploy laa-cla-public to staging
          command: .circleci/deploy_to_kubernetes staging
      - slack/status

  staging_deploy_helm:
    docker:
      - image: ${ECR_ENDPOINT}/cloud-platform/tools:circleci
    steps:
      - checkout
      - run:
          name: Install helm v3
          command: |
            wget https://get.helm.sh/helm-v3.1.2-linux-amd64.tar.gz
            tar -zxvf helm-v3.1.2-linux-amd64.tar.gz
            mv linux-amd64/helm /usr/local/bin/helm
      - run:
          name: Initialise Kubernetes staging context
          command: |
            setup-kube-auth
            kubectl config use-context staging
      - deploy:
          name: Deploy laa-cla-public to staging
          command: |
            source .circleci/define_build_environment_variables
            ./bin/staging_deploy.sh
            echo "export RELEASE_HOST=$RELEASE_HOST" >> $BASH_ENV
      - slack/notify:
          message: ':tada: Deployed branch $CIRCLE_BRANCH'
          title: '$RELEASE_HOST'
          title_link: 'https://$RELEASE_HOST/start/'

  cleanup_merged:
    docker:
      - image: ${ECR_ENDPOINT}/cloud-platform/tools:circleci
    steps:
      - checkout
      - run:
          name: Install helm v3
          command: |
            wget https://get.helm.sh/helm-v3.1.2-linux-amd64.tar.gz
            tar -zxvf helm-v3.1.2-linux-amd64.tar.gz
            mv linux-amd64/helm /usr/local/bin/helm
      - run:
          name: Initialise Kubernetes staging context
          command: |
            setup-kube-auth
            kubectl config use-context staging
      - run:
          name: Delete staging release
          command: |
            ./bin/delete_staging_release.sh

  production_deploy:
    docker:
      - image: ${ECR_ENDPOINT}/cloud-platform/tools:circleci
    steps:
      - checkout
      - run:
          name: Initialise Kubernetes production context
          command: |
            setup-kube-auth
            kubectl config use-context production
      - deploy:
          name: Deploy laa-cla-public to production
          command: .circleci/deploy_to_kubernetes production
      - slack/status

workflows:
  version: 2
  build-test-and-approval-deploy:
    jobs:
      - lint-with-py2-tools
      - lint-with-py3-tools
      - test
      - cleanup_merged:
          context: laa-cla-public-live-1
      - build:
          requires:
            - lint-with-py2-tools
            - lint-with-py3-tools
            - test
          context: laa-cla-public-live-1
      - staging_deploy_approval:
          type: approval
          requires:
            - build
      - staging_deploy:
          requires:
            - staging_deploy_approval
          context: laa-cla-public-live-1
      - staging_deploy_helm_approval:
          type: approval
          requires:
            - build
      - staging_deploy_helm:
          requires:
            - staging_deploy_helm_approval
          context: laa-cla-public-live-1
      - production_deploy_approval:
          type: approval
          requires:
            - staging_deploy
          filters:
            branches:
              only:
                - master
      - production_deploy:
          requires:
            - production_deploy_approval
          context: laa-cla-public-live-1
