.fieldset-group {
  border: 1px solid $grey-3;
  padding: 5px 15px;
  margin: 40px -15px 0;
  position: relative;

  &:focus {
    outline: 0;
  }

  > .field-error {
    margin-top: 5px;
  }

  legend {
    padding: 0 7px;
    margin-left: -7px;
    line-height: 1;
    cursor: default;
    font-size: 1.1em;
    color: inherit;
  }

  header {
    padding: 10px 15px;
    margin: -5px -15px 15px;
    background: $grey-4;

    h3 {
      display: inline;
      margin: 0;
      font-size: 23px;
    }

    .button-small {
      margin-left: 10px;
      float: right;
    }
  }

  @include media(mobile) {
    border-left: 0;
    border-right: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 5px 15px;
  }
}
