.fieldset-group {
  border: 1px solid $grey-3;
  padding: 5px 15px 15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 40px;

  &:focus {
    outline: 0;
  }

  > .field-error {
    margin-top: 5px;
  }

  header {
    padding: 10px 15px;
    margin: -5px -15px 15px;
    background: $grey-4;

    h3 {
      display: inline;
      margin: 0;
      font-size: 23px;
    }

    .button-small {
      margin-left: 10px;
      float: right;
    }
  }

  @include media(mobile) {
    border-width: 2px 0;
  }
}
