.field-help {
  font-size: .9em;
  margin: 8px 0 12px;
  color: $grey-1;

  p {
    margin: 8px 0 0;
  }

  ul {
    list-style: disc;
    margin: 10px 0;
    padding: 0 0 0 20px;
  }

  li {
    padding: 0;
  }

  &.s-expanded {
    .field-more-info {
      display: block;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.field-description {
  margin-right: 8px;
}
