fieldset {
  border: 0;
  margin: 0;
  position: relative;

  &:focus {
    outline: 0;
  }

  &.m-error:focus:before {
    animation: 220ms reveal-arrow;
    position: absolute;
    top: .1em;
    left: -1.1em;
    content: '';
    border-style: solid;
    border-width: 6px 0 6px 12px;
    border-color: transparent transparent transparent $mellow-red;
  }

  legend {
    padding: 0 7px;
    margin-left: -7px;
    line-height: 1;
    cursor: default;
    font-size: 1.1em;
    color: inherit;
  }

  header {
    padding: 10px 20px;
    margin: -10px -20px 20px;
    background: $grey-4;

    h3 {
      display: inline;
      margin: 0;
      font-size: 23px;
    }

    .button-small {
      margin-left: 10px;
      float: right;
    }
  }
}

.fieldset-group {
  border: 1px solid $grey-3;
  padding: 5px 15px;
  margin: 40px -15px 0;

  > .field-error {
    margin-top: 0;
  }

  &.m-error:focus:before {
    left: 0;
  }

  @include media(mobile) {
    border-left: 0;
    border-right: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 5px 15px;
  }
}

@keyframes reveal-arrow {
  0% {
    opacity: 0;
    transform: translateX(-1em) scale(1.7);
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: translateX(0) scale(1);
  }
}
