fieldset {
  border: 0;
  margin: 0;
  position: relative;

  &:focus {
    outline: 0;
  }

  &.m-error:focus:before {
    position: absolute;
    top: .1em;
    left: -1.1em;
    content: '';
    border-style: solid;
    border-width: 6px 0 6px 12px;
    border-color: transparent transparent transparent $mellow-red;
  }

  &.form-group {
    border-top: 1px solid $grey-3;
  }

  &.fieldset-group {
    border: 1px solid $grey-3;
    padding: 10px 20px;
    margin: 30px -20px;

    > .field-error {
      margin-top: 0;
    }

    &.m-error:focus:before {
      left: 0;
    }

    @include media(mobile) {
      border-left: 0;
      border-right: 0;
      margin-left: -15px;
      margin-right: -15px;
      padding: 5px 15px;
    }
  }

  .fieldset-label {
    padding: 0 10px;
    margin-left: -10px;
    line-height: 1;
    cursor: default;
    font-size: 1.1em;
    color: black;
  }

  header {
    padding: 10px 20px;
    margin: -10px -20px 20px;
    background: $grey-4;

    h3 {
      display: inline;
      margin: 0;
      font-size: 23px;
    }

    .button-small {
      margin-left: 10px;
      float: right;
    }
  }

  .form-subfield .fieldset-label {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  // Errors
  &.m-error {
    .fieldset-label.m-error {
      color: $mellow-red;
      font-weight: bold;
    }

    &.form-subfield {
      border-top: 0;
    }
  }
}
