.field-more-info {
  margin: 8px 0;

  .js-enabled & {
    display: none;
  }
}

.field-more-info-toggle {
  color: $link-colour;
  font-size: .9em;
  padding-left: 13px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: url(../images/icons/icon-dropdown.png) 1px 6px no-repeat;
  background: url(../images/icons/icon-dropdown-2x.png) 1px 6px/8px no-repeat;

  .field-help.s-expanded & {
    background-position: 0 -13px;
  }
}
