.form-group,
.form-group-plain {
  position: relative;
  margin: 40px 0 0;
  outline: 0;

  &:first-child,
  legend + &,
  header + &,
  p + & {
    margin-top: 20px;
  }
}

.form-group {
  > .form-group-label {
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;

    > label,
    > span {
      position: relative;
      padding-right: 10px;

      &:after {
        content: '';
        position: absolute;
        left: 100%;
        right: -1000px;
        bottom: .6em;
        height: 1px;
        background: $grey-3;
      }
    }
  }
}

.form-group-label {
  cursor: default;
  font-size: 1.1em;
  padding: 0;
  color: inherit;

  .form-optional {
    color: $grey-2;

    &:before {
      content: '(';
    }

    &:after {
      content: ')';
    }
  }
}
