.form-row {
  margin: 10px 0 0;
  clear: both;

  &:first-child,
  .sr-only + & {
    margin-top: 0;
  }

  [type="checkbox"],
  [type="radio"] {
    margin: 0 5px 0 0;
    position: relative;
    top: -2px;
  }
}
