.form-subfield {
  margin: 15px 0 0 0;

  .js-enabled &.s-hidden {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
  }

  .js-enabled &.s-expanded {
    @include transition(opacity, ease, 300ms);
    opacity: 1;
  }

  label {
    display: block;
  }

  .label-inline,
  .radio-inline {
    display: inline-block;
    margin-right: 10px;
  }

  .input-prefix {
    margin: 0;
    display: inline-block;
  }

  .radio-inline {
    display: inline-block;
  }
}
