.form-group {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
  border-top: 1px solid #dee0e2;
  outline: 0;

  &:first-child {
    margin-top: 30px;
  }
}

.form-group-plain {
  margin-top: 30px;

  &:first-of-type {
    margin-top: 20px;
  }

  .form-group-label {
    float: none;
    position: static;
  }
}

.form-group-label {
  padding-right: 7px;
  line-height: 1;
  cursor: default;
  font-size: 1.1em;
  float: left;
  position: relative;
  top: -.55em;
  background: white;
}
