.form-group {
  margin-top: 25px;

  &:first-child {
    margin-top: 10px;
  }

  // Subfields
  &.form-subfield {
    margin: 13px 0 0;
    padding-left: 15px;
    border: 0;
    border-left: 4px solid $grey-2;
    border-top: 0;
    position: relative;
    zoom: 1;
    overflow: hidden;

    .input-prefix {
      margin: 0 5px 0 0;
      display: inline-block;
    }
  }
}

.form-group-plain {
  margin-top: 20px;
}
