.FormRow select,
.FormRow button,
.form-control {
  @include core-19;
  border: 1px solid $grey-2;
  padding: 4px;

  &.m-small {
    width: 3em;
  }

  &.m-large {
    width: 16em;
  }

  &.m-larger {
    width: 24em;
  }
}

.FormRow select,
select.form-control {
  height: 35px;
  background: $white;
}

input[type="text"],
input[type="number"] {
  height: 25px;
}

textarea {
  min-height: 100px;
}

.input {
  &-prefix,
  &-suffix {
    display: inline-block;
    text-align: center;
  }

  &-prefix {
    margin-right: 5px;
  }

  &-suffix {
    margin-left: 5px;
  }
}
