.radio-inline {
  padding: .7em 1.2em .55em 2.3em;
  line-height: 1.2;
  border: 1px solid $grey-3;
  background: $grey-3;
  cursor: pointer;
  position: relative;
  zoom: 1;

  &:hover {
    border-color: $black;
  }

  &.s-focused {
    outline: 3px solid $yellow;
  }

  &.s-selected {
    border-color: $black;
    background: $white;
  }

  .js-enabled & input {
    cursor: pointer;
    outline: none;
  }

  input,
  input[type] {
    font-size: 15px;
    margin: .25em 0 0 -20px;
    position: static;
    padding: 0;
    float: left;
  }
}

.radio-inline {
  display: inline-block;
  margin-right: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.block-inline {
  display: inline-block;
  padding: 6px 0;
  white-space: nowrap;
}
