%radio-label {
  border: 1px solid $grey-3;
  background: $grey-3;
  cursor: pointer;
  position: relative;
  zoom: 1;

  &:hover {
    border-color: $black;
  }

  &.s-focused {
    outline: 3px solid $yellow;
  }

  &.s-selected {
    border-color: $black;
    background: $white;
  }

  .js-enabled & input {
    cursor: pointer;
    outline: none;
  }
}

.block-label {
  @extend %radio-label;
  display: block;
  padding: 15px 15px 15px 45px;

  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    top: 15px;
    left: 18px;
  }

  .alert {
    font-size: .9em;
    margin: 10px 0 0;

    .js-enabled & {
      display: none;
    }
  }

  &.s-selected {
    .alert-info {
      display: block;
    }
  }

  .field-help {
    margin-bottom: 0;
  }
}


.radio-inline {
  @extend %radio-label;
  display: inline-block;
  padding: 13px 30px 10px;
  margin-right: 10px;
}
