fieldset {
  margin: 20px 0;

  header {
    @extend %contain-floats;
    margin: 0 0 10px;

    h3 {
      display: inline-block;
      margin: 0;
    }

    button {
      margin-left: 10px;
      vertical-align: top;
    }
  }
}

.form-row {
  input[type="checkbox"],
  input[type="radio"] {
    margin: 0 5px 0 0;
    position: relative;
    top: -2px;
  }
}

.form-field {
  margin: 15px 0 0;

  &:first-child {
    margin: 0;
  }
}

.form-option-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 5px 0;
  }
}

.form-actions {
  margin-top: 40px;
}

// Honeypot field
.hp-field {
  display: none;
}
