fieldset {
  margin: 20px 0;

  header {
    @extend %contain-floats;
    margin: 0 0 10px;

    h3 {
      float: left;
    }

    button {
      float: right;
    }
  }
}

.form-group {
  margin: 2px 0;
  background: $grey-4;
  padding: 20px 0;

  &.m-error {
    background: rgba($red, .1);
  }

  .form-row {
    padding: 0 20px;
    margin: 0;

    & + .form-row {
      margin-top: 10px;
    }
  }
}

.form-row {
  input[type="checkbox"],
  input[type="radio"] {
    margin: 0 5px 0 0;
    position: relative;
    top: -2px;
  }

  ul {
    margin: 0 0 -5px;
    padding: 0;
    list-style: none;
  }

  li {
    padding: 5px;
  }
}

.block-label {
  .form-label {
    display: block;
    padding: 18px 30px 15px 45px;
    margin: -20px;
    background: $grey-4;
    border: 1px solid $grey-3;
    cursor: pointer;

    &:hover {
      border-color: $grey-2;
      background: $white;
    }

    > input[type="checkbox"],
    > input[type="radio"] {
      margin-left: -24px;
    }
  }
}

.radio-inline {
  display: inline-block;
  padding: 0 10px;
}

.field-help {
  font-size: .9em;
  margin: 8px 0;
  color: $grey-1;

  p {
    margin: 8px 0 0;
  }

  ul {
    list-style: disc;
    margin: 10px 0 10px 20px;
  }

  li {
    padding: 0;
  }
}

.field-help {
  &.s-expanded {
    .field-more-info {
      display: block;
    }

    .field-more-info-toggle:before {
      content: '▾';
    }
  }
}

.field-more-info-toggle {
  color: $link-colour;
  font-size: .9em;
  padding-left: 13px;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:before {
    content: '▸';
    float: left;
    font-size: 16px;
    margin-left: -13px;
  }
}

.field-more-info {
  margin: 8px 0;

  .js-enabled & {
    display: none;
  }
}
