.form-group {
  margin: 2px 0;
  background: $grey-4;
  padding: 20px 0;

  &.m-error {
    background: rgba($red, .1);
  }

  .form-row {
    padding: 0 20px;
    margin: 0;

    & + .form-row {
      margin-top: 10px;
    }
  }
}

.form-row {
  input[type="checkbox"],
  input[type="radio"] {
    margin: 0 5px 0 0;
    position: relative;
    top: -2px;
  }

  ul {
    margin: 0 0 -5px;
    padding: 0;
    list-style: none;

    > li {
      padding: 5px;
    }
  }
}

.block-label {
  .form-label {
    display: block;
    padding: 18px 30px 15px 45px;
    margin: -20px;
    background: $grey-4;
    border: 1px solid $grey-3;
    cursor: pointer;

    &:hover {
      border-color: $grey-2;
      background: $white;
    }

    > input[type="checkbox"],
    > input[type="radio"] {
      margin-left: -24px;
    }
  }
}

.field-help {
  font-size: .9em;
  margin-top: 5px;
  color: $grey-1;
}

.radio-inline {
  display: inline-block;
  padding: 0 10px;
}
