.Button {
  @include button;
  @include border-radius(3px);
  @include core-19;
  
  &:link {
    color: $white;
  }
  & + * {
    margin-left: 20px;
  }
  
  // modifiers
  &--secondary {
    @include button($grey-3);
    @include border-radius(3px);
    @include core-19;

    &:link {
      color: $black;
    }
  }
  &--warning {
    @include button($red);
    @include border-radius(3px);
    @include core-19;

    &:link {
      color: $white;
    }
  }
  &--text {
    @include button(transparent);
    @include core-19;
    color: $link-colour;
    text-decoration: underline;
    
    &:visited {
      color: $link-visited-colour;
    }
    &:hover {
      color: $link-hover-colour;
    }
    &:active {
      color: $link-active-colour;
    }
  }
}