$error-colour: #E32C2E;
$error-bg-colour: #FAEBEC;
$fieldset-error-bg-colour: #FDF8F5;

.ErrorSummary {
  background-color: $error-bg-colour;
  border: 3px solid $error-colour;
  padding: 1.5em 2em 1em;
  margin-top: 1em;
  margin-bottom: 3em;

  .ErrorSummary-heading {
    @include bold-24;
  }

  p {
    padding: 0;
    @include core-16;
  }

  .ErrorSummary-list {
    @include core-16;
    color: $error-colour;
    padding-left: 0;
  }

  .ErrorSummary-listItem {
    margin: 0 0 0.25em;
    list-style: none;

    a {
      color: $error-colour;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.Error {
  background-color: $error-bg-colour;
  border-left: 3px solid $error-colour;
  padding: 1em 1em;
  margin: {
    left: -1em;
    right: -1em;
  }

  details summary {
    top: 1em;
    right: 1em;
  }

  &.FormRow--group {
    padding: 0;

    .FormRow-label {
      background-color: transparent;
    }
  }
}

.Error-message {
  @include core-16;
  display: block;
  padding: 0.2em 0;
  color: $error-colour;
}

.FormBlock--grey {
  &.FieldsetError {
    background-color: $fieldset-error-bg-colour;
  }   

 .Error {
    margin: {
      left: -3.125em;
      right: -3.125em;
    };
    padding: {
      left: 3.125em;
      right: 3.125em;
    }
  }
}