$select-colour: #D5E8F4;
$focus-colour: $yellow;
$border-colour: #C2C2C2;



.FormBlock {
  margin: 0;

  &--grey {
    padding: 1.5em 3.125em;
    margin: 0 0 2em;
    border-width: 1px 0;
    border-color: $border-colour;
    border-style: solid;
    background-color: $grey-4;
  }
}
.FormBlock-label {
  @include heading-24;
  margin-bottom: 10px;
}

.FormRow {
  margin: 20px 0;
  padding: 0;
  position: relative;
  clear: both;

  label {
    @include core-19;
  }

  .FormRow-label {
    @include core-19;
    margin: 0 0 5px;
    padding: 0 0 0 0;
    display: block;

    &--odd {
      background-color: #f1f1f1;
    }
  }

  .FormRow-inner {
    padding: 10px 60px 0;
    margin: 10px 0 0;

    label {
      display: block;
      margin: 0 0 15px;
    }
  }

  .FormRow-prefix,
  .FormRow-suffix {
    display: inline-block;
    float: left;
    height: 32px;
    width: 32px;
    line-height: 32px;
    border: 1px solid $border-colour;
    text-align: center;
    @include box-sizing(border-box);
  }
  .FormRow-prefix {
    border-right: 0;
  }
  .FormRow-suffix {
    border-left: 0;
  }
  .FormRow-help {
    display: block;
    clear: both;
    @include box-sizing(border-box);

    @include media(960px) {
      float: left;
      clear: none;
      padding-top: 3px;
      margin-left: 15px;
    }
  }
  
  input[type=text],
  input[type=password],
  input[type=number] {
    @include core-24;
    font-size: 23px;
    border: 1px solid $border-colour;
    padding: 2px 4px;
    margin: 0;
    height: 32px;
    display: inline-block;
    float: left;
    width: 230px;
    @include box-sizing(border-box);
  }
  textarea {
    @include core-19;
    width: 100%;
    height: auto;
    display: inline-block;
    border: 1px solid $border-colour;
    padding: 2px 4px;
    margin: 0;
    @include box-sizing(border-box);
  }

  // size modifiers 
  input.FormRow-field--l,
  textarea.FormRow-field--l {
    width: 420px;
  }
  input.FormRow-field--s,
  textarea.FormRow-field--s {
    width: 100px;
  }
  input.FormRow-field--xs,
  textarea.FormRow-field--xs {
    width: 50px;
  }
  // shorten if in column
  .Grid-col--1-3 {
    .FormRow-prefix,
    .FormRow-suffix {
      width: 11.5942%;
    }
    input[type=text],
    input[type=password],
    input[type=number] {
      width: 82.4058%;
    }
  }
  // remove spinner
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .FormRow-option {
    display: block;
    float: left;
    clear: both;
    padding: 10px 25px 10px 20px;
    margin: 1px 10px 0;
    @include label-focusSelect;

    input {
      margin-right: 20px;
    }
  }
  .QuestionPrompt-answer {
    margin: 0;
  }
  
  // modifiers
  &--group {
    margin: 0 0 1px;
    padding: 0;

    .FormRow-label {
      padding: 25px;
      margin: 0;
      display: block;
      position: relative;
      @include label-focusSelect;

      input {
        margin-right: 20px;
      }
    }

    &:first-child {
      margin-top: 25px;
    }
    &:last-child {
      margin-bottom: 25px;
    }
  }

  &--details {
    .FormRow-label {
      padding-right: 145px;
    }

    details {
      summary {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
      }
    }

    &.FormRow--group {
      details {
        summary {
          top: 25px;
          right: 25px;
        }
        div {
          padding-left: 60px;
          padding-right: 60px;
        }
      }
    }
  }

  &--help {
    .Grid-col--1-3 {
      input[type=text],
      input[type=password],
      input[type=number] {
        width: 47.4058%;
      }
      .FormRow-help {
        @include media(960px) {
          width: 35%;
        }
      }
    }
  }

  &--inline {
    .FormRow-label {
      float: left;
      width: 200px;
      margin: 0;
      padding-top: 5px;
    }
    select,
    input[type=text],
    input[type=password],
    input[type=number],
    textarea {
      float: left;
    }
  }

  &.QuestionPrompt--active {
    .FormRow-label {
      font-weight: 700;
    }
  }
}

.FieldGroup {
  padding-bottom: 15px;

  .FieldGroup-label {
    @include core-19;
  }
  .FormRow-label {
    text-indent: 40px;
  }
}

.FormActions {
  margin: 50px 0 0;
  @include core-19;
}