.FormBlock {
  margin: 0;

  &.FormBlock--grey {
    padding: 25px 50px;
    margin: 0 0 30px;
    border-width: 1px 0;
    border-color: #C2C2C2;
    border-style: solid;
    background-color: $grey-4;
  }

  .FormRow {
    padding: 25px;
  }
}

.FormRow {
  padding: 15px 0;
  margin: 0 0 1px;
  position: relative;

  .FormRow-label {
    @include core-19;

    &.FormRow-label--odd {
      background-color: #f1f1f1;
    }
  }
  legend.FormRow-label {
    padding: 20px 145px 0 0;
    margin: 0 0 -5px;
  }

  .FormRow-inner {
    border-left: 3px solid #ccc;
    padding: 10px 60px;
    margin: 10px 0 25px;
  }

  details {
    summary {
      position: absolute;
      right: 25px;
      top: 25px;
      z-index: 2;
    }
  }

  .FormRow-option {
    display: block;
    padding: 5px 30px;

    input {
      margin-right: 20px;
    }
  }
  .QuestionPrompt-answer {
    margin: 0;
  }
  
  // modifiers
  &.FormRow--group {
    padding: 0;

    .FormRow-label {
      padding: 25px;
      display: block;
      position: relative;

      input {
        margin-right: 20px;
      }

      &.is-selected {
        background-color: #D5E8F4;
      }

      &.is-focused {
        outline: 3px solid $yellow;
        position: relative;
        z-index: 1;

        input:focus {
          outline: none;
          background: none;
        }
      }
    }

    details div {
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  &.QuestionPrompt--active {
    legend {
      font-weight: 700;
    }
  }
}

.FormActions {
  .Button {
    margin-right: 20px;
  }
}