$help-colour: $yellow;
$help-bg-colour: $yellow-25;

.Help {
  background-color: $help-bg-colour;
  border-left: 3px solid $help-colour;
  padding: 0.625em 1em;
  margin: {
    left: -1em;
    right: -1em;
  }

  details summary {
    top: 1em;
    right: 1em;
  }

  .FormRow-label {
    background-color: transparent;
  }

  &.FormRow--group {
    padding: 0;
  }
}

.FormBlock--grey {
 .Help {
    margin: {
      left: -3.125em;
      right: -3.125em;
    };
    padding: {
      left: 2.9375em;
      right: 3.125em;
    }
  }
}