$help-colour: $yellow;
$help-bg-colour: $yellow-25;

.Help {
  background-color: $help-bg-colour;
  border-left: 3px solid $help-colour;
  padding: 0.625em 1em;
  margin: {
    left: -1em;
    right: -1em;
  }

  details summary {
    top: 1em;
    right: 1em;
  }

  .FormRow-label {
    background-color: transparent;
  }

  &.FormRow--group {
    padding: 0;
  }
}

.Help-text {
  display: none;
  color: $grey-1;
  @include core-16;
  margin: 0;
  padding: 0 0 0 25px;
  background-repeat: no-repeat;
  background-position: left 3px;
  @include svg-bg("../images/icons/info");

  .Help & {
    display: block;
  }
}

.FormBlock--grey {
 .Help {
    margin: {
      left: -3.125em;
      right: -3.125em;
    };
    padding: {
      left: 2.9375em;
      right: 3.125em;
    }
  }
}