.Notice {
  border-left: 3px solid $orange;
  background-color: lighten($orange-25, 6%);
  padding: 12px 40px;
  margin: 15px 0 40px;

  p {
    @include core-16;
    padding: {
      top: 5px;
      bottom: 5px;
    };
  }
}