{% load i18n helpers wizard_tags %}{% get_wizard_errors form as form_errors %}
{% if form_errors %}
  <div class="ErrorSummary" role="alert" aria-labelledby="error-heading" tabindex="-1">
    <h2 class="ErrorSummary-heading" id="error-heading">{% trans "There was a problem submitting the form" %}</h2>
    <p>{% trans "Because of the following problems:" %}</p>
    <ol class="ErrorSummary-list">
        {% for field_obj, errors in form_errors %}
          <li class="ErrorSummary-listItem"><a href="#{{ field_obj.auto_id }}-label">
            {{ field_obj.label }}
            {% for error in errors %}
              {% if not forloop.first  %}
                {% trans "and" %}
              {% endif %}
              {{ error }}
            {% endfor %}
          </a></li>
      {% endfor %}

    </ol>
  </div>
{% endif %}
