{% load i18n widget_tweaks %}
{% if form %}
  <section>
    <h2 id="{{form.prefix}}-label" class="FormBlock-label">{% trans fieldset_label %}</h2>

    <div class="FormBlock FormBlock--grey" aria-labelledby="{{form.prefix}}-label" role="group">
      <div class="FormRow cf">
        {{ form.dependants_old.errors }}
        <label for="{{ form.dependants_old.id_for_label }}">
          <span class="FormRow-label">{{ form.dependants_old.label }}</span>
          {{ form.dependants_old|add_class:"FormRow-field--xs" }}
        </label>
      </div>

      <div class="FormRow cf">
        {{ form.dependants_young.errors }}
        <label for="{{ form.dependants_young.id_for_label }}">
          <span class="FormRow-label">{{ form.dependants_young.label }}</span>
          {{ form.dependants_young|add_class:"FormRow-field--xs" }}
        </label>
      </div>
    </div>
  </section>
{% endif %}
