{% load i18n core_forms_tags %}
{% if form %}
  {% style_form form %}
  <section>
    <h2 id="{{form.prefix}}-label" class="FormBlock-label">{% trans fieldset_label %}</h2>

    <div class="FormBlock FormBlock--grey" aria-labelledby="{{form.prefix}}-label" role="group">
      <div class="FormRow cf">
        {{ form.earnings.errors }}
        <label for="{{ form.earnings.id_for_label }}">
          <span class="FormRow-label">{{ form.earnings.label }}</span>
          <span class="FormRow-prefix">&pound;</span>
          {{ form.earnings }}
        </label>
      </div>

      <div class="FormRow cf">
        {{ form.other_income.errors }}
        <label for="{{ form.other_income.id_for_label }}">
          <span class="FormRow-label">{{ form.other_income.label }}</span>
          <span class="FormRow-prefix">&pound;</span>
          {{ form.other_income }}
        </label>
      </div>

      <div class="FormRow cf" role="radiogroup" aria-labelledby="{{ form.self_employed.id_for_label }}-label">
        {{ form.self_employed.errors }}
        <p class="FormRow-label" id="{{ form.self_employed.id_for_label }}-label">{{ form.self_employed.label }}</p>
        
        {% for choice in form.self_employed.field.choices %}
        <label for="{{ form.self_employed.auto_id }}_{{ forloop.counter0 }}" class="FormRow-option">
          <input type="radio" name="{{ form.self_employed.html_name }}" id="{{ form.self_employed.auto_id }}_{{ forloop.counter0 }}" value="{{ choice.0 }}"{% if form.self_employed.value|stringformat:"s" == choice.0|stringformat:"s" %} checked="checked"{% endif %}>
          {{ choice.1 }}
        </label>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
