{% load core_forms_tags %}{% style_form form %}
<section>
  <h2 id="{{form.prefix}}-label" class="FormBlock-label">{{ fieldset_label }}</h2>

  <div class="FormBlock FormBlock--grey" aria-labelledby="{{form.prefix}}-label" role="group">
    <div class="FormRow cf">
      {{ form.bank.errors }}
      <label for="{{ form.bank.id_for_label }}">
        <span class="FormRow-label">{{ form.bank.label }}</span>
        <span class="FormRow-prefix">&pound;</span>
        {{ form.bank }}
      </label>
    </div>

    <div class="FormRow cf">
      {{ form.investments.errors }}
      <label for="{{ form.investments.id_for_label }}">
        <span class="FormRow-label">{{ form.investments.label }}</span>
        <span class="FormRow-prefix">&pound;</span>
        {{ form.investments }}
      </label>
    </div>

    <div class="FormRow cf">
      {{ form.valuable_items.errors }}
      <label for="{{ form.valuable_items.id_for_label }}">
        <span class="FormRow-label">{{ form.valuable_items.label }}</span>
        <span class="FormRow-prefix">&pound;</span>
        {{ form.valuable_items }}
      </label>
    </div>

    <div class="FormRow cf">
      {{ form.money_owed.errors }}
      <label for="{{ form.money_owed.id_for_label }}">
        <span class="FormRow-label">{{ form.money_owed.label }}</span>
        <span class="FormRow-prefix">&pound;</span>
        {{ form.money_owed }}
      </label>
    </div>
  </div>
</section>