{% load i18n widget_tweaks %}
{% if form %}
  <section>
    <h2 id="{{form.prefix}}-label" class="FormBlock-label">{% trans fieldset_label %}</h2>
    
    <div class="FormBlock FormBlock--grey{% if form.errors %} FieldsetError{% endif %}" aria-labelledby="{{form.prefix}}-label" role="group">
      {% for fieldset in form.fieldsets %}
        {% for field in fieldset %}
          <div class="FormRow Grid cf{% if field.errors %} Error{% endif %}">
            <label for="{{ field.id_for_label }}" id="{{ field.auto_id }}-label" class="Grid-col Grid-col--1-3">
              <span class="FormRow-label">
                {{ field.label }}
                {% for error in field.errors %}
                  <span class="Error-message">{{ error }}</span>
                {% endfor %}
              </span>
              <span class="FormRow-prefix">&pound;</span>
              {{ field|add_class:"FormRow-field--interval" }}
            </label>
            <div class="Grid-col Grid-col--2-3">
              <p class="Help-text">
                {{ field.help_text }}
              </p>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </section>
{% endif %}
