{% load widget_tweaks %}
<div class="FormRow cf">
  {{ form.worth.errors }}
  <label for="{{ form.worth.id_for_label }}">
    <span class="FormRow-label">{{ form.worth.label }}</span>
    <span class="FormRow-prefix">&pound;</span>
    {{ form.worth }}
  </label>
</div>

<div class="FormRow cf">
  {{ form.mortgage_left.errors }}
  <label for="{{ form.mortgage_left.id_for_label }}">
    <span class="FormRow-label">{{ form.mortgage_left.label }}</span>
    <span class="FormRow-prefix">&pound;</span>
    {{ form.mortgage_left }}
  </label>
</div>

<div class="FormRow cf" role="radiogroup" aria-labelledby="{{ form.owner.id_for_label }}-label">
  {{ form.owner.errors }}
  <p class="FormRow-label" id="{{ form.owner.id_for_label }}-label">{{ form.owner.label }}</p>
  
  {% for choice in form.owner.field.choices %}
  <label for="{{ form.owner.auto_id }}_{{ forloop.counter0 }}" class="FormRow-option">
    <input type="radio" name="{{ form.owner.html_name }}" id="{{ form.owner.auto_id }}_{{ forloop.counter0 }}" value="{{ choice.0 }}"{% if form.owner.value|stringformat:"s" == choice.0|stringformat:"s" %} checked="checked"{% endif %}>
    {{ choice.1 }}
  </label>
  {% endfor %}
</div>

<div class="FormRow cf">
  {{ form.share.errors }}
  <label for="{{ form.share.id_for_label }}">
    <span class="FormRow-label">{{ form.share.label }}</span>
    {{ form.share|add_class:"FormRow-field--s" }}
    <span class="FormRow-suffix">%</span>
  </label>
</div>

<hr class="u-HorLine">