{% load core_forms_tags %}{% style_form form %}
<fieldset class="FormBlock FormBlock--grey">
  <legend class="FormBlock-legend">Your property</legend>

  <div class="form-group">
    {{ form.worth.errors }}
    <div>{{ form.worth.label_tag }}</div>

    <div class="input-group col-xs-3 row">
      <span class="input-group-addon">&pound;</span>
      {{ form.worth }}
    </div>
  </div>

  <div class="form-group">
    {{ form.mortgage_left.errors }}
    <div>{{ form.mortgage_left.label_tag }}</div>

    <div class="input-group col-xs-3 row">
      <span class="input-group-addon">&pound;</span>
      {{ form.mortgage_left }}
    </div>
  </div>

  <div>
    {{ form.owner.errors }}
    <div>{{ form.owner.label_tag }}</div>
    <div>{{ form.owner }}</div>
  </div>

  <div class="form-group">
    {{ form.share.errors }}
    <div>{{ form.share.label_tag }}</div>

    <div class="input-group col-xs-2 row">
      <span class="input-group-addon">%</span>
      {{ form.share }}
    </div>
  </div>
</fieldset>
