{% load i18n means_summary_tags helpers %}

{% if history_data and eligibility_check %}{% get_means_summary eligibility_check as sections %}

  {% for section in sections %}
    <section class="SummaryBlock">
      <h2 class="SummaryBlock-heading">{{section.header}}</h2>
      <ul class="SummaryBlock-list">

      {% for item in section.items %}
        <li>{{item|safe}}</li>
      {% endfor %}
      </ul>

      {% if not read_only and section.step %}
      <a href="{% url 'checker:checker_step' section.step %}" class="SummaryBlock-edit">{% trans "Change these answers" %}</a>
      {% endif %}
    </section>
  {% endfor %}

  {% if history_data.result.contact_details %}{% with history_data.result.contact_details as data %}
    <section class="SummaryBlock">
      <h2 class="SummaryBlock-heading">{% trans "Contact details" %}</h2>
      <div class="SummaryBlock-list">
        <p>{{data.title|capfirst}} {{data.full_name}}</p>
        <p>{{data.street}}</p>
        <p>{{data.town}} {{data.postcode}}</p>

        <p>{% trans "Mobile" %}: {{data.mobile_phone|default:"-"}}</p>
        <p>{% trans "Home" %}: {{data.home_phone|default:"-"}}</p>
      </div>
    </section>
  {% endwith %}{% endif %}


  
  {% if eligibility_check.notes %}
  <section class="SummaryBlock CommentBlock">
    <h2 class="SummaryBlock-heading">{% trans "Additional details" %}</h2>
    <div class="SummaryBlock-list">
      <blockquote class="Quote">{{ eligibility_check.notes|linebreaksbr }}</blockquote>
    </div>
  </section>
  {% endif %}
{% endif %}
