.TextIcon {
  background: {
    repeat: no-repeat;
    position: left top;
  };
  padding-left: 81px;
}

.TextIcon--tick {
  @include svg-bg("../images/icons/tick");
}
.TextIcon--cross {
  @include svg-bg("../images/icons/cross");
}


.IconRow {
  padding-left: 28px;
  background: {
    position: left 7px;
    repeat: no-repeat;
  }
}
.IconRow--name { @include svg-bg("../images/icons/user") }
.IconRow--address { @include svg-bg("../images/icons/house") }
.IconRow--phone { @include svg-bg("../images/icons/phone") }
.IconRow--email { @include svg-bg("../images/icons/email") }
.IconRow--comments { @include svg-bg("../images/icons/comments") }