.PageHeader {
  padding: 40px 0 0;
  p {
    @include core-19;
  }
}

h1 {
  @include heading-48;
  font-weight: 700;
}
h2 {
  @include heading-36;
  font-weight: 700;
}
h3 {
  @include core-36;
}
h4 {
  @include core-24;
}
p {
  @include core-19;
}
