// GOV.UK Toolkit imports
@import "govuk_frontend_toolkit/stylesheets/colours";
@import "govuk_frontend_toolkit/stylesheets/conditionals";
@import "govuk_frontend_toolkit/stylesheets/css3";
@import "govuk_frontend_toolkit/stylesheets/device-pixels";
@import "govuk_frontend_toolkit/stylesheets/font_stack";
@import "govuk_frontend_toolkit/stylesheets/measurements";
@import "govuk_frontend_toolkit/stylesheets/shims";
@import "govuk_frontend_toolkit/stylesheets/typography";
@import "govuk_frontend_toolkit/stylesheets/design-patterns/buttons";

// Extras
@import "typography";
@import "utilities";
@import "mixins";
@import "icons";

// Design patterns
@import "design-patterns/grid";
@import "design-patterns/forms";
@import "design-patterns/errors";
@import "design-patterns/inline-help";
@import "design-patterns/buttons";
@import "design-patterns/details";
@import "design-patterns/notice";
@import "design-patterns/quotes";
@import "design-patterns/callout-block";
@import "design-patterns/summary-block";
@import "design-patterns/comment-block";
@import "design-patterns/sub-total";
@import "design-patterns/conditional-content";
@import "design-patterns/progress-indicator";

// View
@import "views/start-page";
@import "views/result-page";
@import "views/confirmation-page";





// Shamefully sitting all alone at the bottom of the page...
@import "shame";