@import 'ie-common';

fieldset header {
  position: relative;

  .button-small {
    position: absolute;
    top: 7px;
    right: 20px;
  }
}

.progress .progress-step {
  &:before,
  &:after {
    content: none;
  }

  &.m-collapsed {
    display: none;
  }

  .step-status {
    border: 0;
    margin-top: 1px;
  }
}

.js-enabled .s-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
