@import 'ie-common';

fieldset header {
  position: relative;

  .button-small {
    position: absolute;
    top: 7px;
    right: 20px;
  }
}

.progress .progress-step {
  &:before,
  &:after {
    content: none;
  }

  &.m-collapsed {
    display: none;
  }

  .step-status {
    margin-top: 1px;
  }
}

.previous, .scope-options {
  a {
    zoom: 1;
  }
}

.error-summary li {
  vertical-align: middle;
  zoom: 1;
}


fieldset legend {
  margin-left: -.9em;
}

.answers-summary .answers-item .step-name {
  position: relative;
  top: -10px;
  left: -25px;
  margin-bottom: -21px;
  width: 100%;
}
