@import 'ie-common';

.progress .progress-step {
  &:before,
  &:after, {
    content: none;
  }

  &.m-collapsed {
    display: none;
  }

  .step-status {
    height: 11px;
    width: 11px;
  }
}

.scope-options-list-item a:before {
  content: '';
}
