html,
body {
  height: 100%;
}

body {
  background: #d9d7de;
}

.glyptotheque {
  padding: 20px;
  min-height: 100%;
  overflow: hidden;
  background: lighten($light-grey, 5);
  box-shadow: -1px 0 0 rgba(black, .1);
  position: relative;

  > header {
    margin: 0 0 30px;
    padding: 21px 0 0;
    border-bottom: 1px solid #ccc;

    h1 {
      font-size: 28px;
      font-weight: 400;
      margin: 0;
      padding-bottom: 4px;
      border-bottom: 4px solid #ccc;
      display: inline-block;
    }
  }
}

.glypto-section {
  margin: 0 -20px 30px;
  padding: 0 20px 30px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px rgba(white, .4);

  &:last-child {
    box-shadow: none;
    border: 0;
  }

  h2 {
    font-weight: 400;
    font-size: 22px;
    margin: 0;
  }

  .glypto-title {
    a {
      color: #0070a8;
      text-decoration: none;

      &:hover {
        color: $hover-orange;
      }
    }
  }
}
