.v-StartPage {
  .PageHeader {
    padding: {
      top: 60px;
      bottom: 30px;
    }

    h1 {
      
    }
    p {
      @include core-24;
      padding: 0;
      margin: 0;
    }
  }

  #content h2 {
    font-size: 32px;
    padding-top: 18px;
    padding-bottom: 0;
  }
}