@charset "UTF-8";
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
.Grid .Grid-col {
  float: left;
  width: 100%; }
  .Grid .Grid-col.Grid-col--1-3 {
    width: 32.35294%;
    margin-right: 1.47059%; }
    .Grid .Grid-col.Grid-col--1-3:last-child {
      margin-right: 0; }
  .Grid .Grid-col.Grid-col--2-3 {
    width: 66.17647%;
    margin-right: 1.47059%; }
    .Grid .Grid-col.Grid-col--2-3:last-child {
      margin-right: 0; }

.FormBlock {
  margin: 0; }
  .FormBlock.FormBlock--grey {
    padding: 25px 50px;
    margin: 0 0 30px;
    border-width: 1px 0;
    border-color: #C2C2C2;
    border-style: solid;
    background-color: #f8f8f8; }

.FormRow {
  padding: 25px;
  margin: 0 0 1px;
  position: relative; }
  .FormRow .FormRow-label {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none; }
    @media (max-width: 640px) {
      .FormRow .FormRow-label {
        font-size: 16px;
        line-height: 1.25; } }
    .FormRow .FormRow-label.FormRow-label--odd {
      background-color: #f1f1f1; }
  .FormRow .FormRow-inner {
    border-left: 3px solid #ccc;
    padding: 10px 60px; }
  .FormRow.FormRow--group {
    padding: 0; }
    .FormRow.FormRow--group .FormRow-label {
      padding: 25px;
      display: block;
      position: relative; }
      .FormRow.FormRow--group .FormRow-label input {
        margin-right: 20px; }
      .FormRow.FormRow--group .FormRow-label.is-selected {
        background-color: #D5E8F4; }
      .FormRow.FormRow--group .FormRow-label.is-focused {
        outline: 3px solid #ffbf47;
        position: relative;
        z-index: 1; }
        .FormRow.FormRow--group .FormRow-label.is-focused input:focus {
          outline: none;
          background: none; }
  .FormRow details summary {
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 2; }

.FormActions .Button {
  margin-right: 20px; }

.Button {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003518;
  -moz-box-shadow: 0 2px 0 #003518;
  box-shadow: 0 2px 0 #003518;
  border-bottom: 2px solid #003518;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .Button:visited {
    background-color: #00823b; }
  .Button:hover, .Button:focus {
    background-color: #00692f; }
  .Button:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #00823b;
    -moz-box-shadow: 0 0 0 #00823b;
    box-shadow: 0 0 0 #00823b; }
  .Button.disabled, .Button[disabled="disabled"], .Button[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .Button.disabled:hover, .Button[disabled="disabled"]:hover, .Button[disabled]:hover {
      cursor: default;
      background-color: #00823b; }
    .Button.disabled:active, .Button[disabled="disabled"]:active, .Button[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #003518;
      -moz-box-shadow: 0 2px 0 #003518;
      box-shadow: 0 2px 0 #003518;
      border-bottom: 2px solid #003518; }
  .Button:link, .Button:hover, .Button:focus, .Button:visited {
    color: white; }
  .Button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .Button:active:before {
    top: -10%;
    height: 120%; }
  .Button[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }
  .Button[type="submit"], .Button[type="reset"], .Button[type="button"] {
    filter: chroma(color=black); }
  .Button[type=submit].button {
    filter: none; }
  .Button.Button--secondary {
    background-color: #dee0e2; }
  .Button.Button--warning {
    background-color: #b10e1e; }

details {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  display: block; }
  @media (max-width: 640px) {
    details {
      font-size: 16px;
      line-height: 1.25; } }
  details summary {
    display: block;
    color: #005ea5;
    cursor: pointer;
    text-decoration: underline; }
    details summary:focus {
      background-color: #ffbf47;
      outline: 3px solid #ffbf47; }
  details div {
    border-left: 3px solid #ccc;
    padding: 10px 60px;
    margin-top: 10px;
    margin-bottom: 25px; }

.no-details details summary:before {
  content: "►";
  float: left;
  width: 25px;
  font-size: 0.8em;
  line-height: 1.7em; }
.no-details details.open summary:before {
  content: "▼ "; }

.ProgressIndicator {
  list-style: none;
  display: table;
  background: #F3F9FD;
  width: 100%;
  margin: 40px 0;
  padding: 0;
  border: 1px solid #E0EEF9; }
  .ProgressIndicator .ProgressIndicator-step {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    display: table-cell;
    color: #6f777b;
    text-align: center;
    vertical-align: middle;
    height: 51px;
    padding-left: 15px;
    position: relative; }
    @media (max-width: 640px) {
      .ProgressIndicator .ProgressIndicator-step {
        font-size: 16px;
        line-height: 1.25; } }
    .ProgressIndicator .ProgressIndicator-step .ProgressIndicator-tick {
      background: url(../images/progress-indicator/tick.png) right center no-repeat;
      padding-right: 22px; }
    .ProgressIndicator .ProgressIndicator-step:after {
      content: "";
      display: block;
      background: url(../images/progress-indicator/chevron.png) right center no-repeat;
      height: 100%;
      width: 15px;
      position: absolute;
      z-index: 10;
      right: -15px;
      top: 0; }
    .ProgressIndicator .ProgressIndicator-step:first-child {
      padding-left: 0; }
    .ProgressIndicator .ProgressIndicator-step:last-child:after {
      display: none; }
    .ProgressIndicator .ProgressIndicator-step.is-complete {
      color: #248BC7;
      font-weight: 700; }
      .ProgressIndicator .ProgressIndicator-step.is-complete a {
        color: #248BC7;
        text-decoration: none; }
        .ProgressIndicator .ProgressIndicator-step.is-complete a:hover {
          text-decoration: underline; }
    .ProgressIndicator .ProgressIndicator-step.is-active {
      color: #fff;
      font-weight: 700;
      background-color: #248BC7; }
      .ProgressIndicator .ProgressIndicator-step.is-active:after {
        background-image: url(../images/progress-indicator/chevron--active.png); }

.PageHeader {
  padding: 40px 0 0; }
  .PageHeader p {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none; }
    @media (max-width: 640px) {
      .PageHeader p {
        font-size: 20px;
        line-height: 1.2; } }

h1 {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 7px;
  padding-bottom: 13px;
  font-weight: 700; }
  @media (max-width: 640px) {
    h1 {
      font-size: 32px;
      line-height: 1.09375; } }

h2 {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-top: 6px;
  padding-bottom: 9px;
  font-weight: 700; }
  @media (max-width: 640px) {
    h2 {
      font-size: 24px;
      line-height: 1.04167; } }

h3 {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    h3 {
      font-size: 24px;
      line-height: 1.04167; } }

h4 {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    h4 {
      font-size: 20px;
      line-height: 1.2; } }

p {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    p {
      font-size: 16px;
      line-height: 1.25; } }
