<a class="cookie-settings__jump-link" name="settings"></a>
<div class="cookie-settings__confirmation" data-cookie-confirmation="true">
	<section class="gem-c-notice govuk-!-margin-bottom-8" aria-label="Notice" aria-live="polite" role="region">
		<h2 class="gem-c-notice__title">Your cookie settings were saved</h2>
		<p>Government services may set additional cookies and, if so, will have their own cookie policy and banner.</p>
		<a class="govuk_link cookie-settings__prev-page" href="#" data-module="track-click" data-track-category="cookieSettings" data-track-action="Back to previous page">
        Go back to the page you were looking at
      </a>
	</section>
</div>

<p>Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
<p>We use cookies to store information about how you use ‘Check you can get legal aid’, such as the pages you visit.</p>

<h2 class="gem-c-heading  gem-c-heading--padding  ">Cookie settings</h2>
<div class="cookie-settings__no-js">
	<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
		<p>We use Javascript to set most of our cookies. Unfortunately Javascript is not running on your browser, so you cannot change your settings. You can try:</p>
		<ul>
			<li>reloading the page</li>
			<li>turning on Javascript in your browser</li>
		</ul>
	</div>
</div>

<div class="cookie-settings__form-wrapper">
	<p>We use different types of cookies. You can choose which cookies you're happy for us to use and how the data is shared.</p>
	<form method="get" data-module="cookie-settings">
    <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
      <h2>Strictly necessary cookies</h2>
      <p>We use essential cookies to help you use the ‘Check you can get legal aid’ service. These do things such as:</p>
      <ul>
        <li>remember your progress through our service</li>
        <li>remember you have seen the cookies message</li>
        <li>remember the language you have selected to view our service</li>
      </ul>
      <p>These cookies need to be on to give you the best experience using the service.</p>
      <p><a href="/privacy">Read more about cookies on 'Check if you can get legal aid'</a></p>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Cookies used to improve 'Check you can get legal aid'</legend>
        <div class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
          <p>We use Google Analytics to measure how you use ‘Check you can get legal aid’ so we can improve it based on user needs. We do not allow Google to use or share the data about how you use this site.</p>
          <p>You agree to the Legal Aid Agency using your data to help improve the 'Check if you can get legal aid' service.</p>
        </div>
        <div class="govuk-radios govuk-radios--inline">
          <div class="gem-c-radio govuk-radios__item">
            <input type="radio" name="cookies-usage" id="radio-0a97fdad-0" value="on" class="govuk-radios__input">
              <label for="radio-0a97fdad-0" class="gem-c-label govuk-label govuk-radios__label">
                <span>On</span>
              </label>
            </div>
            <div class="gem-c-radio govuk-radios__item">
              <input type="radio" name="cookies-usage" id="radio-0a97fdad-1" value="off" class="govuk-radios__input">
                <label for="radio-0a97fdad-1" class="gem-c-label govuk-label govuk-radios__label">
                  <span class="translation_missing" title="translation missing: en.cookies.off">Off</span>
                </label>
              </div>
            </div>
          </fieldset>
    </div>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Cookies used by the Government Digital Service (GDS)</legend>
        <div class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
          <p>You agree to the Government Digital Service (govuk-brexit-data@digital.cabinet-office.gov.uk) collecting your data to improve the user experience across government digital services.</p>
        </div>
        <div class="govuk-radios govuk-radios--inline">
          <div class="gem-c-radio govuk-radios__item">
            <input type="radio" name="cookies-brexit" id="radio-bdbf578a-0" value="on" class="govuk-radios__input">
              <label for="radio-bdbf578a-0" class="gem-c-label govuk-label govuk-radios__label">
                <span>On</span>
              </label>
            </div>
            <div class="gem-c-radio govuk-radios__item">
              <input type="radio" name="cookies-brexit" id="radio-bdbf578a-1" value="off" class="govuk-radios__input">
                <label for="radio-bdbf578a-1" class="gem-c-label govuk-label govuk-radios__label">
                  <span>Off</span>
                </label>
              </div>
            </div>
            <p><a href="/privacy">Find out how data is shared when you use this service</a> </p>
          </fieldset>
    </div>
    <button class="gem-c-button govuk-button" type="submit">Save changes</button>
  </form>
</div>
