   <div class="gem-c-cookie-banner__wrapper govuk-width-container">
      <p class="gem-c-cookie-banner__message">{% trans %}We use cookies to make the site simpler.{% endtrans %}</p>
      <div class="gem-c-cookie-banner__buttons">
        <div class="gem-c-cookie-banner__button gem-c-cookie-banner__button-accept">
          <button class="gem-c-button gem-c-button--secondary gem-c-button--inline" type="submit" data-module="track-click" data-accept-cookies="true" data-track-category="cookieBanner" data-track-action="Cookie banner accepted" data-ga="pageview:{{ request.path }}">{% trans %}Accept cookies{% endtrans %}</button>
        </div>
        <div class="gem-c-cookie-banner__button gem-c-cookie-banner__button-settings">
          <a class="gem-c-button gem-c-button--secondary gem-c-button--inline" role="button" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked" href="/cookie-settings">{% trans %}Cookie settings{% endtrans %}</a>
        </div>
      </div>
    </div>

  <div class="gem-c-cookie-banner__confirmation govuk-width-container" tabindex="-1">
    <p class="gem-c-cookie-banner__confirmation-message">
      {% set cookie_settings_url = url_for('base.cookie_settings') %}
      {% trans %}You’ve accepted all cookies. You can <a class="govuk-link" href="{{ cookie_settings_url }}" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked from confirmation">change your cookie settings</a> at any time.{% endtrans %}
    </p>
    <button class="gem-c-cookie-banner__hide-button" data-hide-cookie-banner="true" data-module="track-click" data-track-category="cookieBanner" data-track-action="Hide cookie banner">{% trans %}Hide{% endtrans %}</button>
  </div>
