  <div class="gem-c-cookie-banner__wrapper govuk-width-container govuk-!-padding-top-3">
    <div class="govuk-grid-row">
      <div class=" govuk-grid-column-three-quarters">
        <div class="gem-c-cookie-banner__message">
          <span class="govuk-heading-m">{% trans %}Cookies on Check if you can get Legal Aid{% endtrans %}</span>
          <p class="govuk-body">
            {% set cookie_info_url = '/cookies' %}
            {% trans %}We use <a class="govuk-link" href="{{ cookie_info_url }}">cookies to collect information</a> about how you use GOV.UK.{% endtrans %}
            {% trans %}We use this information to make the website work as well as possible and improve government services.{% endtrans %}
          </p>
        </div>
        <button class="no-js-hide-inline-block gem-c-button govuk-button gem-c-button--inline govuk-!-margin-bottom-4 govuk-!-margin-right-7" type="submit" data-module="track-click" data-accept-cookies="true" data-track-category="cookieBanner" data-track-action="Cookie banner accepted">
          {% trans %}Accept all cookies{% endtrans %}
        </button>
        <a class="gem-c-button govuk-button gem-c-button--inline govuk-button--secondary" role="button" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked" href="/cookie-settings">
          {% trans %}Set cookie preferences{% endtrans %}
        </a>
      </div>
    </div>
  </div>

  <div class="gem-c-cookie-banner__confirmation govuk-width-container" tabindex="-1">
    <p class="gem-c-cookie-banner__confirmation-message">
      {% set cookie_settings_url = url_for('base.cookie_settings') %}
      {% trans %}You’ve accepted all cookies. You can <a class="govuk-link" href="{{ cookie_settings_url }}" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked from confirmation">change your cookie settings</a> at any time.{% endtrans %}
    </p>
    <button class="gem-c-cookie-banner__hide-button" data-hide-cookie-banner="true" data-module="track-click" data-track-category="cookieBanner" data-track-action="Hide cookie banner">{% trans %}Hide{% endtrans %}</button>
  </div>
</div>