<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      {% trans %}What do I not have to include?{% endtrans %}
    </span>
  </summary>
  <div class="govuk-details__text">
    <dl class="govuk-list govuk-list--bullet">
      <dt>{{ _('PLACEHOLDER TEXT') }}</dt>
        <dd>{{ _('PLACEHOLDER TEXT') }}</dd>
      <dt>{{ _('Do not include lump sum compensation for state errors from HM Government, for example') }}</dt>
        <dd>{{ _('Grenfell Tower fire victim payout') }}</dd>
      <dt>{{ _('Do not include financial support for serious incidents such as') }}</dt>
        <dd>{{ _('Terrorist attacks') }}</dd>
        <dd>{{ _('National emergencies ') }}</dd>

  </div>
</details>
