<div class="govuk-details__text">
    <dl class="govuk-list govuk-list--bullet">
      <dt>{{ _('Do not include monies received from the following schemes') }}</dt>
        <dd>{{ _('Infected Blood Support Scheme') }}</dd>
        <dd>{{ _('Vaccine Damage Payment') }}</dd>
        <dd>{{ _('Variant Creutzfeldt-Jakob Disease (“vCJD”) Trust') }}</dd>
        <dd>{{ _('Criminal Injuries Compensation Scheme') }}</dd>
        <dd>{{ _('National Emergencies Trust') }}</dd>
        <dd>{{ _('London Emergencies Trust') }}</dd>
        <dd>{{ _('We Love Manchester Emergency Fund') }}</dd>
        <dd>{{ _('Energy prices Act 2022') }}</dd>
        <dd>{{ _('Cost of living payment- Social Security (additional payments) Act 2022') }}</dd>