<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      {% trans %}What do I not have to include?{% endtrans %}
    </span>
  </summary>
  <div class="govuk-details__text">
    <dl class="govuk-list govuk-list--bullet">
      <dt>{{ _('Do not include monies received from the following schemes') }}</dt>
        <dd>{{ _('Infected blood support scheme') }}</dd>
        <dd>{{ _('Vaccine damage payments') }}</dd>
        <dd>{{ _('Any vCJD Trust payments') }}</dd>
        <dd>{{ _('Criminal injuries compensation') }}</dd>
        <dd>{{ _('Grenfell Tower fire victim support payments') }}</dd>
        <dd>{{ _('(This is placeholder text)') }}</dd>
      <dt>{{ _('Do not include financial support for serious incidents such as') }}</dt>
        <dd>{{ _('Terrorist attacks') }}</dd>
        <dd>{{ _('National emergencies') }}</dd>
        <dd>{{ _('(This is placeholder text)') }}</dd>
  </div>
</details>
