<div class="govuk-details__text">
    <p class="govuk-body">{% trans %}Do not include any money you received from:{% endtrans %}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{% trans %}Backdated benefit payments{% endtrans %}</li>
      <li>{% trans %}Backdated child maintenance payments{% endtrans %}</li>
      <li>{% trans %}The Energy Support Scheme payments (2022 and 2023){% endtrans %}</li>
      <li>{% trans %}Cost of living payments{% endtrans %}</li>
      <li>{% trans %}Criminal Injuries Compensation Scheme (CICA){% endtrans %}</li>
      <li>{% trans %}Grenfell Tower compensation{% endtrans %}</li>
      <li>{% trans %}Modern Slavery Victim Care Contract or National Referral Mechanism (NRM){% endtrans %}</li>
      <li>{% trans %}National Emergencies Trust{% endtrans %}</li>
      <li>{% trans %}London Emergencies Trust{% endtrans %}</li>
      <li>{% trans %}Variant Creutzfeldt-Jakob Disease (“vCJD”) Trust{% endtrans %}</li>
      <li>{% trans %}Vaccine Damage Payment{% endtrans %}</li>
      <li>{% trans %}Victims of Overseas Terrorism Compensation Scheme (VOTCS){% endtrans %}</li>
      <li>{% trans %}Scotland and Northern Ireland redress schemes for historical child abuse{% endtrans %}</li>
      <li>{% trans %}Miscarriage of justice compensation{% endtrans %}</li>
      <li>{% trans %}We Love Manchester Emergency Fund{% endtrans %}</li>
    </ul>
</div>
