{% if config["CLA_ENV"] == "dev" %}
<a class="govuk-link" href="/start">
  <strong class="govuk-tag govuk-phase-banner__content__tag">
    Development
  </strong>
</a>
{% elif config["CLA_ENV"] == "staging" %}
<a class="govuk-link" href="/start">
  <strong class="govuk-tag govuk-phase-banner__content__tag">
    Staging
  </strong>
</a>
{% elif config["CLA_ENV"] != "production" %}
<a class="govuk-link" href="/start">
  <strong class="govuk-tag govuk-phase-banner__content__tag">
    {{ config["CLA_ENV"].title() }}
  </strong>
</a>
{% endif %}