{% if organisations %}
  <div class="help-organisations">
    <h2>{{ _('Free help organisations for problems about %(category_name)s', category_name=(category_name if category != 'violence' else 'domestic violence')|lower) }}</h2>
    <p>
      {% trans %}You may still get free help and advice from the organisations listed
      below. You don’t have to qualify for legal aid to get help and advice
      from these organisations.{% endtrans %}
    </p>
    <ul class="org-list">
      {% for org in organisations %}
        {% set has_contact_details = org.telephone_numbers or org.email %}
        <li class="vcard">
          <h3>
            <a class="url fn org" href="{{ org.website }}" rel="external">
              {{ org.service_name }}
            </a>
          </h3>
          <div class="org-description">
            {{ org.public_description|markdown }}
          </div>
          {% if has_contact_details %}
            {% call Element.alert() %}
              {% if org.telephone_numbers %}
                <p>
                  <strong>{{ _('Helpline') }}:</strong>
                  {% for telephone_number in org.telephone_numbers %}
                    <span class="tel">{{ telephone_number.number }}</span>
                    {%- if telephone_number.name %} ({{ telephone_number.name }}){% endif -%}
                    {%- if not loop.last %}, {% endif %}
                  {% endfor %}
                </p>
              {% endif %}
              {% if org.opening_hours %}
                <p>
                  <strong>{{ _('Opening hours') }}:</strong>
                  <span>{{ org.opening_hours }}</span>
                </p>
              {% endif %}
              {% if org.email %}
                <p>
                  <strong>{{ _('Email') }}:</strong>
                  <a class="email" href="mailto:{{ org.email }}">{{ org.email }}</a>
                </p>
              {% endif %}
              {% if org.address %}
                <p>
                  <strong>{{ _('Address') }}:</strong>
                  <span class="adr">{{ org.address }}</span>
                </p>
              {% endif %}
            {% endcall %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  <p>{{ _('There has been a problem with listing help organisations. Please refresh this page or try again later.') }}</p>
{% endif %}
