<dialog id="js-modal-dialog" data-minutes-idle-timeout="25" data-minutes-modal-visible="5"
data-url-redirect="/session-expired" class="modal-dialog dialog" role="dialog" aria-live="polite" aria-labelledby="dialog-title" aria-describedby="at-timer">
  <div class="modal-dialog__inner">
	  <h1 id="dialog-title" class="heading-large">
      {% trans %}Your application will time out soon{% endtrans %}
    </h1>
    <div class="modal-dialog__inner__text">
      <div class="timer" aria-hidden="true" aria-relevant="additions"></div>
      <div id="at-timer" class="at-timer visually-hidden" role="status"></div>
    </div>
    <div class="modal-dialog__inner__block">
      <button class="button dialog-button modal-dialog__inner__button js-dialog-close">{% trans %}Continue{% endtrans %}</button>
      <a href="/session-expired" class="modal-dialog__inner__link">{% trans %}Exit service{% endtrans %}</a>
    </div>
  </div>
</dialog>
