<div class="phase-banner">
  {% if form and config.DEBUG and 'diagnosis' not in request.path -%}
    {% include "_context-debugger.html" %}
  {%- endif -%}

  <div class="language-picker">
    {% if request.cookies.get('locale') == 'cy_GB' %}
      <a lang="en" href="{{ url_for('base.set_locale', locale='en_GB') }}" data-ga="event:locale/switch/english">English</a>
    {% else %}
      <a lang="cy" href="{{ url_for('base.set_locale', locale='cy_GB') }}" data-ga="event:locale/switch/welsh">Cymraeg</a>
    {% endif %}
  </div>

  <p>
    <span id="aria-feedback">
      {% trans url=url_for('base.feedback') %}This is a new service – your <a href="{{ url }}" aria-labelledby="aria-feedback">feedback</a>
      will help us to improve it.{% endtrans %}</span>
  </p>
</div>
