{% if form and config.DEBUG and 'diagnosis' not in request.path -%}
  {% include "_context-debugger.html" %}
{%- endif -%}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Malcolm's updates
    </strong>
    <span class="govuk-phase-banner__text" id="aria-feedback">
      <a href="{{ url_for('base.reasons_for_contacting')}}">Contact us</a> if you need help or would like to give feedback to improve this service
    </span>
  </p>
</div>
