<div class="phase-banner">
  {% if form and config.DEBUG and 'diagnosis' not in request.path -%}
    {% include "_context-debugger.html" %}
  {%- endif -%}

  <div class="language-picker">
    {% if request.cookies.get('locale') == 'cy_GB' %}
      <a lang="en" href="{{ url_for('base.set_locale', locale='en_GB') }}" data-ga="event:locale/switch/english">English</a>
    {% else %}
      <a lang="cy" href="{{ url_for('base.set_locale', locale='cy_GB') }}" data-ga="event:locale/switch/welsh">Cymraeg</a>
    {% endif %}
  </div>

  <p>
    <span id="aria-feedback">
      Tell us about your experiences. Your
      <a
        rel="noopener noreferrer"
        target="_blank"
        href="https://www.surveymonkey.co.uk/r/LegalInfoJourneyMapping_CLA"
        aria-labelledby="aria-feedback">
        feedback<span class="visuallyhidden">(Opens in a new window)</span></a>
        will help us continue to improve this service.</span>
  </p>

</div>
