<div class="form-group form-subfield split-panels">
  <div class="panel">
    <strong>Don’t include</strong>
    <ul>
      <li>Furniture and appliances</li>
      <li>Your TV</li>
      <li>Mobile phones, laptops and other devices</li>
      <li>Clothing</li>
      <li>The vehicle you use every day, unless it is a classic car or luxury vehicle</li>
      <li>Equipment or tools you use for your work</li>
    </ul>
  </div>
  <div class="panel">
    <strong>Do include</strong>
    <ul>
      <li>Jewellery</li>
      <li>Art</li>
      <li>Antiques</li>
      <li>Caravans and other vehicles you don’t use every day</li>
      <li>Musical instruments, unless you’re a professional musician</li>
    </ul>
  </div>
</div>
