<div class="form-group form-subfield split-panels">
  <div class="panel">
    <strong>{{ _('Don’t include') }}</strong>
    <ul>
      <li>{{ _('Furniture and appliances') }}</li>
      <li>{{ _('Your TV') }}</li>
      <li>{{ _('Mobile phones, laptops and other devices') }}</li>
      <li>{{ _('Clothing') }}</li>
      <li>{{ _('The vehicle you use every day, unless it is a classic car or luxury vehicle') }}</li>
      <li>{{ _('Equipment or tools you use for your work') }}</li>
    </ul>
  </div>
  <div class="panel">
    <strong>{{ _('Do include') }}</strong>
    <ul>
      <li>{{ _('Jewellery') }}</li>
      <li>{{ _('Art') }}</li>
      <li>{{ _('Antiques') }}</li>
      <li>{{ _('Caravans and other vehicles you don’t use every day') }}</li>
      <li>{{ _('Musical instruments, unless you’re a professional musician') }}</li>
    </ul>
  </div>
</div>
