<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      {% trans %}What valuable items should I include?{% endtrans %}
    </span>
  </summary>
  <div class="govuk-details__text">
    <dl class="govuk-list govuk-list--bullet">
      <dt>{{ _('Don’t include') }}</dt>
        <dd>{{ _('Furniture and appliances') }}</dd>
        <dd>{{ _('Your TV') }}</dd>
        <dd>{{ _('Mobile phones, laptops and other devices') }}</dd>
        <dd>{{ _('Clothing') }}</dd>
        <dd>{{ _('The vehicle you use every day, unless it is a classic car or luxury vehicle') }}</dd>
        <dd>{{ _('Equipment or tools you use for your work') }}</dd>
      <dt>{{ _('Do include') }}</dt>
        <dd>{{ _('Jewellery') }}</dd>
        <dd>{{ _('Art') }}</dd>
        <dd>{{ _('Antiques') }}</dd>
        <dd>{{ _('Caravans and other vehicles you don’t use every day') }}</dd>
        <dd>{{ _('Musical instruments, unless you’re a professional musician') }}</dd>
    </dl>
  </div>
</details>
