{% extends "base.html" %}

{% import "macros/form.html" as Form %}

{% block page_heading %}
  About you
{% endblock %}

{% block inner_content %}
  <form method="POST" action="{{ url_for('.about') }}">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {{ Form.yesno_field(form.have_partner) }}
    {{ Form.yesno_field(form.in_dispute) }}
    {{ Form.yesno_field(form.on_benefits) }}
    {% call Form.yesno_field(form.have_children, subfield=form.num_children) %}
      {{ Form.text_field(form.num_children, use_form_group=False,
          class_='m-small', label_class='label-inline')
      }}
    {% endcall %}
    {% call Form.yesno_field(form.have_dependants, subfield=form.num_dependants) %}
      {{ Form.text_field(form.num_dependants, use_form_group=False,
          class_='m-small', label_class='label-inline')
      }}
    {% endcall %}
    {{ Form.yesno_field(form.have_savings) }}
    {{ Form.yesno_field(form.have_valuables) }}
    {{ Form.yesno_field(form.own_property) }}
    {{ Form.yesno_field(form.is_employed) }}
    {{ Form.yesno_field(form.is_self_employed) }}
    {{ Form.yesno_field(form.aged_60_or_over) }}

    {{ Form.actions('Continue') }}
  </form>

  <script>
    window.CONDITIONAL_LABELS = {
      num_children: 'How many?',
      num_dependants: 'How many?'
    };
  </script>
{% endblock %}
