{% extends "base.html" %}

{% import "macros/element.html" as Element %}
{% import "macros/form.html" as Form %}

{% block page_heading %}
  About you
{% endblock %}

{% block inner_content %}
  <form method="POST" action="{{ url_for('.about') }}">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {% call Form.yesno_field(form.have_partner, subfield=form.in_dispute) %}
      {{ Form.yesno_field(form.in_dispute, group_class='form-subfield s-hidden') }}
    {% endcall %}

    {{ Form.yesno_field(form.on_benefits) }}
    {% call Form.yesno_field(form.have_children, subfield=form.num_children) %}
      {{ Form.text_field(form.num_children, group_class='form-subfield s-hidden') }}
    {% endcall %}
    {% call Form.yesno_field(form.have_dependants, subfield=form.num_dependants) %}
      {{ Form.text_field(form.num_dependants, group_class='form-subfield s-hidden') }}
    {% endcall %}
    {{ Form.yesno_field(form.have_savings) }}
    {{ Form.yesno_field(form.have_valuables) }}
    {{ Form.yesno_field(form.own_property) }}
    {{ Form.yesno_field(form.is_employed) }}
    {{ Form.yesno_field(form.is_self_employed) }}
    {{ Form.yesno_field(form.aged_60_or_over) }}

    {{ Element.call_me_back_link() }}

    {{ Form.honeypot(form) }}
    {{ Form.actions('Continue') }}
  </form>

  <script>
    window.CONDITIONAL_LABELS = {
      num_children: 'How many?',
      num_dependants: 'How many?'
    };
  </script>
{% endblock %}
