{% extends "base.html" %}

{% import "macros/element.html" as Element %}
{% import "macros/form.html" as Form %}

{% set title = 'About you' %}
{% block page_title %}{{ title }} - {{ super() }}{% endblock %}

{% block inner_content %}
  <h1>{{ title }}</h1>
  <form method="POST" action="{{ url_for('.about') }}">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {% call Form.fieldset(form.have_partner) %}
      {{ Form.yesno(form.have_partner) }}

      {% call Form.fieldset(form.in_dispute, is_subfield=True, controlled_by=form.have_partner) %}
        {{ Form.yesno(form.in_dispute) }}
      {% endcall %}
    {% endcall %}

    {{ Form.yesno_fieldset(form.on_benefits) }}

    {% call Form.fieldset(form.have_children) %}
      {{ Form.yesno(form.have_children) }}

      {% call Form.fieldset(form.num_children, is_subfield=True, controlled_by=form.have_children, as_label=True) %}
        {{ form.num_children(class_='form-control m-small') }}
      {% endcall %}
    {% endcall %}

    {% call Form.fieldset(form.have_dependants) %}
      {{ Form.yesno(form.have_dependants) }}

      {% call Form.fieldset(form.num_dependants, is_subfield=True, controlled_by=form.have_dependants, as_label=True) %}
        {{ form.num_dependants(class_='form-control m-small') }}
      {% endcall %}
    {% endcall %}

    {{ Form.yesno_fieldset(form.own_property) }}
    {{ Form.yesno_fieldset(form.is_employed) }}
    {{ Form.yesno_fieldset(form.partner_is_employed, controlled_by=form.in_dispute, control_value='0') }}
    {{ Form.yesno_fieldset(form.is_self_employed) }}
    {{ Form.yesno_fieldset(form.partner_is_self_employed, controlled_by=form.in_dispute, control_value='0') }}
    {{ Form.yesno_fieldset(form.aged_60_or_over) }}
    {{ Form.yesno_fieldset(form.have_savings) }}

    {% call Form.fieldset(form.have_valuables) %}
      {{ Form.yesno(form.have_valuables) }}
      {% include '_valuables-info.html' %}
    {% endcall %}

    {{ Element.call_me_back_link() }}

    {{ Form.honeypot(form) }}
    {{ Form.actions('Continue') }}
  </form>

  <script>
    window.CONDITIONAL_LABELS = {
      in_dispute: 'Are you in a dispute with your partner?',
      num_children: 'How many?',
      num_dependants: 'How many?'
    };
  </script>
{% endblock %}

{% block javascripts %}
  {{ super() }}
  {% if session.category %}
    <script>
      ga('send', 'event', 'category', 'selected', '{{session.category}}');
    </script>
  {% endif %}
{% endblock %}
