{% extends "moj_template/base.jinja" %}

{% block page_title %}{{ app_title }}{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('stylesheets/main.css') }}">
  <!--[if IE 6]>
    <link rel="stylesheet" href="{{ asset('stylesheets/ie/ie6.css') }}">
  <![endif]-->
  <!--[if IE 7]>
    <link rel="stylesheet" href="{{ asset('stylesheets/ie/ie7.css') }}">
  <![endif]-->
  <!--[if IE 8]>
    <link rel="stylesheet" href="{{ asset('stylesheets/ie/ie8.css') }}">
  <![endif]-->
{% endblock %}

{% block content %}
  {% include "_phase-tag.html" %}

  <div class="inner-block {% if sidebar %}m-has-sidebar{% endif %}">
    <article class="main-content">
      {% block page_header %}
        <header>
          <h1>{% block page_heading %}{% endblock %}</h1>
          {% if self.page_subheading() %}
            <div class="subtitle">
              {% block page_subheading %}{% endblock %}
            </div>
          {% endif %}
        </header>
      {% endblock %}

      {% block inner_content %}{% endblock %}
    </article>

    {% block sidebar %}
      {% if sidebar %}
        {% include '_sidebar.html' %}
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset(filename='javascripts/cla.js') }}"></script>
{% endblock %}
