{% extends "moj_template/base.jinja" %}

{% block page_title %}{{ app_title }}{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('stylesheets/main.css') }}">
  <!--[if IE 6]>
    <link rel="stylesheet" href="{{ asset('stylesheets/ie/ie6.css') }}">
  <![endif]-->
  <!--[if IE 7]>
    <link rel="stylesheet" href="{{ asset('stylesheets/ie/ie7.css') }}">
  <![endif]-->
  <!--[if IE 8]>
    <link rel="stylesheet" href="{{ asset('stylesheets/ie/ie8.css') }}">
  <![endif]-->
{% endblock %}

{% block body_classes %}{{ self | quoted }}{% endblock %}

{% block content %}
  {% include "_phase-tag.html" %}

  <div class="inner-block {% if sidebar %}m-has-sidebar{% endif %}">
    <article class="main-content">
      {% block inner_content %}{% endblock %}
    </article>

    {% block sidebar %}
      {% if sidebar %}
        {% include '_sidebar.html' %}
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}

{% block head %}
  {% include "_analytics.html" %}
{% endblock %}

{% block javascripts %}
  <script src="{{ asset(filename='javascripts/cla.js') }}"></script>
  {% if config.DEBUG %}
    <script src="{{ url_for('static', filename='javascripts/cla-debug.js') }}"></script>
  {% endif %}
{% endblock %}

{% block footer_support_links %}
  <li><a href="{{ url_for('base.privacy') }}">Privacy Policy</a></li>
  <li><a href="{{ url_for('base.cookies') }}">Cookies</a></li>
  <li><a href="{{ url_for('base.feedback') }}">Feedback</a></li>
{% endblock %}
