{% extends "base.html" %}

{% import "macros/form.html" as Form %}
{% import "macros/element.html" as Element %}

{% if session.has_partner %}
  {% set title = _('You and your partner’s benefits') %}
{% else %}
  {% set title = _('Your benefits') %}
{% endif %}
{% block page_title %}{{ title }} - {{ super() }}{% endblock %}

{% block inner_content %}
  <h1>{{ title }}</h1>

  <form method="POST" action="{{ url_for('.benefits') }}">
    {{ form.csrf_token }}

    {% if form.errors %}
      {% call Element.alert('error', icon='cross') %}
        <p>Please select at least one option.</p>
      {% endcall %}
    {% endif %}

    {{ Form.option_list_fieldset(form.benefits) }}

    {{ Element.call_me_back_link() }}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Continue')) }}
  </form>
{% endblock %}
