{% extends "base.html" %}

{% import "macros/form.html" as Form %}
{% import "macros/element.html" as Element %}

{% block page_heading %}
  Your benefits
{% endblock %}

{% block inner_content %}
  <p>Are you or your partner on any of these benefits?</p>
  <form method="POST" action="{{ url_for('.benefits') }}">
    {{ form.csrf_token }}

    {% if form.errors %}
      {% call Element.alert('error', icon='cross') %}
        <p>Please select at least one option.</p>
      {% endcall %}
    {% endif %}

    <ul class="form-option-list" role="radiogroup">
      {% for benefit in form.benefits %}
        <li>{{ Form.block_label(benefit) }}</li>
      {% endfor %}
    </ul>

    {{ Form.actions('Continue') }}
  </form>
{% endblock %}
