{% extends "base.html" %}

{% import "macros/form.html" as Form %}
{% import "macros/element.html" as Element %}

{% block page_heading %}
  Your benefits and tax credits
{% endblock %}

{% block inner_content %}
  <form method="POST" action="{{ url_for('.benefits_tax_credits') }}">
    {{ form.csrf_token }}

    {{ Form.handle_errors(form) }}

    {{ Form.text_field(form.child_benefit, prefix="£") }}
    {{ Form.text_field(form.child_tax_credit, prefix="£") }}
    {{ Form.check_list_field(form.benefits) }}
    {{ Form.yesno_field(form.other_benefits) }}
    {{ Form.money_interval_field(form.total_other_benefit) }}

    {{ Form.actions('Continue') }}
  </form>
{% endblock %}
