{% extends "base.html" %}

{% import "macros/form.html" as Form %}
{% import "macros/element.html" as Element %}

{% set title = form.title %}
{% block page_title %}{{ title }} - {{ super() }}{% endblock %}

{% block inner_content %}
  <h1>{{ title }}</h1>

  <form method="POST">
    {{ form.csrf_token }}

    {% if form.errors %}
      {% call Element.alert('error', icon='cross') %}
        {% if form.errors.timeout %}
        <p>{{ form.errors.timeout }}</p>
        {% else %}
        <p>{{ _('Please select at least one option.') }}</p>
        {% endif %}
      {% endcall %}
    {% endif %}

    {{ Form.option_list_fieldset(form.benefits) }}

    {{ Element.get_in_touch_alert() }}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Continue')) }}
  </form>
{% endblock %}
