{% extends "base.html" %}

{% import "macros/form.html" as Form %}
{% import "macros/element.html" as Element %}

{% block javascripts %}
  {{ super() }}

  <script type="text/html" id="addressFinderButton">
    <button class="button-secondary address-finder-button" type="button">
      Find UK address
    </button>
  </script>

  <script type="text/html" id="addressFinderList">
    <dd class="form-row address-list">
      <select name="address" class="form-control">
        <option value="" disabled><%= count %> addresses found</option>
        <option value="">-- Choose address --</option>
        <% _.each(items, function(address, index) { %>
          <option value="<%= index %>"><%= address %></option>
        <% }); %>
      </select>
    </dd>
  </script>

{% endblock %}
{% set title = 'Request a callback' %}
{% block page_title %}{{ title }} - {{ super() }}{% endblock %}

{% block inner_content %}
  {% block page_text %}
    <h1>{{ title }}</h1>
    <p>
      Fill in your personal details to get a callback from Civil Legal Advice and see if you qualify for specialist
      advice on debt, education, discrimination, housing or family problems funded by legal aid.
    </p>
    <p>
      We will try and call you at least once. If we cannot speak to you we will leave you a message.
    </p>
    <p>
      If you don't want us to leave a message please tell us.
    </p>
    <p>
      If we can't speak to you please book another call back here or call us.
    </p>
  {% endblock %}

  <p>If you have a court hearing date it is important that you get advice as soon as possible.
    You may be able to get last-minute help on the day of the hearing from an adviser in the
    court building.</p>

  <form method="POST" action="{{ url_for('.result', outcome='eligible') }}">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {{ Form.text_field(form.full_name, class_='m-large') }}
    {% call Form.text_field(form.contact_number, subfield=form.safe_to_contact, class_='m-large') %}
      {{ Form.yesno_field(form.safe_to_contact, group_class='form-subfield') }}
      <p style="margin: 10px 0 0">
        If you don’t have a number we can call you on, please contact
        <a href="https://www.gov.uk/civil-legal-advice" target="_blank">Civil Legal Advice</a>.
      </p>
    {% endcall %}

    {{ Form.availability_checker_field(form.time) }}

    {{ Form.postcode_field(form.post_code, attributes={'data-address-el': '#address'}) }}

    {{ Form.textarea_field(form.address, class_='m-large') }}
    {{ Form.textarea_field(form.extra_notes, class_='m-full', rows=8) }}
    {{ Form.adaptations_field(form.adaptations) }}

    {% call Element.alert(title='What happens next') %}
      <p>
        If the operator you speak to thinks you can get legal aid, they will
        find you specialist legal help, like a phone call with a solicitor or
        support from a family mediation service.
      </p>
    {% endcall %}

    {{ Form.honeypot(form) }}
    {{ Form.actions('Request callback') }}
  </form>
{% endblock %}
