{% extends "base.html" %}

{% import "macros/form.html" as Form %}
{% import "macros/element.html" as Element %}

{% set title = _('Request a callback') %}
{% block page_title %}{{ title }} - {{ super() }}{% endblock %}

{% block inner_content %}
  {% block page_text %}
    <h1>{{ title }}</h1>
    <p>
      {% trans %}Fill in your personal details to get a callback from Civil Legal Advice to find out if you
      qualify for specialist advice on debt, education, discrimination, housing or family problems
      funded by <a href="https://www.gov.uk/legal-aid">legal aid</a>.{% endtrans %}
    </p>
    <p>
      {% trans %}We will try and call you at least once. If we cannot speak to you we will leave you a message
      unless you tell us below not to.{% endtrans %}
    </p>
    <p>
      {{ _('If we can’t speak to you please book another call back here or call us on 0345 345 4 345.') }}
    </p>
  {% endblock %}

  <form method="POST" action="{{ url_for('callmeback.request_callback') }}">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {{ Form.text_input_fieldset(form.full_name, class_='m-large') }}
    {% call Form.fieldset(form.contact_number, as_label=True) %}
      {{ Form.text_input(form.contact_number, class_='m-large') }}

      {% call Form.fieldset(form.safe_to_contact, is_subfield=True) %}
        {{ Form.yesno(form.safe_to_contact) }}
        <p style="margin: 10px 0 0">
          {{ _('If you don’t have a number we can call you on, please contact') }}
          <a href="https://www.gov.uk/civil-legal-advice" target="_blank">{{ _('Civil Legal Advice') }}</a>.
        </p>
      {% endcall %}
    {% endcall %}

    {{ Form.availability_checker(form.time) }}

    <fieldset class="fieldset-group">
      {% call Form.fieldset(form.post_code, as_label=True) %}
          <div class="address-finder">
            {{ form.post_code(class_='form-control m-small', **{ 'data-address-el': '#address' }) }}
          </div>
      {% endcall %}

      {% call Form.fieldset(form.address, as_label=True) %}
        {{ form.address(class_='form-control m-large', rows=5) }}
      {% endcall %}
    </fieldset>

    {% call Form.fieldset(form.extra_notes, as_label=True) %}
      {{ form.extra_notes(class_='form-control m-full', rows=8) }}
    {% endcall %}

    {{ Form.adaptations(form.adaptations) }}

    {% call Element.alert(title='What happens next') %}
      <p>
        {% trans %}If the operator you speak to thinks you might qualify, they will put you
        through to a CLA specialist adviser immediately.{% endtrans %}
      </p>
      <p>
        {{ _('If CLA can’t help we will suggest other places that might be able to assist you.') }}
      </p>
    {% endcall %}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Request callback')) }}
  </form>

  {% block below_form %}

    <h2>{{ _('What happens next?') }}</h2>

    <p>
      {% trans %}The first person you speak to will be an operator. They will ask you questions about
      you and your problem, including you and your partner's financial circumstances.{% endtrans %}
    </p>

    <p>
      {% trans %}If it looks like you might qualify you will be put through to a CLA specialist
      adviser immediately.{% endtrans %}
    </p>

    <p>
      {{ _('If CLA can’t help you we will always suggest where else you might get help.') }}
    </p>

    <p>
      {% trans %}If we can do anything to make it easier for you to communicate with us due to your
      disability please tell the Operator.{% endtrans %}
    </p>

    <p>
      {% trans %}Protecting your personal data and your privacy is important to us. We are asking for
      some information from you now so that when we call you back we know who you are. You
      can read the full <a href="/privacy">Civil Legal Advice Privacy Statement here</a>.{% endtrans %}
    </p>

  {% endblock %}

{% endblock %}


{% block javascripts %}
  {{ super() }}

  <script type="text/html" id="addressFinderButton">
    <button class="button-secondary address-finder-button" type="button">
      {{ _('Find UK address') }}
    </button>
  </script>

  <script type="text/html" id="addressFinderList">
    <dd class="form-row address-list">
      <select name="address" class="form-control">
        <option value="" disabled><%= count %> addresses found</option>
        <option value="">-- Choose address --</option>
        <% _.each(items, function(address, index) { %>
          <option value="<%= index %>"><%= address %></option>
        <% }); %>
      </select>
    </dd>
  </script>
{% endblock %}
