{% extends "base.html" %}

{% import "macros/form.html" as Form %}
{% import "macros/subform.html" as Subform %}
{% import "macros/element.html" as Element %}

{% set title = _('Contact Civil Legal Advice') %}
{% block page_title %}{{ title }} - {{ super() }}{% endblock %}

{% block inner_content %}
  {% block page_text %}
    {% if config.CONTACT_ONLY %}
      {% call Element.alert() %}
        <p>{{ _('The full service is currently unavailable. However, you can still get in touch using the form below.') }}</p>
      {% endcall %}
    {% endif %}
    <h1>{{ title }}</h1>
    <p>
      {% trans %}Please submit your details to get your personal case reference number.
      You will need to quote this number when you speak with CLA.{% endtrans %}
    </p>
    <p>
      {% trans %}You can choose to contact CLA yourself and speak to someone immediately (this is an 0345 number -
      <a href="https://www.gov.uk/call-charges" rel="external" target="_blank">call charges</a> apply)
      or ask us to call you back, which is free.{% endtrans %}
    </p>
  {% endblock %}

  <form method="POST" action="{{ url_for('contact.get_in_touch') }}">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {{ Form.text_input_fieldset(form.full_name, class_='m-large') }}

    {% call Form.fieldset(form.callback_requested) %}
      {{ Form.radio_buttons(form.callback_requested) }}

      <p class="form-subfield field-help" data-controlled-by="callback_requested" data-control-value="0">
        {% trans %}You will be given the CLA phone number when you submit your details below.{% endtrans %}
      </p>

      <p class="form-subfield field-help" data-controlled-by="callback_requested" data-control-value="1">
        {% trans %}We will try to call you at least once. If we cannot speak to you we will leave you a message,
        unless you tell us not to below. If you miss the call, please complete this form again to book another
        callback or call us directly.{% endtrans %}
      </p>

      {% call Form.fieldset(
        is_subfield=True,
        controlled_by=form.callback_requested,
        control_value="1",
        use_row=False,
        persist_values=True
      ) %}
        {{ Subform.callback(form.callback) }}
      {% endcall %}
    {% endcall %}

    {{ Subform.address(form.address) }}

    {% call Form.fieldset(form.extra_notes, as_label=True) %}
      {{ form.extra_notes(class_='form-control m-full', rows=7) }}
    {% endcall %}

    {{ Subform.adaptations(form.adaptations) }}

    {% block what_happens_next_alert %}{% endblock %}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Submit details')) }}
  </form>

  {% block notice %}
    <div class="notice">
      {% block notice_content %}
      <h2>{{ _('What happens next?') }}</h2>
      <p>
        {% trans %}The first person you speak to will be an operator. They will ask you questions about
        yourself and your problem, including your financial circumstances (and your partner's, if you have one).{% endtrans %}
      </p>
      <p>
        {{ _('If it looks like you might qualify you will be put through to a CLA specialist adviser.') }}
      </p>
      <p>
        {{ _('If CLA can’t help you we will always suggest where else you might get help.') }}
      </p>
      <p>
        {% trans %}If we can do anything to make it easier for you to communicate with us due to your
        disability please tell the operator.{% endtrans %}
      </p>
      <p>
        {% trans %}Protecting your personal data and your privacy is important to us. We are asking for
        some information from you now so that when we speak to you we know who you are. You
        can read the full <a href="/privacy">Civil Legal Advice Privacy Statement</a>.{% endtrans %}
      </p>
      {% endblock %}
    </div>
  {% endblock %}
{% endblock %}


{% block javascripts %}
  {{ super() }}

  <script type="text/html" id="addressFinderButton">
    <button class="button-secondary address-finder-button" type="button">
      {{ _('Find UK address') }}
    </button>
  </script>

  <script type="text/html" id="addressFinderList">
    <div class="form-row address-list">
      <select name="address" class="form-control">
        <option value="" disabled><%= count %> addresses found</option>
        <option value="">-- Choose address --</option>
        <% _.each(items, function(address, index) { %>
          <option value="<%= index %>"><%= address %></option>
        <% }); %>
      </select>
    </div>
  </script>
{% endblock %}
