{% if request.path.startswith('/result') %}
  {% extends 'checker/base.html' %}
{% else %}
  {% extends 'base.html' %}
{% endif %}

{% import "macros/form.html" as Form %}
{% import "macros/subform.html" as Subform %}
{% import "macros/element.html" as Element %}

{% set title = _('Contact Civil Legal Advice') %}
{% block page_title %}{{ title }}{% endblock %}

{% block inner_content %}
  {% block page_text %}
    {% if config.CONTACT_ONLY %}
      {% call Element.alert() %}
        <p>{{ _('The full service is currently unavailable. However, you can still get in touch using the form below.') }}</p>
      {% endcall %}
    {% endif %}
    <h1>{{ title }}</h1>
    {#
      'n18' is the index of the node which corresponds to 'yes' in response
      to question 'Are you at immediate risk of harm?'
    #}
    {% if 'n18' in session.checker.diagnosis_previous_choices %}
      <h2 class="subtitle vcard">
        {% trans call_charges_link=Element.link_new_window('https://www.gov.uk/call-charges', _('Call charges apply'), True) %}
          If you’re in immediate danger please call Civil Legal Advice on <span class="tel">0345 345 4 345</span>.
          {{ call_charges_link }}.
        {% endtrans %}
      </h2>
      <p class="subtitle">
        {% trans %}You can also ask us to call you back using the form below,
        which is free.{% endtrans %}
      </p>
      <p>
        {% trans %}If you’re in an emergency situation, please call the police
        on 999.{% endtrans %}
      </p>
    {% else %}
      <p>
        {% trans %}Please submit your details to get in touch with Civil Legal Advice (CLA).{% endtrans %}
      </p>
      <p>
        {% trans call_charges_link=Element.link_new_window('https://www.gov.uk/call-charges', _('call charges'), True) %}
          You can choose to contact CLA yourself and speak to someone immediately
          (this is an 0345 number - {{ call_charges_link }} apply) or ask us to call you back, which is free.
        {% endtrans %}
      </p>
      <p>{{ _('You’ll need to provide evidence of the financial information (if any) you’ve given us through this service.') }}</p>
    {% endif %}
  {% endblock %}

  <form method="POST" action="{{ url_for('contact.get_in_touch') }}" class="contact-form">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {{ Form.group(form.full_name, field_attrs={'class': 'm-large'}) }}

    {% call Form.fieldset(form.contact_type, field_as_label=True) %}
      <ul class="form-option-list form-row">
        {%- for option in form.contact_type -%}
          <li>
            <label class="radio-inline" for="{{ option.id }}">
              {{ option }}
              {{ option.label.text }}
            </label>

            {% if option.data == 'call' %}
              <div class="form-group form-subfield"
                   data-controlled-by="contact_type"
                   data-control-value="call" role="alert">
                <p class="form-group form-notice">
                  {{ _('We’ll give you the CLA phone number when you submit your details below.') }}
                </p>
              </div>
            {% elif option.data == 'callback' %}
              {{ Subform.callback(form) }}
            {% elif option.data == 'thirdparty' %}
              {{ Subform.thirdparty(form) }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endcall %}

    {{ Form.group(form.email, field_attrs={'class': 'm-large'}) }}

    {% call Form.fieldset(form.address, field_as_label=True) %}
      {{ Form.group(form.address.post_code,
          'form-group-plain',
          field_attrs={'class': 'm-small', 'data-address-el': '#address-street_address'},
          row_class='address-finder') }}

      {{ Form.group(form.address.street_address,
          'form-group-plain',
          field_attrs={'class': 'm-large', 'rows': 4}) }}
    {% endcall %}

    {% set max_length_validator = form.extra_notes.validators|selectattr('max')|first %}
    {% set max_length = max_length_validator.max if max_length_validator %}
    {{ Form.group(form.extra_notes, field_attrs={'class': 'm-full', 'rows': 7, 'data-character-count': max_length}) }}

    {{ Subform.adaptations(form.adaptations) }}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Submit details')) }}
  </form>

  {% block notice %}
    <p class="notice">
      {% trans privacy_link=Element.link_new_window(url_for('base.privacy'), _('Civil Legal Advice Privacy Statement')) %}
        Protecting your personal data and your privacy is important to us.
        Read the full {{ privacy_link }}.
      {% endtrans %}
    </p>
  {% endblock %}
{% endblock %}

{% block javascripts %}
  {{ super() }}

  {% if reasons_for_contacting -%}
    <script>
      ga('send', 'event', 'reasons-for-contacting', '{{ reasons_for_contacting }}');
    </script>
  {%- endif -%}

  <script type="text/html" id="addressFinderButton">
    <button class="button button-secondary address-finder-button" type="button">
      {{ _('Find UK address') }}
    </button>
  </script>

  <script type="text/html" id="addressFinderList">
    <div class="form-group form-subfield address-list">
      <select name="address" class="form-control">
        <option value="" disabled><%= count %> {{ _('addresses found') }}</option>
        <option value="">-- {{ _('Choose address') }} --</option>
        <% _.each(items, function(address, index) { %>
          <option value="<%= index %>"><%= address %></option>
        <% }); %>
      </select>
    </div>
  </script>

  <script type="text/html" id="characterCounter">
    <div class="character-counter <%= counter_class %>">
      <%= count %> {{ _('characters remaining') }}
    </div>
  </script>

  <script type="text/html" id="postcodeNotEnteredText">
    <div class="form-row field-error">
      <p>
        {{ _('Must contain a valid postcode') }}
      </p>
    </div>
  </script>

  <script type="text/html" id="noAddressesFoundText">
    <div class="form-row field-error">
      <p>
        {{ _('No addresses were found with that postcode, but you can still enter your address manually') }}
      </p>
    </div>
  </script>

  <script type="text/html" id="requestFailedText">
    <div class="form-row field-error">
      <p>
        {{ _('Request failed: ') }} <%= textStatus %>, <%= error %>
      </p>
    </div>
  </script>
{% endblock %}
