{% if request.path.startswith('/result') %}
  {% extends 'checker/base.html' %}
{% else %}
  {% extends 'base.html' %}
{% endif %}

{% import "macros/form.html" as Form %}
{% import "macros/subform.html" as Subform %}
{% import "macros/element.html" as Element %}

{% set title = _('Contact Civil Legal Advice') %}
{% block page_title %}{{ title }}{% endblock %}

{% block inner_content %}
  {% block page_text %}
    {% if config.CONTACT_ONLY %}
      {% call Element.alert() %}
        <p>{{ _('The full service is currently unavailable. However, you can still get in touch using the form below.') }}</p>
      {% endcall %}
    {% endif %}
    <h1>{{ title }}</h1>
    {#
      'n18' is the index of the node which corresponds to 'yes' in response
      to question 'Are you at immediate risk of harm?'
    #}
    {% if 'n18' in session.checker.diagnosis_previous_choices %}
      <h2 class="subtitle">
        {% trans %}If you're in immediate danger please call Civil Legal
        Advice on 0345 345 4 345. Call charges apply.{% endtrans %}
      </h2>
      <p>
        {% trans %}You can also ask us to call you back using the form below,
        which is free.{% endtrans %}
      </p>
      <p>
        {% trans %}If you're in an emergency situation, please call the police
        on 999.{% endtrans %}
      </p>
    {% else %}
      <p>
        {% trans %}Please submit your details to get in touch with Civil Legal Advice (CLA).{% endtrans %}
      </p>
      <p>
        {% trans %}You can choose to contact CLA yourself and speak to someone immediately (this is an 0345 number -
        <a href="https://www.gov.uk/call-charges" rel="external" target="_blank">call charges</a> apply)
        or ask us to call you back, which is free.{% endtrans %}
      </p>
      <p>{{ _('You’ll need to provide evidence of the financial information you’ve given us through this service.') }}</p>
    {% endif %}
  {% endblock %}

  <form method="POST" action="{{ url_for('contact.get_in_touch') }}" class="contact-form">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {{ Form.text_input_fieldset(
      form.full_name,
      class_='m-large'
    ) }}

    {% call Form.fieldset(form.callback_requested) %}
      {{ Form.radio_buttons(form.callback_requested) }}

      <div class="form-notice" data-controlled-by="callback_requested" data-control-value="*">
        <p data-controlled-by="callback_requested" data-control-value="0">
          {% if 'n18' in session.checker.diagnosis_previous_choices %}
            {{ _('We’ll remind of you the CLA phone number when you submit your details below.') }}
          {% else %}
            {{ _('We’ll give you the CLA phone number when you submit your details below.') }}
          {% endif %}
        </p>
        <p data-controlled-by="callback_requested" data-control-value="1">
          {{ _('We will try to call you at least once. If you miss the call you’ll need to complete this form again.') }}
        </p>
        <p data-controlled-by="callback_requested" data-control-value="1">
          {{ _('When a CLA operator calls you, the call will come from an anonymous number.') }}
        </p>
      </div>

      {% call Form.fieldset(
        is_subfield=True,
        controlled_by=form.callback_requested,
        control_value="1",
        use_row=False,
        persist_values=True
      ) %}
        {{ Subform.callback(form.callback) }}
      {% endcall %}
    {% endcall %}

    {{ Form.text_input_fieldset(form.email, class_='m-large') }}

    {{ Subform.address(form.address) }}

    {% call Form.fieldset(form.extra_notes, as_label=True) %}
      {% set max_length_validator = form.extra_notes.validators|selectattr('max')|first %}
      {% set max_length = max_length_validator.max if max_length_validator %}
      {{ form.extra_notes(class_='form-control m-full', rows=7, **{ 'data-character-count': max_length }) }}
    {% endcall %}

    {{ Subform.adaptations(form.adaptations) }}

    {% block what_happens_next_alert %}{% endblock %}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Submit details')) }}
  </form>

  {% block notice %}
    <div class="notice">
      {% block notice_content %}
      <p>
        {% trans %}Protecting your personal data and your privacy is important to us.
        Read the full <a href="/privacy" target="_blank">Civil Legal Advice Privacy Statement</a>.{% endtrans %}
      </p>
      {% endblock %}
    </div>
  {% endblock %}
{% endblock %}


{% block javascripts %}
  {{ super() }}

  <script type="text/html" id="addressFinderButton">
    <button class="button-secondary address-finder-button" type="button">
      {{ _('Find UK address') }}
    </button>
  </script>

  <script type="text/html" id="addressFinderList">
    <div class="form-row address-list">
      <select name="address" class="form-control">
        <option value="" disabled><%= count %> addresses found</option>
        <option value="">-- Choose address --</option>
        <% _.each(items, function(address, index) { %>
          <option value="<%= index %>"><%= address %></option>
        <% }); %>
      </select>
    </div>
  </script>

  <script type="text/html" id="characterCounter">
    <div class="character-counter <%= counter_class %>">
      <%= count %> {{ _('characters remaining') }}
    </div>
  </script>
{% endblock %}
