{% extends "base.html" %}

{% import "macros/form.html" as Form %}
{% import "macros/element.html" as Element %}

{% set title = _('Report a problem') %}
{% block page_title %}{{ title }} - {{ super() }}{% endblock %}

{% block inner_content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>
  <p class="govuk-body-l">
    {% trans %}Do not include any personal or financial details, for example, your National Insurance or credit card numbers.{% endtrans %}
  </p>

  <form method="POST" action="{{ url_for('.feedback') }}">
    {{ form.csrf_token }}
    {{ form.referrer }}

    {{ Form.handle_errors(form) }}

    {% if non_field_error %}
      {% call Element.alert('error', icon='cross') %}
        <p class="govuk-body">{{ non_field_error }}</p>
      {% endcall %}
    {% endif %}

    {% call Form.fieldset(form.help_filling_in_form, field_as_label=True) %}
      {{ Form.option_list(form.help_filling_in_form) }}
    {% endcall %}

    {{ Form.group(form.difficulty, field_attrs={'class': 'm-full', 'rows': 6}) }}
    {{ Form.group(form.ideas, field_attrs={'class': 'm-full', 'rows': 6}) }}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Continue to contact CLA')) }}
  </form>
  {% include "checker/time-out-warning.html" %}
{% endblock %}
