{% extends "base.html" %}

{% import "macros/form.html" as Form %}
{% import "macros/element.html" as Element %}

{% set title = 'Your feedback' %}
{% block page_title %}{{ title }} - {{ super() }}{% endblock %}

{% block inner_content %}
  <h1>{{ title }}</h1>
  <p class="subtitle">
    Please don't include any personal or financial details,
    for example, your National Insurance or credit card numbers.
  </p>

  <form method="POST" action="{{ url_for('.feedback') }}">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {{ Form.textarea_fieldset(form.difficulty, class_='m-full', rows=6) }}
    {{ Form.textarea_fieldset(form.ideas, class_='m-full', rows=6) }}
    {{ Form.option_list_fieldset(form.feel_about_service) }}
    {{ Form.option_list_fieldset(form.help_filling_in_form) }}

    {{ Element.call_me_back_link() }}

    {{ Form.honeypot(form) }}
    {{ Form.actions('Send feedback') }}
  </form>
{% endblock %}
