{% extends "base.html" %}

{% import "macros/form.html" as Form %}
{% import "macros/element.html" as Element %}

{% block page_heading %}Your feedback{% endblock %}

{% block inner_content %}
  <p>
    Please don't include any personal or financial details
    <br>
    For example, your National Insurance or credit card numbers.
  </p>

  <form method="POST" action="{{ url_for('.feedback') }}">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {{ Form.textarea_field(form.difficulty) }}
    {{ Form.textarea_field(form.ideas) }}
    {{ Form.check_list_field(form.feel_about_service) }}
    {{ Form.check_list_field(form.help_filling_in_form) }}

    {{ Form.actions('Send feedback') }}
  </form>
{% endblock %}
