{% extends "base.html" %}

{% set sidebar = 'reminder' %}

{% import "macros/form.html" as Form %}
{% import "macros/element.html" as Element %}

{% block page_heading %}
  {% if session.has_partner %}
    You and your partner’s
  {% else %}
    Your
  {% endif %}
  {% if session.is_employed or session.is_self_employed %}
    income and tax
  {% else %}
    money coming in
  {%  endif %}
{% endblock %}

{% block inner_content %}
  <p>
    We need to know how much money you have coming in, because this affects
    whether or not you can get legal aid. Please answer these questions as
    fully and accurately as you can.
  </p>
  <form method="POST" action="{{ url_for('.income') }}">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {% with is_hidden = not (session.is_employed or session.is_self_employed) %}
      <fieldset>
        {% if session.has_partner %}
          <h3>Your money coming in</h3>
          <p>This section is for any money that is paid to you personally - for example, your wages. You should record income for your partner, if you have one, in the next section.</p>
        {% endif %}
        {{ Form.money_interval_field(form.your_income.earnings, is_hidden) }}
        {{ Form.money_interval_field(form.your_income.income_tax, is_hidden) }}
        {{ Form.money_interval_field(form.your_income.national_insurance, is_hidden) }}
        {{ Form.money_interval_field(form.your_income.working_tax_credit, is_hidden) }}
        {{ Form.money_interval_field(form.your_income.maintenance) }}
        {{ Form.money_interval_field(form.your_income.pension) }}
        {{ Form.money_interval_field(form.your_income.other_income) }}
      </fieldset>
    {% endwith %}
    {% if session.has_partner %}
      {% with is_hidden_for_partner = not (session.partner_is_employed or session.partner_is_self_employed) %}
        <fieldset>
          <h3>Your partner’s money coming in</h3>
          {{ Form.money_interval_field(form.partner_income.earnings, is_hidden_for_partner) }}
          {{ Form.money_interval_field(form.partner_income.income_tax, is_hidden_for_partner) }}
          {{ Form.money_interval_field(form.partner_income.national_insurance, is_hidden_for_partner) }}
          {{ Form.money_interval_field(form.partner_income.working_tax_credit, is_hidden_for_partner) }}
          {{ Form.money_interval_field(form.partner_income.maintenance) }}
          {{ Form.money_interval_field(form.partner_income.pension) }}
          {{ Form.money_interval_field(form.partner_income.other_income) }}
        </fieldset>
      {% endwith %}
    {% endif %}

    {{ Element.call_me_back_link() }}

    {{ Form.honeypot(form) }}
    {{ Form.actions('Continue') }}
  </form>
{% endblock %}
