{% extends "base.html" %}

{% import "macros/form.html" as Form %}
{% import "macros/element.html" as Element %}

{% block page_heading %}
  Your income and tax
{% endblock %}

{% block inner_content %}
  <p>
    We need to know how much money you have coming in, because this affects
    whether or not you can get legal aid. Please answer these questions as
    fully and accurately as you can.
  </p>
  <form method="POST" action="{{ url_for('.income') }}">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {% if session.is_employed or session.is_self_employed %}
      {{ Form.money_interval_field(form.earnings) }}
      {{ Form.money_interval_field(form.income_tax) }}
      {{ Form.money_interval_field(form.national_insurance) }}
      {{ Form.money_interval_field(form.working_tax_credit) }}
    {% endif %}
    {{ Form.money_interval_field(form.maintenance) }}
    {{ Form.money_interval_field(form.pension) }}
    {{ Form.money_interval_field(form.other_income) }}

    {{ Form.actions('Continue') }}
  </form>
{% endblock %}
