{% extends "base.html" %}

{% set sidebar = 'resources' %}

{% block container_class %}m-has-sidebar{% endblock %}

{% block page_heading %}
  Find out if Civil Legal Advice can help you
{% endblock %}

{% block page_subheading %}
  <p>If you qualify for legal aid, you may be able to get help from Civil Legal Advice (CLA), a national advice line for England and Wales.</p>
{% endblock %}

{% block inner_content %}
  <p>This service will ask you general questions about your problem and detailed questions about your finances. You’ll only get guidance on whether you might qualify for legal aid - you won’t get a final decision.</p>

  <p>If it looks like you might qualify for legal aid, you can speak to a Civil Legal Advice operator about your problem. If CLA can’t help, you’ll get suggestions of other places you could go for advice. </p>

  <p><a class="button button-get-started" href="{{ url_for('checker.problem') }}" id="start">Start</a></p>

  <h3>Before you start</h3>
  <p>To use this service, you’ll need:</p>
  <ul>
    <li>last month’s payslips (if you’re working)</li>
    <li>last month’s bank statements</li>
    <li>details of any benefits you got last month</li>
  </ul>

  <p>Legal aid is different in <a href="http://www.slab.org.uk/public/civil/eligibility/" rel="external">Scotland</a> and <a href="http://www.dojni.gov.uk/index/public-consultations/current-consultations/consultation-on-scope-of-civil-legal-aid.htm" rel="external">Northern Ireland</a>.</p>

  <p>For more detail on whether your specific problem is covered by legal aid, use the <a href="#">GOV.UK legal aid checker</a></p>

  <p>If you're under 18, please contact <a href="https://www.gov.uk/civil-legal-advice">Civil Legal Advise</a>.</p>

  <p>If you’ve been charged with a crime, this service doesn’t apply to you. Ask your solicitor about <a href="#">criminal legal aid</a>.</p>
{% endblock %}
