{% extends "base.html" %}

{% set title = _('Legal aid is available for this type of problem') %}
{% block page_title %}{{ title }} - {{ super() }}{% endblock %}

{% import "macros/element.html" as Element %}
{% import "macros/help-orgs.html" as HelpOrganisations %}

{% block sidebar %}
  <aside class="sidebar">
    <h2 class="govuk-heading-m">{{ _('To qualify for legal aid:') }}</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ _('your income (or combined income if you have a partner) shouldn’t be more than £2,657 a month before tax') }}</li>
      <li>{{ _('your savings (or combined savings if you have a partner) shouldn’t be more than £8,000') }}</li>
    </ul>
    <p class="govuk-body-s">
      {{ _('These limits can vary in certain circumstances – for example, if you need advice about domestic abuse.') }}
    </p>
  </aside>
{% endblock %}

{% block inner_content %}

  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <p class="govuk-body-l">
    {% if is_hlpas %}
      {{ _('However, you may need to also qualify financially.') }}
    {% else %}
      {{ _('However, you must also qualify financially.') }}
    {% endif %}
  </p>
  <p class="govuk-body">
    {{ _('If you do qualify financially, you can speak to Civil Legal Advice (CLA),
    a national helpline for certain legal aid problems in England and Wales.') }}
  </p>
  <p class="govuk-body">
    {{ _('The CLA operator will check all the information you’ve given through this service.') }}
  </p>
  <h2 class="govuk-heading-m">
    {{ _('What you need to check if you qualify financially') }}
  </h2>
  <p class="govuk-body">{{ _('You and your partner (if you have one) will need:' ) }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ _('recent payslips (if you’re working) and bank statements') }}</li>
    <li>{{ _('a summary of your income tax and National Insurance contributions') }}</li>
    <li>{{ _('details of any savings and investments you have') }}</li>
    <li>{{ _('details of any benefits you receive') }}</li>
    <li>{{ _('mortgage statements and a current valuation for any property you own') }}</li>
  </ul>

  <h2 class="govuk-heading-m">
    {{ _('When you do not need to complete the financial assessment') }}
  </h2>
  <p class="govuk-body">{{ _('You should contact CLA without completing the financial assessment if you are:' ) }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ _('under 18') }}</li>
    <li>{{ _('have capital trapped in a property you own or other money or assets that you cannot access') }}</li>
  </ul>

  <h3 class="govuk-heading-m">
    {{ _('If you use British Sign Language (BSL)') }}
  </h3>
  <p class="govuk-body">{{ _('You can choose not to complete the financial assessment online, and instead ask for a call with a BSL interpreter.') }}</p>
  <p class="govuk-body">
    {% trans %}Fill in the <a class="govuk-link" href="/contact">‘Contact CLA</a> page. Select 'BSL' under 'Communication needs'.{% endtrans %}
  </p>

  <a class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" href="{{ url_for('.wizard', step='about') }}" role="button">
    {{ _('Check if you qualify financially') }}
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg>
  </a>

  <h2 class="govuk-heading-m">{% trans %}Before you start{% endtrans %}</h2>

  <p class="govuk-body">
    {{ _('Alternatively, you can ask a legal aid adviser to take on your case.') }}
  </p>
  <p class="govuk-body">
    {{ _('Your adviser will check whether you qualify for legal aid at no cost to you by asking about your problem and your finances.') }}
    {{ _('If you qualify, in some cases you may need to pay a contribution towards your legal aid.') }}
  </p>
  <p class="govuk-body">
    <a class="govuk-link" href="{{ url_for('.laalaa') }}?category={{ category }}">{{ _('Find a legal adviser') }}</a>
  </p>

  {% if organisations %}
    {% call HelpOrganisations.org_list_container(organisations, category_name, truncate=1) %}
      <h2 class="govuk-heading-m">{{ _('Other sources of help') }}</h2>
      <p class="govuk-body">
        {% trans category_name=category_name|lower %}
          You can also get advice from alternative help organisations for issues related to {{ category_name }}.
        {% endtrans %}
        {{ _('You don’t have to qualify for legal aid.') }}
      </p>
    {% endcall %}
  {% endif %}
{% include "checker/time-out-warning.html" %}
{% endblock %}
