{% extends "base.html" %}

{% import "macros/form.html" as Form %}

{% block page_heading %}
  Your outgoings
{% endblock %}

{% block inner_content %}
  <form method="POST" action="{{ url_for('.outgoings') }}">
    {{ form.csrf_token }}

    {{ Form.handle_errors(form) }}

    {{ Form.money_interval_field(form.rent) }}
    {{ Form.money_interval_field(form.maintenance) }}
    {{ Form.money_interval_field(form.income_contribution) }}
    {{ Form.money_interval_field(form.childcare) }}

    {{ Form.actions('Submit') }}
  </form>
{% endblock %}
