{% extends "base.html" %}

{% block page_title %}{{ _('Privacy Statement') }} - {{ super() }}{% endblock %}

{% block inner_content %}
  <h1 class="govuk-heading-xl">{{ _('Civil Legal Advice (“CLA”) - Legal Aid Agency Privacy Notice
') }}</h1>

  <h2 class="govuk-heading-m">{{ _('Purpose') }}</h2>

  <p class="govuk-body">
    {% trans %}This privacy notice sets out the standards that you can expect from the Legal Aid Agency when we request or hold personal information (‘personal data’) about you; how you can get access to a copy of your personal data; and what you can do if you think the standards are not being met.{% endtrans %}
  </p>

  <p class="govuk-body">{{ _('The Legal Aid Agency is an Executive Agency of the Ministry of Justice (MoJ). The MoJ is the data controller for the personal information we hold. The Legal Aid Agency collects and processes personal data for the exercise of its own and associated public functions. Our public function is to provide legal aid.') }}</p>

  <p class="govuk-body">
    {% trans %}The CLA Operator Service is delivered by Hinduja Global Solutions UK Ltd, a contractor employed by the Legal Aid Agency to deliver CLA. If it is determined that you qualify for CLA, we may put you through to one of a number of CLA Specialist Advice Providers. These organisations are data processors on behalf of the Legal Aid Agency and Ministry of Justice.{% endtrans %}
  </p>

  <h2 class="govuk-heading-m">{{ _('About personal information') }}</h2>

  <p class="govuk-body">
    {% trans %}Personal data is information about you as an individual. It can be your name, address or telephone number.{% endtrans %}
  </p> 

  <p class="govuk-body">
    {% trans %}The kind of information that CLA will collect about you includes:{% endtrans %}
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      {% trans %}Personal details including your name, address, date of birth, contact details, diversity
      monitoring information and national insurance number;{% endtrans %}
    </li>
    <li>
      {{ _('Financial information needed to determine if you qualify for legal aid;') }}
    </li>
    <li>
      {{ _('Reason for contacting <abbr>CLA</abbr>, such as the nature of your problem or specific details about your situation;') }}
    </li>
    <li>
      {{ _('Details of any specific needs that you may have in order to access the <abbr>CLA</abbr> service; and') }}
    </li>
    <li>
      {% trans %}Responses to any customer satisfaction survey or details of any feedback, complaints or requests
      for a review of our decision about whether you qualify for legal aid.{% endtrans %}
    </li>
  </ul>
 
  <p class="govuk-body">
    {% trans %}We will only save the information you enter if you decide to contact a Civil Legal Advice operator. Therefore, the personal information that you have submitted, will only be stored when you click ‘submit your application’.{% endtrans %}
  </p>

  <p class="govuk-body">
    {% trans %}We know how important it is to protect customers’ privacy and to comply with data protection laws. We will safeguard your personal data and will only disclose it where it is lawful to do so, or with your consent.{% endtrans %}
  </p>

  <h2 class="govuk-heading-m">{{ _('Types of personal data we process') }}</h2>
  
  <p class="govuk-body">
    {% trans %}We only process personal data that is relevant for the services we are providing to you. The personal data which you have provided will only be used for the purposes set out below.{% endtrans %}
  </p>

  <h2 class="govuk-heading-m">{{ _('Purpose of processing and the lawful basis for the process') }}</h2>

  <p class="govuk-body">
    {% trans %}The purpose of the Legal Aid Agency collecting and processing the personal data which you have provided on this form is for the purposes of providing legal aid. Specifically, we will use this personal data in the following ways:{% endtrans %}
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      {% trans %}In deciding whether you qualify for legal aid. This is to assess whether your issue is within the scope of the CLA and whether you are financially eligible.{% endtrans %}
    </li>
    <li>
      {% trans %}In assisting us in providing information and/or advice services to you.{% endtrans %}
    </li>
    <li>
      {% trans %}To prevent or detect crime and fraud.{% endtrans %}
    </li>
    <li>
      {% trans %}In conducting periodic assurance audits on legal aid files to ensure that decisions have been made correctly and accurately.{% endtrans %}
    </li>
    <li>
      {% trans %}In producing statistics and information on our processes to enable us to improve and monitor our processes to assist us in carrying out our functions. This information is collated in an anonymous format, it will not be used to identify you.{% endtrans %}
    </li>
  </ul>

  <p class="govuk-body">
    {% trans %}Were the Legal Aid Agency unable to collect this personal information, we would not be able to conduct the activities above, which would prevent our ability to provide legal aid.{% endtrans %}
  </p>  

  <p class="govuk-body">
    {% trans %}The lawful basis for the Legal Aid Agency collecting and processing your personal data is for the administration of justice and the result of the powers contained in Legal Aid, Sentencing and Punishment of Offenders Act 2012.{% endtrans %}
  </p>  

  <p class="govuk-body">
    {% trans %}We also collect ‘special categories of personal data’ for the purposes of monitoring equality, this is a legal requirement for public authorities under the Equality Act 2010. Special categories of personal data obtained for equality monitoring will be treated with the strictest confidence and any information published will not identify you or anyone else associated with your legal aid application.{% endtrans %}
  </p> 

  <h2 class="govuk-heading-m">{{ _('Who the information may be shared with') }}</h2>

  <p class="govuk-body">
    {% trans %}We sometimes need to share the personal information we process with other organisations. When this is necessary, we will comply with all aspects of the relevant data protection laws. The organisations we may share your personal information include:{% endtrans %}
  </p> 

  <ul class="govuk-list govuk-list--bullet">
    <li>
      {% trans %}Public authorities such as: HM Courts and Tribunal Service (HMCTS), HM Revenue and Customs (HMRC), Department of Work and Pensions (DWP) and HM Land Registry;{% endtrans %}
    </li>
    <li>
      {% trans %}Non-public authorities such as: Credit reference agencies Equifax and Transunion and our debt collection partners Marston Holdings;{% endtrans %}
    </li>
    <li>
      {% trans %}Hinduja Global Solutions UK Ltd and{% endtrans %}
    </li>
    <li>
      {% trans %}If false or inaccurate information is provided or fraud identified, the Legal Aid Agency can lawfully share your personal information with fraud prevention agencies to detect and to prevent fraud and money laundering.{% endtrans %}
    </li>
  </ul>

  <p class="govuk-body">
    {% trans %}You can contact our Data Protection Officer for further information on the organisations we may share your personal information with.{% endtrans %}
  </p> 

  <h2 class="govuk-heading-m">{{ _('Data processors') }}</h2>

  <p class="govuk-body">
    {% trans %}The LAA may contract with third party data processors to provide email, system administration, document management and IT storage services.{% endtrans %}
  </p> 

  <p class="govuk-body">
    {% trans %}Any personal data shared with a data processor for this purpose will be governed by model contract clauses under data protection law.  
    {% endtrans %}
  </p> 

  <h2 class="govuk-heading-m">{{ _('Details of transfers to third country and safeguards') }}</h2>

  <p class="govuk-body">
    {% trans %}It may sometimes be necessary to transfer personal information overseas. When this is needed, information may be transferred to: the European Economic Area (EEA).{% endtrans %}
  </p> 
  <p class="govuk-body">
    {% trans %}Any transfers made will be in full compliance with all aspects of the data protection law.{% endtrans %}
  </p> 

  <h2 class="govuk-heading-m">{{ _('Retention period for information collected') }}</h2>

  <p class="govuk-body">
    {% trans %}Your personal information will not be retained for any longer than is necessary for the lawful purposes for which it has been collected and processed. This is to ensure that your personal information does not become inaccurate, out of date or irrelevant. The Legal Aid Agency have set retention periods for the personal information that we collect, this can be accessed via our website:{% endtrans %}
  </p> 
  <p class="govuk-body">
    {% trans %} <a class="govuk-link" href="https://www.gov.uk/government/publications/record-retention-and-disposition-schedules" rel="external">See our record retention and disposition schedules</a>{% endtrans %}
  </p>
  <p class="govuk-body">
    {% trans %}You can also contact our Data Protection Officer for a copy of our retention schedules.{% endtrans %}
  </p> 
  <p class="govuk-body">
    {% trans %}While we retain your personal data, we will ensure that it is protected from loss, misuse or unauthorised access and disclosure. Once the retention period has been reached, your personal data will be permanently and securely deleted and destroyed.{% endtrans %}
  </p> 

  <h2 class="govuk-heading-m">{{ _('Access to personal information') }}</h2>
  <p class="govuk-body">    
    {% trans %}You can find out if we hold any personal data about you by making a ‘subject access request’. If you wish to make a subject access request please contact:{% endtrans %}
  </p>
  
  <p class="govuk-body">
    {% trans %}
    Disclosure Team - Post point 10.25<br/>
    Ministry of Justice<br/>
    102 Petty France<br/>
    London<br/>
    SW1H 9AJ <br/>    
    <a class="govuk-link email" href="mailto:data.access@justice.gov.uk">data.access@justice.gov.uk</a>
    {% endtrans %}
  </p>

<h2 class="govuk-heading-m">{{ _('When we ask you for personal data') }}</h2>
  <p class="govuk-body">
    {% trans %}We promise to inform you why we need your personal data and ask only for the personal data we need and not collect information that is irrelevant or excessive.{% endtrans %}
  </p>

  <p class="govuk-body">
    {% trans %}When we collect your personal data, we have responsibilities, and you have rights. These include:{% endtrans %}
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      {% trans %}That you can withdraw consent at any time, where relevant;{% endtrans %}
    </li>
    <li>
      {% trans %}That you can lodge a complaint with the supervisory authority;{% endtrans %}
    </li>
    <li>
      {% trans %}That we will protect and ensure that no unauthorised person has access to it;{% endtrans %}
    </li>
    <li>
      {% trans %}That your personal data is shared with other organisations only for legitimate purposes;{% endtrans %}
    </li>
    <li>
      {% trans %}That we don’t keep it longer than is necessary;{% endtrans %}
    </li>
    <li>
      {% trans %}That we will not make your personal data available for commercial use without your consent; and{% endtrans %}
    </li>
    <li>
      {% trans %}That we will consider your request to correct, stop processing or erase your personal data.{% endtrans %}
    </li>
  </ul>

  <h2 class="govuk-heading-m">{{ _('You can get more details on:') }}</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      {% trans %}Agreements we have with other organisations for sharing information;{% endtrans %}
    </li>
    <li>
      {% trans %}Circumstances where we can pass on personal information without telling you, for example, to help with the prevention 
      or detection of crime or to produce anonymised statistics;{% endtrans %}
    </li>
    <li>
      {% trans %}Our instructions to staff on how to collect, use or delete your personal information;{% endtrans %}
    </li>
    <li>
      {% trans %}How we check that the information we hold is accurate and up-to-date; and{% endtrans %}
    </li>
    <li>
      {% trans %}How to make a complaint.{% endtrans %}
    </li>
  </ul>

  <p class="govuk-body">
      {% trans %}For more information about the above issues, please contact the <abbr>MoJ</abbr> Data Protection Officer:{% endtrans %}
  </p>

  <p class="govuk-body">
      {% trans %}
      The Data Protection Officer<br/>
      Ministry of Justice<br/>
      3rd Floor, Post Point 3.20<br/>
      10 South Colonnades<br/>
      Canary Wharf<br/>
      London<br/>
      E14 4PU<br/>
      <a class="govuk-link email" href="mailto:privacy@justice.gov.uk">privacy@justice.gov.uk</a>
      {% endtrans %}
  </p>

  <p class="govuk-body">
    {% trans %}For more information on how and why your information is processed, please see the information provided when you accessed our services or were contacted by us.{% endtrans %}
  </p>

  <h2 class="govuk-heading-m">{{ _('Complaints') }}</h2>
  <p class="govuk-body">
      {% trans %}When we ask you for information, we will keep to the law. If you consider that your information has been handled incorrectly, you can contact the Information Commissioner for independent advice about data protection. You can contact the Information Commissioner at:{% endtrans %}
  </p>
  <ul class="govuk-list">
    <li>
      Information Commissioner’s Office<br />
      Wycliffe House<br />
      Water Lane<br />
      Wilmslow<br />
      Cheshire<br />
      SK9 5AF  
    </li>
    <li>
      {% trans %}Telephone:{% endtrans %} 0303 123 1113</span>
    </li>
    <li>
      <a class="govuk-link" href="https://www.ico.org.uk" rel="external">www.ico.org.uk</a>
    </li>
  </ul>

  {% include "checker/time-out-warning.html" %}
{% endblock %}