{% extends "base.html" %}

{% block page_title %}{{ _('Privacy Statement') }} - {{ super() }}{% endblock %}

{% block inner_content %}
  <h1>{{ _('Terms and conditions and privacy') }}</h1>

  <p>
    {% trans %}When using this service you agree to the terms of use for both <a href="http://gov.uk/help/terms-conditions">gov.uk/help/terms-conditions</a> as well as
    the terms and conditions specific to this service found below.{% endtrans %}
  </p>

  <p>{{ _('If you do not agree to these terms please do not use this service.') }}</p>

  <h3>{{ _('Who manages this digital service and Civil Legal Advice') }}</h3>
  <p>
    {% trans %}The Legal Aid Agency (<abbr title="The Legal Aid Agency">LAA</abbr>) is responsible for Civil Legal Advice (<abbr title="Civil Legal Advice">CLA</abbr>) service. The <abbr title="The Legal Aid Agency">LAA</abbr> works with other
    organisations who deliver the <abbr title="Civil Legal Advice">CLA</abbr> service. For example this digital service is managed by the Ministry of
    Justice.{% endtrans %}
  </p>

  <p>
    {% trans %}When you first make contact with <abbr title="Civil Legal Advice">CLA</abbr> you will communicate with the <abbr title="Civil Legal Advice">CLA</abbr> Operator Service, which is delivered by
    Agilisys (a contractor employed by the <abbr title="The Legal Aid Agency">LAA</abbr> on behalf of Freedom Communications, a contractor
    employed to deliver the <abbr title="Civil Legal Advice">CLA</abbr> Operator Service).{% endtrans %}
  </p>

  <h3>{{ _('Complaints') }}</h3>
  <p>
    {{ _('If you would like to make a complaint about this service or Civil Legal Advice please contact <abbr title="Civil Legal Advice">CLA</abbr> on 0345 345 4 345.') }}
  </p>

  <h2>{{ _('How is my privacy protected?') }}</h2>
  <p>
    {% trans %}Protecting your privacy is important to us. You can use this service to find out if you might qualify for
    legal aid without providing any personal information that could identify you.{% endtrans %}
  </p>

  <p>
    {% trans %}We only save the information you enter if you decide to contact a Civil Legal Advice
    operator.{% endtrans %}
  </p>

  <p>
    {% trans %}At this point, you will need to tell us your name and phone number and all the information you've entered will
    be stored when you click 'Submit your application'. We store this information so that the operator can see it
    when they speak to you.{% endtrans %}
  </p>

  <p>
    {% trans %}If you don't want to speak to an operator, you don't need to enter any personal details and we don't store
    any of the information you have entered.{% endtrans %}
  </p>

  <p>
    {% trans %}To provide you with the best service that we can, Civil Legal Advice may share some information about you
    with other organisations. But we will only do this if you have given us permission.{% endtrans %}
  </p>

  <p>
    {% trans %}In exceptional circumstances, we may share limited information about you without your consent. This would
    only be to prevent fraud, help detect crime, if it is required by law or by a court order or If we are
    very worried about your safety or the safety of others.{% endtrans %}
  </p>

  <p>
    {{ _('Read the full Civil Legal Advice Privacy Statement here.') }}
  </p>


  <h2{{ _('Civil Legal Advice Privacy Statement') }}></h2>
  <p>
    {% trans %}In order to provide a service to you, Civil Legal Advice (<abbr title="Civil Legal Advice">CLA</abbr>)
    may need to view, collect, record and hold (‘process’) personal data about you.{% endtrans %}
  </p>
  <p>
    {% trans %}Personal data is information about you that can be used to identify you in some way
    e.g. your name or telephone number. You can look at the
    <a href="http://ico.org.uk/for_organisations/data_protection/the_guide/key_definitions#personal-data" rel="external" target="_blank">full legal definition</a>.{% endtrans %}
  </p>
  <p>
    {% trans %}<abbr title="Civil Legal Advice">CLA</abbr> is committed to protecting your personal data and respecting your privacy.
    We are legally bound by the Data Protection Act 1998 to ensure that we only use your personal
    data for the reasons we tell you about. We must also hold it securely.{% endtrans %}
  </p>
  <p>
    {% trans %}This statement explains how <abbr>CLA</abbr> will process any personal data that we collect
    from you or that you provide to us.{% endtrans %}
  </p>


  <h2{{ _('What is Civil Legal Advice?') }}></h2>
  <p>
    <abbr title="Civil Legal Advice">CLA</abbr> {{ _('is a national adviceline for England and Wales, paid for by Legal Aid.') }}
  </p>
  <p>
    {% trans %}The Legal Aid Agency (<abbr title="The Legal Aid Agency">LAA</abbr>) is responsible for the <abbr>CLA</abbr>
    service and the Ministry of Justice (<abbr title="The Ministry of Justice">MoJ</abbr>) is the Data Controller
    for the purposes of the Data Protection Act 1998. They are responsible for determining the purposes for which
    and the manner in which any personal data are, or are to be processed.{% endtrans %}
  </p>
  <p>
    {% trans %}For a more comprehensive explanation see
    <a href="http://ico.org.uk/for_organisations/data_protection/the_guide/key_definitions#personal-data" rel="external" target="_blank">this guide</a>.{% endtrans %}
  </p>
  <p>
    {% trans %}The <abbr title="The Legal Aid Agency">LAA</abbr> works with other organisations who deliver the <abbr>CLA</abbr> service.
    For example when you first make contact with <abbr>CLA</abbr> you will communicate with
    the <abbr>CLA</abbr> Operator Service, which is delivered by Agilisys
    (a contractor employed by the <abbr title="The Legal Aid Agency">LAA</abbr> to [  ]).{% endtrans %}
  </p>
  <p>
    {% trans %}If after contacting the <abbr>CLA</abbr> Operator Service it is determined that you
    qualify for the <abbr>CLA</abbr> specialist advice service you may be put through
    to one of a number of <abbr>CLA</abbr> Specialist Advice Providers. If you do not qualify to receive
    <abbr>CLA</abbr> specialist advice we will inform you accordingly and
    direct you to alternative help.{% endtrans %}
  </p>
  <p>
    {% trans %}These organisations are Data Processors for the purposes of the Data Protection Act 1998 which
    means that they process data on behalf of the <abbr>LAA</abbr> and <abbr title="The Ministry of Justice">MoJ</abbr>.{% endtrans %}
  </p>
  <p>
    {% trans %}The <abbr>CLA</abbr> service is committed to following this Privacy Statement.
    <abbr>CLA</abbr> Specialists must also adhere to their own internal privacy policy.{% endtrans %}
  </p>


  <h2>{{ _('What data will <abbr>CLA</abbr> collect?') }}</h2>
  <p>
    {% trans %}<abbr>CLA</abbr> will only collect the minimum amount of information necessary in order
    to deliver the <abbr>CLA</abbr> service to you.{% endtrans %}
  </p>
  <p>
    {{ _('The kind of information <abbr>CLA</abbr> may collect about you includes:') }}
  </p>
  <ul>
    <li>
      {% trans %}Personal details including your name, address, date of birth, contact details, diversity
      monitoring information and national insurance number;{% endtrans %}
    </li>
    <li>
      {{ _('Financial information needed to determine if you qualify for legal aid;') }}
    </li>
    <li>
      {{ _('Reason for contacting <abbr>CLA</abbr>, such as the nature of your problem or specific details about your situation;') }}
    </li>
    <li>
      {{ _('Details of any specific needs that you may have in order to access the <abbr>CLA</abbr> service;') }}
    </li>
    <li>
      {% trans %}Responses to any customer satisfaction survey or details of any feedback, complaints or requests
      for a review of our decision about whether you qualify for legal aid.{% endtrans %}
    </li>
  </ul>
  <p>
    {% trans %}The amount of information <abbr>CLA</abbr> will collect will depend on whether you qualify for the <abbr>CLA</abbr>
    service and/or your specific needs. For example you will be asked to provide more information
    before we can transfer you through to a <abbr>CLA</abbr> Specialist.{% endtrans %}
  </p>


  <h2>{{ _('What does <abbr>CLA</abbr> use the data for?') }}</h2>
  <p><abbr>CLA</abbr> {{ _('collects and records information about you to:') }}</p>
  <ul>
    <li>{{ _('Work out whether you qualify for legal aid') }}</li>
    <li>{{ _('Provide information and/or advice services to you') }}</li>
    <li>{{ _('Save you from repeating information every time you contact us') }}</li>
    <li>{{ _('Help us monitor and improve our service') }}</li>
    <li>
      {% trans %}Build statistics about the <abbr>CLA</abbr> service, monitor fraud and justify public expenditure.
      This information is collated in an anonymous format.{% endtrans %}
    </li>
    <li>
      {% trans %}Collect views on the <abbr>CLA</abbr> service and any improvements considered necessary.
      Where consent is provided <abbr>CLA</abbr> User contact details may be passed onto an independent research agency.{% endtrans %}
    </li>
    <li>{{ _('Prevent or detect crime or fraud') }}</li>
  </ul>
  <p>
    {% trans %}Given the purposes for which your personal data may be used (as referred to above)
    it is essential that the information you provide is accurate and complete.{% endtrans %}
  </p>


  <h2>{{ _('How does <abbr>CLA</abbr> collect your personal data and keep it safe?') }}</h2>
  <p>
    {% trans %}<abbr>CLA</abbr> may collect personal data about you by phone, online, email or post (see table below).
    Any personal data will be recorded and stored within a secure system that meets required Government standards.{% endtrans %}
  </p>
  <p>
    {% trans %}<abbr>CLA</abbr> will be able to view and verify the information that you provide and where
    necessary will amend it to maintain its accuracy.{% endtrans %}
  </p>
  <p>
    {% trans %}The minimum amount of personal data that <abbr>CLA</abbr> will ask to collect is your name and one other piece
    of personal information that could be used to identify you e.g. postcode, date of birth or telephone number.{% endtrans %}
  </p>
  <p>
    {% trans %}All personal data will be stored on secure servers in the UK. It may also be stored outside of Europe,
    where it could be viewed by our staff or specialist providers.{% endtrans %}
  </p>
  <p>
    {% trans %}By submitting your personal data, you agree to information being recorded, used and stored
    as outlined in this Privacy Statement.{% endtrans %}
  </p>

  <h3>{{ _('How we collect and store your personal data') }}</h3>
  <table>
    <tr>
      <th class="u-width-20">{{ _('Phone') }}</th>
      <td>
        {% trans %}When you call <abbr>CLA</abbr> we will record relevant personal data that you provide within a secure digital system.
        <br><br>
        We may also record your calls. But you can choose to opt out of this or choose whether or not
        to continue with the call.
        <br><br>
        If you leave <abbr>CLA</abbr> a voice message we will record the minimum amount of information
        required in order to contact you back.{% endtrans %}
      </td>
    </tr>
    <tr>
      <th>{{ _('Online') }}</th>
      <td>
        {% trans %}When you contact <abbr>CLA</abbr> online the personal data that you provide will be recorded within a secure digital system.
        <br><br>
        Please note that transmitting information over the internet is generally not completely secure, and
        <abbr>CLA</abbr> can’t guarantee the security of your data. Any data you transmit is at your own risk.
        <abbr>CLA</abbr> have procedures and security features in place to keep your data secure once we receive it.{% endtrans %}
      </td>
    </tr>
    <tr>
      <th>{{ _('Email') }}</th>
      <td>
        {% trans %}Transmitting information via email is generally not completely secure, and <abbr>CLA</abbr> can’t guarantee the
        security of your data. Any data you transmit is at your own risk.
        <br><br>
        <abbr>CLA</abbr> have procedures and security features in place to keep your data secure once we receive it.
        <br><br>
        When you email <abbr>CLA</abbr>, relevant personal data that you provide will be recorded within a secure digital system.
        <br><br>
        <abbr>CLA</abbr> may monitor and store both your incoming and outgoing emails. We may also use blocking software,{% endtrans %}
      </td>
    </tr>
    <tr>
      <th>{{ _('Post') }}</th>
      <td>
        {% trans %}When <abbr>CLA</abbr> receives post we may record relevant personal data included within a secure digital system.
        <br><br>
        <abbr>CLA</abbr> may also retain original hard-copies of information submitted by you. This must be stored in a locked
        filing cabinet. Digital copies of letters may be scanned and stored.{% endtrans %}
      </td>
    </tr>
  </table>


  <h3>{{ _('Keeping your personal data safe from others') }}</h3>
  <table>
    <tr>
      <th class="u-width-20">{{ _('Repeat Contacts') }}</th>
      <td>
        {% trans %}<abbr>CLA</abbr> will not disclose any personal information to anyone contacting the <abbr>CLA</abbr> service until
        they have successfully verified that their identity matches that of an existing record.{% endtrans %}
      </td>
    </tr>
    <tr>
      <th>{{ _('Third-parties') }}</th>
      <td>
        {% trans %}<abbr>CLA</abbr> will accept contact made by a third-party on behalf of another person. The third party has to
        demonstrate they have appropriate authority to act on your behalf.
        <br><br>
        <abbr>CLA</abbr> must record the relationship between the third-party and the individual seeking advice
        and whether they are authorised to act on their behalf.
        <br><br>
        They must also agree a password to verify the identity of the third-party if they contact the service again.{% endtrans %}
      </td>
    </tr>
    <tr>
      <th>{{ _('Outgoing Communications') }}</th>
      <td>
        {{ _('<abbr>CLA</abbr> may need to contact you directly.') }}
        <br><br>
        {{ _('In order to protect privacy <abbr>CLA</abbr> will always check with you what forms of outgoing communication are acceptable and appropriate and whether messages can be left.') }}
        <br><br>
        {{ _('When making outgoing calls to you <abbr>CLA</abbr> will ensure that:') }}
        <ul>
          <li>
            {% trans %}Call backs are only made where you have agreed to this. Authorised third parties
            acting on your behalf can give agreement.{% endtrans %}
          </li>
          <li>
            {% trans %}Where a call back is made to you and there is no answer and a message taker is available,
            no message will be left unless you have previously given specific instructions that this would be acceptable.{% endtrans %}
          </li>
          <li>
            {% trans %}Where the phone is answered and someone other than you answers the phone and says that you are
            unavailable or asks who is calling, <abbr>CLA</abbr> will state that the call is confidential and will not say
            that they are calling from <abbr>CLA</abbr>.{% endtrans %}
          </li>
        </ul>
      </td>
    </tr>
  </table>


  <h2>{{ _('How we use cookies') }}</h2>
  <p>
    {% trans %}When you use our online services we may store a small file, known as a cookie, on your
    <abbr title="Personal Computer">PC</abbr> or digital device.{% endtrans %}
  </p>
  <p>{{ _('You may see a message before we store a cookie on your computer.') }}</p>
  <p>{{ _('The cookies are not used to identify you personally.') }}</p>
  <p>{{ _('We use these cookies to:') }}</p>
  <ul>
    <li>{{ _('Help your <abbr>PC</abbr> or digital device to interact with us more quickly') }}</li>
    <li>{{ _('Measure how you use our service so it can be updated and improved based on your needs') }}</li>
    <li>{{ _('Remember the notifications you’ve seen so that we don’t show them to you again') }}</li>
    <li>
      {% trans %}Remember how you progress through our service. These cookies don't store your personal
      data and are deleted once you've completed the service.{% endtrans %}
    </li>
    <li>
      {% trans %}Protect your security by ensuring that third parties cannot create sites that pose as
      a gov.uk service in an attempt to gather your information.{% endtrans %}
    </li>
  </ul>
  <p>
    {% trans cookie_url = url_for('.cookies') %}You can read more about <a href="{{ cookie_url }}">how cookies are used</a>.{% endtrans %}
  </p>
  <p>
    {% trans %}You can read about
    <a href="http://www.aboutcookies.org/" rel="external" target="_blank">how to manage cookies</a>.{% endtrans %}
  </p>


  <h2>{{ _('When will we share information about you outside <abbr>CLA</abbr>?') }}</h2>
  <p>{{ _('Confidentiality means ensuring information is only accessible by those allowed to have access to it.') }}</p>
  <p>
    {% trans %}We want to keep your contact with <abbr>CLA</abbr> confidential, which means you can feel safe talking to us.
    But we sometimes need to share some information outside <abbr>CLA</abbr> which we explain below.{% endtrans %}
  </p>
  <p>
    {% trans %}In order to provide you with the best service that we can we may share some information about
    you with the organisations mentioned below. But we will only do this if you have given us consent
    when the operator asks for it.{% endtrans %}
  </p>
  <table>
    <thead>
      <tr>
        <th class="u-width-50">{{ _('Who') }}</th>
        <th class="u-width-50">{{ _('Why') }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {% trans %}External research organisations engaged by <abbr title="The Legal Aid Agency">LAA</abbr>
          or <abbr title="The Ministry of Justice">MoJ</abbr>{% endtrans %}
        </td>
        <td>
          {% trans %}To inform future government policy on legal aid. Such research will not identify
          individuals whose data has been used for research purposes.{% endtrans %}
        </td>
      </tr>
      <tr>
        <td>
          {{ _('Other government organisations') }}
        </td>
        <td>
          {{ _('To verify information provided by you and check whether you qualify for legal aid.') }}
        </td>
      </tr>
      <tr>
        <td>
          {{ _('Other advice organisations') }}
        </td>
        <td>
          {{ _('To help you get further help and advice from appropriate organisations.') }}
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    {% trans %}In exceptional circumstances we may share limited information without your consent,
    for example if it is a legal requirement or a court compels us to do so.{% endtrans %}
  </p>
  <p>{{ _('If we do this we will wherever possible:') }}</p>
  <ul>
    <li>{{ _('Talk to you first') }}</li>
    <li>{{ _('Give you as much control as possible over how we do this') }}</li>
    <li>{{ _('Only share information on a ‘need to know’ basis.') }}</li>
  </ul>
  <table>
    <thead>
      <tr>
        <th class="u-width-50">{{ _('Who') }}</th>
        <th class="u-width-50">{{ _('Why') }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ _('Other government organisations') }}
        </td>
        <td>
          {{ _('To prevent fraud and help detect crime.') }}
          <br><br>
          {{ _('Or where it is required by law or by a court order') }}
        </td>
      </tr>
      <tr>
        <td>
          {{ _('External protection organisations') }}
        </td>
        <td>
          {% trans %}If we are very worried about your safety or the safety of other people we may need to let others know.
          <br><br>
          For example if we think it necessary in order to protect a child, young person or vulnerable adult
          from abuse or if we think that there is an immediate risk of harm.{% endtrans %}
        </td>
      </tr>
    </tbody>
  </table>


  <h2>{{ _('Requests to view and amend <abbr>CLA</abbr> Data') }}</h2>
  <p>{{ _('You have the right to request details about the personal information <abbr>CLA</abbr> holds about you.') }}</p>
  <p>{{ _('You can also request us to correct any personal information if it is found to be inaccurate or out of date.') }}</p>


  <h2>{{ _('Requests to view personal data held by <abbr>CLA</abbr>') }}</h2>
  <p>{{ _('If you want to view your record, please make a request in writing including your.') }}</p>
  <ul>
    <li>{{ _('Full name') }}</li>
    <li>{{ _('Address') }}</li>
    <li>{{ _('Date of birth') }}</li>
    <li>{{ _('What you contacted <abbr>CLA</abbr> about') }}</li>
    <li>{{ _('When you contacted <abbr>CLA</abbr>') }}</li>
    <li>{{ _('What information you want to see') }}</li>
    <li>
      {% trans %}Any additional information that might help us to check your identity e.g. <abbr>CLA</abbr> case reference number.
      This is to help us protect your privacy by ensuring that we only give data out to the person it relates to
      (or their appropriately authorised representative).{% endtrans %}
    </li>
  </ul>
  <p>
    {% trans %}Please note that we cannot give out any information unless the details that you provide match our records.
    If you used a fake name or pseudonym when you contacted <abbr>CLA</abbr> you will need to prove your identity.{% endtrans %}
  </p>
  <p>
    {% trans %}If you gave us enough information to identify you, <abbr>CLA</abbr> will send you your personal information as soon as
    possible but within a maximum of 40 days.{% endtrans %}
  </p>
  <p class="vcard">
    {{ _('You can contact us by email at <a class="email" href="mailto:data.access@justice.gsi.gov.uk">data.access@justice.gsi.gov.uk</a> or in writing to') }}
    <address class="adr">
      <span class="extended-address">
        <span>Data Access and Compliance Unit</span>
        <span>Postal Point 10.31</span>
        <span>Floor 10</span>
      </span>
      <span class="street-address">102 Petty France</span>
      <span class="locality">London</span>
      <span class="postal-code">SW1H 9AJ</span>
    </address>
  </p>


  <h2>{{ _('Requests to delete personal data') }}</h2>
  <p>
    {{ _('<abbr>CLA</abbr> will only keep a record of your personal data where you have consented to this and we will handle it carefully.') }}
  </p>
  <p>
    {{ _('We will consider requests to delete some or all of your personal data but please note that as a minimum <abbr>CLA</abbr> will usually retain:') }}
  </p>
  <ul>
    <li>
      {% trans %}For everyone that uses our service we will retain a name and one other piece of personal data e.g.
      date of birth and details of what we did for you{% endtrans %}
    </li>
    <li>
      {% trans %}For everyone that asks <abbr>CLA</abbr> to check whether they qualify for legal aid in order to seek advice from a
      <abbr>CLA</abbr> Specialist we will also retain details of any financial information and case details used to prove that
      you qualify for legal aid.{% endtrans %}
    </li>
  </ul>
  <p>
    {% trans %}Please note that if you qualify to receive advice from a <abbr>CLA</abbr> Specialist, they will also need to retain
    additional personal data about you within their own Case Handling System. Such data shall be sufficient
    to justify the provision of legal aid advice and meet professional requirements.{% endtrans %}
  </p>


  <h2>{{ _('Changes to the statement') }}</h2>
  <p>
    {% trans %}This policy is under regular review. Any changes made to the privacy policy will be posted here and,
    where appropriate, <abbr>CLA</abbr> staff will be notified by email.{% endtrans %}
  </p>


  <h2>{{ _('Complaints about this statement') }}</h2>
  <p class="vcard">
    {% trans %}If you would like to make a complaint about this statement and how it applies to you then please
    contact <abbr title="Civil Legal Advice">CLA</abbr> on <span class="tel">0345 345 4 345</span>.{% endtrans %}
  </p>
{% endblock %}
