{% extends "base.html" %}

{% import "macros/form.html" as Form %}
{% import "macros/element.html" as Element %}

{% block page_heading %}
  What do you need help with?
{% endblock %}

{% block page_subheading %}
  <p>Choose one of the options below.</p>
{% endblock %}

{% block inner_content %}
  {% call Element.alert() %}
    <p>If you have more than one problem, you can complete this service more than once.</p>
    <p>If you’re really not sure what to choose, ask us to <a href="#">call you back</a>.</p>
  {% endcall %}

  <form method="POST" action="{{ url_for('.problem') }}">
    {{ form.csrf_token }}

    {% if form.errors %}
      {% call Element.alert('error', icon='cross') %}
        {% for line in form.errors.categories %}
          <p>{{line}}</p>
        {% endfor %}
      {% endcall %}
    {% endif %}

    {% for category in form.categories %}
      {{ Form.block_label(category) }}
    {% endfor %}

    {{ Form.actions('Continue') }}
  </form>
{% endblock %}
