{% extends "base.html" %}

{% import "macros/form.html" as Form %}
{% import "macros/element.html" as Element %}

{% block page_heading %}
  What do you need help with?
{% endblock %}

{% block page_subheading %}
  <p>To qualify for legal aid, you must have a problem that is covered by legal aid. Choose one of the options below.</p>
{% endblock %}

{% block inner_content %}

  <form method="POST" action="{{ url_for('.problem') }}">
    {{ form.csrf_token }}

    {% if form.errors %}
      {% call Element.alert('error', icon='cross') %}
        <p>Please select the area of law you need help with.</p>
      {% endcall %}
    {% endif %}

    <ul class="form-option-list" role="radiogroup">
      {% for category in form.categories %}
        <li>{{ Form.block_label(category) }}</li>
      {% endfor %}
    </ul>

    {% call Element.alert() %}
      <p>If you have more than one problem, you can complete this service more than once.</p>
      <p>If you’re really not sure what to choose, ask us to <a href="{{ url_for('.call_me_back') }}">call you back</a>.</p>
    {% endcall %}

    {{ Form.honeypot(form) }}
    {{ Form.actions('Continue') }}
  </form>

{% endblock %}
