{% extends "base.html" %}

{% import "macros/form.html" as Form %}
{% import "macros/element.html" as Element %}

{% set title = _('Before you contact Civil Legal Advice') %}
{% block page_title %}{{ title }} - {{ super() }}{% endblock %}

{% block inner_content %}
  <h1>{{ title }}</h1>
  <p class="subtitle">
    {% trans %}So we can improve this service, we'd like to understand why you want to contact <abbr title="Civil Legal Advice">CLA</abbr>.{% endtrans %}
  </p>

  <form method="POST" action="{{ url_for('.reasons_for_contacting') }}" class="reasons-for-contacting-form">
    {{ form.csrf_token }}
    {{ form.referrer }}

    {{ Form.handle_errors(form) }}

    {% if zd_error %}
      {% call Element.alert('error', icon='cross') %}
        <p>{{ zd_error }}</p>
      {% endcall %}
    {% endif %}

    {% call Form.fieldset(form.reasons) %}
        <ul class="form-option-list" role="group" aria-labelledby="field-label-reasons">
            {% for reason in form.reasons %}
                <li>
                    <label class="radio-inline" for="{{ reason.id }}">
                      {{ reason }}
                      {{ reason.label.text }}
                    </label>
                    {% if reason.data == form.REASONS_FOR_CONTACTING_OTHER %}
                        {% call Form.fieldset(form.other_reasons, is_subfield=True, controlled_by=reason, control_value=reason.data) %}
                          {{ form.other_reasons(class_='form-control') }}
                        {% endcall %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endcall %}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Continue to contact CLA')) }}
  </form>

  {# <p><a href="{{ url_for('contact.get_in_touch') }}" data-ga="event:reasons-for-contacting/skipped">{{ _('Skip to contact details') }}</a></p> #}

{% endblock %}
