{% extends 'base.html' %}

{% import "macros/form.html" as Form %}

{% macro render_value(field_name, field) %}
  {% if field._money_field %}
    <th>{{ field_name }}</th>
    <td>&pound;{{ field.data }}</td>
  {% elif field._money_interval_field %}
    <th>{{ field_name }}</th>
    <td>&pound;{{ field.data.per_interval_value }}
      {{ choice_label(field.form.interval_period, field.data.interval_period) }}</td>
  {% elif field._property_list %}
    {% for property in field %}
      <td class="subheading" colspan="2">
        <h3>Property {{ loop.index }}</h3>

        <table class="review">
          {% for pfield_name, pfield in property.form._fields.items() %}
          <tr>
            {{ render_value(pfield.label.text, pfield) }}
          </tr>
          {% endfor %}
        </table>
      </td>
    {% endfor %}
  {% elif field._income_field %}
    <td class="subheading" colspan="2">
      <h3>{{ field_name }}</h3>
      <table class="review">
        {% for ifield_name, ifield in field.form._fields.items() %}
          <tr>
            {{ render_value(ifield.label.text, ifield) }}
          </tr>
        {% endfor %}
      </table>
    </td>
  {% elif field.choices %}
    {% if field.data is string %}
      <th>{{ field_name }}</th>
      <td>{{ choice_label(field, field.data) }}</td>
    {% else %}
      <th>{{ field_name }}</th>
      <td>
        <ul>
          {% for item in field.data %}
          <li>{{ choice_label(field, item) }}</li>
          {% endfor %}
        </ul>
      </td>
    {% endif %}
  {% else %}
    <th>{{ field_name }}</th>
    <td>{{ field.data }}</td>
  {% endif %}
{% endmacro %}

{% block inner_content %}
  <h1>Summary</h1>

  {% for step in steps %}
  <h2><a href="{{ url_for('checker.wizard', step=step.name) }}">{{ step.form_class.title }}</a></h2>
  <table class="review">
    {% for field_name, field in step.completed_fields() %}
    <tr>
      {{ render_value(field_name, field) }}
    </tr>
    {% endfor %}
  </table>
  {% endfor %}

  <form method="POST" name="review_submit">
    {{ form.csrf_token }}
    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Submit')) }}
  </form>
{% endblock %}
