{% extends "base.html" %}

{% import "macros/form.html" as Form %}

{% block page_heading %}
  You and your partner’s savings
{% endblock %}

{% block inner_content %}
  <p>Any cash, savings or investments held in both your names.</p>

  <form method="POST" action="{{ url_for('.savings') }}">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {{ Form.text_field(form.savings, prefix="£") }}
    {{ Form.text_field(form.investments, prefix="£") }}
    {{ Form.text_field(form.valuables, prefix="£") }}

    {{ Form.actions('Continue') }}
  </form>
{% endblock %}
