{% extends "base.html" %}

{% set sidebar = 'reminder' %}

{% import "macros/element.html" as Element %}
{% import "macros/form.html" as Form %}

{% block page_heading %}
  {% if session.has_partner %}
    You and your partner’s savings
  {% else %}
    Your savings
  {% endif %}
{% endblock %}

{% block inner_content %}
  {% if session.has_partner %}
    <p>Any cash, savings or investments held in your name, your partner’s name or both your names.</p>
  {% else %}
    <p>We need to know about any money you have saved or invested.</p>
  {% endif %}

  <form method="POST" action="{{ url_for('.savings') }}">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {% with is_hidden = not session.has_savings %}
      {{ Form.text_field(form.savings, prefix="£", is_hidden=is_hidden, default_value='0') }}
      {{ Form.text_field(form.investments, prefix="£", is_hidden=is_hidden, default_value='0') }}
    {% endwith %}
    {% with is_hidden = not session.has_valuables %}
      {% call Form.text_field(form.valuables, prefix="£", is_hidden=is_hidden, default_value='0') %}
        {% include '_valuables-info.html' %}
      {% endcall %}
    {% endwith %}


    {{ Element.call_me_back_link() }}

    {{ Form.honeypot(form) }}
    {{ Form.actions('Continue') }}
  </form>
{% endblock %}
