{% extends "base.html" %}
{% block session_timeout_dialog %} {% endblock %}
{% block page_title %}{{ _('You’ve reached the end of this service') }} - {{ super() }}{% endblock %}

{% block inner_content %}
  <h1 class="page-title">{{ _('You’ve reached the end of this service') }}</h1>

  <p>{{ _('For your security, the information you’ve entered has automatically been deleted.') }}</p>
  <p>{{ _('You can start again below.') }}</p>

  <p>
    <a class="button button-get-started" href="{{ url_for("base.index") }}" role="button">
      {{ _('Start again') }}
    </a>
  </p>

{% endblock %}
