# Default values for cla-public in a production environment.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  pullPolicy: IfNotPresent

environment: production
backend_base_uri: https://fox.civillegaladvice.service.gov.uk
laalaa_api_host: https://laa-legal-adviser-api-production.cloud-platform.service.justice.gov.uk
google_maps_api_key: AIzaSyB_75-8mb5ZGgBh95USV07dupsoB8dxcDY

replicaCount: 2

ingress:
  enabled: true
  secretName: tls-certificate

# Lists don't deep merge, so this list of envVars overrides anything defined in an earlier values file
envVars:
  - name: DEBUG
    value: "False"
  - name: MOJ_GA_ID
    value: UA-37377084-21
  - name: GDS_GA_ID
    value: UA-145652997-1
  - name: MOJ_GA_ID
    value: GTM-MWL77F6
