{% set has_remaining_forms = steps|rejectattr('is_completed')|list|length > 0 %}
{% set total_step_count = steps|count + 1 %}
{% set completed_step_count = steps|selectattr('is_completed')|list|count + 1 %}
{% set completion_percentage = completed_step_count / total_step_count * 100 %}
{% set current_percentage = current_step.count / total_step_count * 100 %}
{% set is_contact_page = request.path.startswith('/result/') %}
{% set completion_perc_offset = 0 if is_contact_page else -5 %}

{% import "macros/element.html" as Element %}

{% macro step_status(is_completed=False) %}
  <span class="step-status">{% if is_completed %}{{ _('(completed)') }}{% endif %}</span>
{% endmacro %}

<div class="progress">
  {{ Element.progress_bar(current_percentage, current_percentage, completion_perc_offset) }}

  <h2>{{ _('Your progress') }}</h2>

  <ul class="progress-steps">
    {% if session.checker.category_name %}
      <li class="progress-step m-completed m-category">
        {% if is_contact_page %}
          <span class="step-name">
        {% else %}
          <a class="step-name" href="{{ url_for('scope.diagnosis') }}">
        {% endif %}
          {{ step_status(True) }}
          <span class="step-name-title">{{ _('Your problem area') }}</span>
          <div class="step-name-subtitle">
            {{ session.checker.category_name }}
          </div>
        {% if is_contact_page %}
          </span>
        {% else %}
          </a>
        {% endif %}
      </li>
    {% endif %}
    {% for step in steps if step.name in ['problem', 'about']
      or (session.checker.AboutYouForm and session.checker.AboutYouForm.is_completed)
    %}
      <li class="progress-step
        {% if step.is_completed %}m-completed{% endif %}
        {% if step.is_current %}m-current{% endif %}"
      >
        {% if (step.is_completed and not is_contact_page)
          or (steps[loop.index0 - 1].is_completed and not is_contact_page)
          or step.is_current
        %}
          <a class="step-name" href="{{ url_for('checker.wizard', step=step.name) }}">
            {{ step_status(step.is_completed) }}
            {{ step.form_class.title }}
          </a>
        {% else %}
          <span class="step-name">
            {{ step_status(step.is_completed) }}
            {{ step.form_class.title }}
          </span>
        {% endif %}
      </li>
    {% endfor %}
    {% if current_step.name in ['problem', 'about']
      and not (session.checker.AboutYouForm and session.checker.AboutYouForm.is_completed)
    %}
      <li class="progress-step m-collapsed">
        {% for n in range(3) %}
          <div class="step-name"></div>
        {% endfor %}
      </li>
    {% endif %}
    <li class="progress-step
      {% if current_step.name == 'review' %}m-current{% endif %}
      {% if not has_remaining_forms and current_step.name != 'review' %}m-completed{% endif %}"
    >
      {% if has_remaining_forms or is_contact_page %}
        <span class="step-name">
      {% else %}
        <a class="step-name" href="{{ url_for('checker.wizard', step='review') }}">
      {% endif %}
        {{ step_status(not has_remaining_forms) }}
        {{ _('Review your answers') }}
      {% if has_remaining_forms or is_contact_page %}
        </span>
      {% else %}
        </a>
      {% endif %}
    </li>
    <li class="progress-step {% if is_contact_page %}m-current{% endif %}">
      <span class="step-name">
        {{ step_status() }}
        {{ _('Contact information') }}
      </span>
    </li>
  </ul>
</div>
