{% extends "checker/base.html" %}

{% block inner_content %}
  {{ Form.handle_errors(form) }}
  <h1 class="govuk-heading-xl">{{ title }}</h1>
  <form method="POST" novalidate>
    {{ form.csrf_token }}

    {% call Form.fieldset(form.have_partner) %}
      <div class="govuk-radios__conditional">
        {{ Form.fieldset(form.in_dispute, 'govuk-fieldset', controlled_by=form.have_partner) }}
      </div>
    {% endcall %}

    {{ Form.fieldset(form.on_benefits) }}

    {% call Form.fieldset(form.have_children) %}
      <div class="govuk-radios__conditional">
        {{ Form.group(form.num_children, '',
            controlled_by=form.have_children, field_attrs={'class': 'govuk-input--width-4', 'inputmode':'numeric', 'pattern':'[0-9]*'}) }}
      </div>
    {% endcall %}

    {% call Form.fieldset(form.have_dependants) %}
      <div class="govuk-radios__conditional">
        {{ Form.group(form.num_dependants, '',
            controlled_by=form.have_dependants, field_attrs={'class': 'govuk-input--width-4', 'inputmode':'numeric', 'pattern':'[0-9]*'}) }}
      </div>
    {% endcall %}
    
    {{ Form.fieldset(form.own_property) }}
    {{ Form.fieldset(form.is_employed) }}
    {{ Form.fieldset(form.partner_is_employed, '', controlled_by=form.in_dispute, control_value='0') }}
    {{ Form.fieldset(form.is_self_employed) }}
    {{ Form.fieldset(form.partner_is_self_employed, '', controlled_by=form.in_dispute, control_value='0') }}
    {{ Form.fieldset(form.aged_60_or_over) }}
    {{ Form.fieldset(form.have_savings) }}
    {{ Form.fieldset(form.have_valuables) }}
    {% include '_valuables-info.html' %}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Continue'),"submit-button") }}
  </form>
  {% include "checker/time-out-warning.html" %}
  {{ Element.get_in_touch_link() }}

  <script>
    window.CONDITIONAL_LABELS = {
      in_dispute: '{{ _('Are you in a dispute with your partner?') }}',
      num_children: '{{ _('How many?') }}',
      num_dependants: '{{ _('How many?') }}'
    };
  </script>

{% endblock %}
