{% extends "checker/base.html" %}

{% block inner_content %}
  <h1>{{ title }}</h1>
  <form method="POST">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {% call Form.fieldset(form.have_partner, 'form-group') %}
      {{ Form.fieldset(form.in_dispute, 'form-group form-subfield', controlled_by=form.have_partner) }}
    {% endcall %}

    {{ Form.fieldset(form.on_benefits, 'form-group') }}

    {% call Form.fieldset(form.have_children, 'form-group') %}
      {{ Form.group(form.num_children, 'form-subfield',
          controlled_by=form.have_children, field_attrs={'class': 'm-small'}) }}
    {% endcall %}

    {% call Form.fieldset(form.have_dependants, 'form-group') %}
      {{ Form.group(form.num_dependants, 'form-subfield',
          controlled_by=form.have_dependants, field_attrs={'class': 'm-small'}) }}
    {% endcall %}

    {{ Form.fieldset(form.own_property, 'form-group') }}
    {{ Form.fieldset(form.is_employed, 'form-group') }}
    {{ Form.fieldset(form.partner_is_employed, 'form-group', controlled_by=form.in_dispute, control_value='0') }}
    {{ Form.fieldset(form.is_self_employed, 'form-group') }}
    {{ Form.fieldset(form.partner_is_self_employed, 'form-group', controlled_by=form.in_dispute, control_value='0') }}
    {{ Form.fieldset(form.aged_60_or_over, 'form-group') }}
    {{ Form.fieldset(form.have_savings, 'form-group') }}

    {% call Form.fieldset(form.have_valuables, 'form-group') %}
      {% include '_valuables-info.html' %}
    {% endcall %}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Continue')) }}
  </form>
  <p>
    {% trans %}
    Your session will time out after 5 minutes of inactivity. We do this for your security.
    {% endtrans %}
  </p>
  {{ Element.get_in_touch_link() }}

  <script>
    window.CONDITIONAL_LABELS = {
      in_dispute: '{{ _('Are you in a dispute with your partner?') }}',
      num_children: '{{ _('How many?') }}',
      num_dependants: '{{ _('How many?') }}'
    };
  </script>
{% endblock %}
