{% extends "checker/base.html" %}

{% block inner_content %}
  <h1>{{ title }}</h1>
  <p>{{ _('You’ll need to provide evidence of the financial information you’ve given us through this service.') }}</p>

  <form method="POST">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {% call Form.fieldset(form.benefits, field_as_label=True) %}
      {{ Form.option_list(form.benefits) }}
    {% endcall %}

    {% call Form.fieldset(form.other_benefits, 'form-group') %}
      {{ Form.group(form.total_other_benefit, 'form-subfield', controlled_by=form.other_benefits) }}
    {% endcall %}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Continue')) }}
  </form>
  <p>
    {% trans %}
    Your session will time out after 30 minutes of inactivity. We do this for your security.
    {% endtrans %}
  </p>
  {{ Element.get_in_touch_link() }}

  <script>
    window.CONDITIONAL_LABELS = {
      'total_other_benefit': '{{ _('Total amount of benefits not listed above') }}'
    };
  </script>
{% endblock %}
