{% extends "checker/base.html" %}

{% block inner_content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <p class="govuk-body-l">
    {{ _('You’ll need to provide evidence of the financial information you’ve given us through this service.') }}
  </p>

  <form method="POST">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {% call Form.tickbox_fieldset(form.benefits, field_as_label=True) %}
      {{ Form.radio_tick_list(form.benefits) }}
    {% endcall %}

    {% call Form.fieldset(form.other_benefits, 'form-group') %}
      <div class="govuk-radios__conditional">
        {{ Form.currency_fieldset(form.total_other_benefit, '', controlled_by=form.other_benefits) }}
      </div>
    {% endcall %}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Continue')) }}
  </form>
  {% include "checker/time-out-warning.html" %}
  {{ Element.get_in_touch_link() }}

{% endblock %}
