{% extends "checker/base.html" %}{% load core_forms_tags widget_tweaks i18n %}

{% block page_header %}{% endblock page_header %}

{% block breadcrumb %}{% endblock breadcrumb %}


{% block checker_content %}
  <form action="." method="POST">
    {% csrf_token %}
    {{ wizard.management_form }}
    {{ form.non_field_errors }}
    
    <p>{% trans "To finish applying for Legal Aid, you need to fill in your personal details" %}</p>
    
    <fieldset class="FormBlock FormBlock--grey">
      {% with form=form.form_dict.contact_details %}
        <div class="FormRow FormRow--inline cf{% if form.title.errors %} Error{% endif %}">
          <label for="{{ form.title.id_for_label }}" id="{{ form.title.auto_id }}-label">
            <span class="FormRow-label">
              {{ form.title.label }}
              {% for error in form.title.errors %}
                <span class="Error-message">{{ error }}</span>
              {% endfor %}
            </span>
            {{ form.title }}
          </label>
        </div>

        <div class="FormRow FormRow--inline cf{% if form.full_name.errors %} Error{% endif %}">
          <label for="{{ form.full_name.id_for_label }}" id="{{ form.full_name.auto_id }}-label">
            <span class="FormRow-label">
              {{ form.full_name.label }}
              {% for error in form.full_name.errors %}
                <span class="Error-message">{{ error }}</span>
              {% endfor %}
            </span>
            {{ form.full_name|add_class:"FormRow-field--l" }}
          </label>
        </div>

        <div class="FormRow FormRow--inline cf{% if form.postcode.errors %} Error{% endif %}">
          <label for="{{ form.postcode.id_for_label }}" id="{{ form.postcode.auto_id }}-label">
            <span class="FormRow-label">
              {{ form.postcode.label }}
              {% for error in form.postcode.errors %}
                <span class="Error-message">{{ error }}</span>
              {% endfor %}
            </span>
            {{ form.postcode }}
          </label>
        </div>

        <div class="FormRow FormRow--inline cf{% if form.street.errors %} Error{% endif %}">
          <label for="{{ form.street.id_for_label }}" id="{{ form.street.auto_id }}-label">
            <span class="FormRow-label">
              {{ form.street.label }}
              {% for error in form.street.errors %}
                <span class="Error-message">{{ error }}</span>
              {% endfor %}
            </span>
            {{ form.street|add_class:"FormRow-field--l" }}
          </label>
        </div>

        <div class="FormRow FormRow--inline cf{% if form.town.errors %} Error{% endif %}">
          <label for="{{ form.town.id_for_label }}" id="{{ form.town.auto_id }}-label">
            <span class="FormRow-label">
              {{ form.town.label }}
              {% for error in form.town.errors %}
                <span class="Error-message">{{ error }}</span>
              {% endfor %}
            </span>
            {{ form.town|add_class:"FormRow-field--l" }}
          </label>
        </div>

        <div class="FormRow FormRow--inline cf{% if form.mobile_phone.errors %} Error{% endif %}">
          <label for="{{ form.mobile_phone.id_for_label }}" id="{{ form.mobile_phone.auto_id }}-label">
            <span class="FormRow-label">
              {{ form.mobile_phone.label }}
              {% for error in form.mobile_phone.errors %}
                <span class="Error-message">{{ error }}</span>
              {% endfor %}
            </span>
            {{ form.mobile_phone }}
          </label>
        </div>

        <div class="FormRow FormRow--inline cf{% if form.home_phone.errors %} Error{% endif %}">
          <label for="{{ form.home_phone.id_for_label }}" id="{{ form.home_phone.auto_id }}-label">
            <span class="FormRow-label">
              {{ form.home_phone.label }}
              {% for error in form.home_phone.errors %}
                <span class="Error-message">{{ error }}</span>
              {% endfor %}
            </span>
            {{ form.home_phone }}
          </label>
        </div>
      {% endwith %}
    </fieldset>

    {% with form=form.form_dict.extra %}{% style_form form %}
      <fieldset class="FormBlock">
        <div class="FormRow cf{% if form.notes.errors %} Error{% endif %}">
          <label for="{{ form.notes.id_for_label }}" id="{{ form.notes.auto_id }}-label">
            <span class="FormRow-label">
              {{ form.notes.label }}
              {% for error in form.notes.errors %}
                <span class="Error-message">{{ error }}</span>
              {% endfor %}
            </span>
            {{ form.notes }}
          </label>
        </div>
      </fieldset>
    {% endwith %}

    <div class="FormActions">
      <button type="submit" class="Button">{% trans "Apply for legal aid" %}</button>
    </div>

  </form>
{% endblock %}
