{% extends "base.html" %}

{% import "macros/element.html" as Element %}
{% import "macros/form.html" as Form %}

{% if form.title %}
  {% set title = form.title %}
{% endif %}
{% block page_title %}
  {% if form.errors %}
    {% if request.cookies.get('locale') == 'cy_GB' %}
      Gwall:
    {% else %}
      Error:
    {% endif %}
  {% endif %}
  {{ title }} - {{ super() }}
{% endblock %}

{% block sidebar %}
  <aside class="sidebar">
    {% include 'checker/_progress.html' %}
  </aside>
{% endblock %}
