{% extends "checker/base.html" %}

{% block inner_content %}
  <h1>{{ title }}</h1>
  <p>
    {% trans %}We need to know about any benefits and tax credits your whole household receives.
    Please answer these questions as fully and accurately as you can.{% endtrans %}
  </p>
  <p>{{ _('When you speak to CLA, you will need to provide evidence of the financial information you’ve given us through this service.') }}</p>

  <form method="POST">
    {{ form.csrf_token }}

    {{ Form.handle_errors(form) }}

    {{ Form.money_interval_fieldset(form.child_benefit, not session.checker.has_children) }}
    {{ Form.money_interval_fieldset(form.child_tax_credit, not session.checker.has_children) }}
    {{ Form.option_list_fieldset(form.benefits) }}
    {% call Form.fieldset(form.other_benefits) %}
      {{ Form.radio_buttons(form.other_benefits) }}
      {{ Form.money_interval_fieldset(form.total_other_benefit, is_subfield=True, controlled_by=form.other_benefits) }}
    {% endcall %}

    {{ Element.get_in_touch_alert() }}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Continue')) }}
  </form>

  <script>
    window.CONDITIONAL_LABELS = {
      'total_other_benefit': '{{ _('Total amount of benefits not listed above') }}'
    };
  </script>
{% endblock %}
