{% extends "checker/base.html" %}

{% macro option_list_callback(field, option) %}
  {% if option.data == 'child_benefit' %}

    {{ Form.money_interval_fieldset(form.child_benefit, is_subfield=True, controlled_by=option, control_value=option.data) }}

  {% elif option.data == 'other-benefit' %}

    {% call Form.fieldset(
      form.total_other_benefit,
      controlled_by=field, control_value=option.data,
      is_subfield=True, has_label=False, has_info=False, use_row=False) %}

      <legend class="fieldset-label {% if form.total_other_benefit.errors %}m-error{% endif %}">
        {% trans %}Do you receive any other benefits <strong>not</strong> listed below?{% endtrans %}
      </legend>
      <div class="form-row">
        <ul class="non-income-benefits-list">
          {% for other_benefit in form.get_non_income_benefits() %}
            <li>{{ other_benefit }}</li>
          {% endfor %}
        </ul>
        <div class="form-row field-help">
          <span class="field-description">
            {% trans %}For example, National Asylum Support Service Benefit, Incapacity Benefit, Contribution-based Jobseeker’s Allowance{% endtrans %}
          </span>
        </div>
        {{ Form.money_interval_fieldset(form.total_other_benefit) }}
      </div>

    {% endcall %}

  {% endif %}
{% endmacro %}

{% block inner_content %}
  <h1>{{ title }}</h1>

  <form method="POST">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {{ Form.option_list_fieldset(form.benefits, separated_options=['other-benefit'], callback=option_list_callback) }}

    {{ Element.get_in_touch_alert() }}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Continue')) }}
  </form>
{% endblock %}
