{% extends "checker/base.html" %}

{% macro option_list_callback(field, option) %}
  {% if option.data == 'child_benefit' %}
    {{ Form.group(form.child_benefit, 'form-subfield', controlled_by=option, control_value=option.data) }}
  {% endif %}
{% endmacro %}

{% block inner_content %}
  <form method="POST">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    <div class="govuk-form-group">
      <fieldset aria-describedby="reasons-hint" class="govuk-fieldset {% if form.errors %}govuk-form-group--error{% endif %}" id="field-benefits">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl" id="field-label-benefits">
          <h1 class="govuk-fieldset__heading">
            {{ title }}
          </h1>
        </legend>
        {% call Form.tickboxes(form.benefits, field_as_label=True) %}
          {{ Form.radio_tick_list(form.benefits, separated_options=['other-benefit'], callback=option_list_callback) }}
        {% endcall %}
      </fieldset>
    </div>
    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Continue')) }}
  </form>
  {% include "checker/time-out-warning.html" %}
  {{ Element.get_in_touch_link() }}
{% endblock %}

{% block javascripts %}
  {{ super() }}

  <script>
    window.CONDITIONAL_LABELS = {
      'child_benefit': '{{ _('Enter the total amount you receive') }}',
      'total_other_benefit': '{{ _('Enter the total amount you receive') }}'
    };
 </script>
{% endblock %}
