{% extends "checker/base.html" %}{% load i18n %}

{% block page_header %}{% trans "Your Legal Aid case" %}{% endblock page_header %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block summary %}{% with read_only=True %}
{% include "checker/includes/summary.html" %}
{% endwith %}{% endblock summary %}


{% block checker_content %}
    <div>
        <h2 style="text-align:center">{% trans "Your case number is" %}</h2>
        <p style="text-align:center">{{ case_reference }}</p>

        <p>{% trans "You will be contacted shortly by someone from the Legal Aid Authority about your case" %}</p>
    </div>
{% endblock %}
