{% extends "checker/base.html" %}{% load i18n %}

{% block body_classes %}{{ product_type }} {{ phase }} v-Confirmation{% endblock %}

{% block page_header %}
  <h1>{% trans "Your Civil Legal Aid case" %}</h1>
  
  <p>{% trans "Your reference number" %}: {{ case_reference }}</p>
  <p>{% trans "You will be contacted shortly by someone from the Legal Aid Authority about your case within two hours" %}</p>
{% endblock page_header %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block checker_content %}
{% endblock %}

{% block summary %}{% with read_only=True %}
  {% include "checker/includes/summary.html" %}
{% endwith %}{% endblock summary %}
