{% extends "checker/base.html" %}

{% block inner_content %}
  {{ Form.handle_errors(form) }}
  <h1 class="govuk-heading-xl">{{ title }}</h1>
  <p class="govuk-body">{{ _('You’ll need to provide evidence of the financial information you’ve given us through this service.') }}</p>
  <p class="govuk-body">
    <strong>{% trans %}We only need to know about any money you received last month, even if this varies from month to month.{% endtrans %}</strong>
  </p>
  <form method="POST">
    {{ form.csrf_token }}
    
    {% with skip = not (session.checker.is_employed or session.checker.is_self_employed) %}
      {% if session.checker.has_partner %}
        <fieldset class="govuk-fieldset">
          <h2 class="govuk-heading-l">{{ _('Your money') }}</h3>
          <p class="govuk-body">
            {% trans %}Give details of any money that is paid to you
            personally, like your wages. Record money coming in for your
            partner in the next section.{% endtrans %}
          </p>
      {% endif %}
      {% if not skip %}
        {{ Form.currency_fieldset(form.your_income.earnings, skip=skip) }}
        {{ Form.currency_fieldset(form.your_income.income_tax, skip=skip) }}
        {{ Form.currency_fieldset(form.your_income.national_insurance, skip=skip) }}
        {{ Form.currency_fieldset(form.your_income.working_tax_credit, skip=skip) }}
      {% endif %}
      {% if session.checker.has_children or session.checker.has_dependants %}
        {{ Form.currency_fieldset(form.your_income.child_tax_credit) }}
      {% endif %}
      {{ Form.currency_fieldset(form.your_income.maintenance) }}
      {{ Form.currency_fieldset(form.your_income.pension) }}
      {{ Form.currency_fieldset(form.your_income.other_income) }}
      {% if session.checker.has_partner %}
        </fieldset>
      {% endif %}
    {% endwith %}
    {% if session.checker.has_partner %}
      <fieldset class="govuk-fieldset">
        {% with skip_for_partner = not (session.checker.partner_is_employed or session.checker.partner_is_self_employed) %}
          <h2 class="govuk-heading-l">{{ _('Your partner’s money') }}</h3>
          {% if not skip_for_partner %}
            {{ Form.currency_fieldset(form.partner_income.earnings, skip=skip_for_partner) }}
            {{ Form.currency_fieldset(form.partner_income.income_tax, skip=skip_for_partner) }}
            {{ Form.currency_fieldset(form.partner_income.national_insurance, skip=skip_for_partner) }}
            {{ Form.currency_fieldset(form.partner_income.working_tax_credit, skip=skip_for_partner) }}
          {% endif %}
          {{ Form.currency_fieldset(form.partner_income.maintenance) }}
          {{ Form.currency_fieldset(form.partner_income.pension) }}
          {{ Form.currency_fieldset(form.partner_income.other_income) }}
        {% endwith %}
      </fieldset>
    {% endif %}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Continue')) }}
  </form>
  {% include "checker/time-out-warning.html" %}
  {{ Element.get_in_touch_link() }}
{% endblock %}
