{% extends "checker/base.html" %}

{% block inner_content %}
  {{ Form.handle_errors(form) }}
  <h1 class="govuk-heading-xl">{{ title }}</h1>
  <p class="govuk-body">{{ _('You’ll need to provide evidence of the financial information you’ve given us through this service.') }}</p>

  <form method="POST">
    {{ form.csrf_token }}

    {{ Form.currency_fieldset(form.rent) }}
    {{ Form.currency_fieldset(form.maintenance) }}
    {{ Form.group(form.income_contribution, field_attrs={'prefix': '£'}) }}
    {% if session.checker.has_children or session.checker.has_dependants %}
      {{ Form.currency_fieldset(form.childcare, skip=not session.checker.has_children and not session.checker.has_dependants) }}
    {% endif %}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Review your answers'),"submit-button") }}
  </form>
  {% include "checker/time-out-warning.html" %}
  {{ Element.get_in_touch_link() }}
{% endblock %}
