{% extends "checker/base.html" %}

{% block inner_content %}
  <h1>{{ title }}</h1>
  <p>{{ _('We only need to know about certain things you pay for, to work out if you may be able to get legal aid.') }}</p>
  <p>{{ _('When you speak to CLA, you will need to provide evidence of the financial information you’ve given us through this service.') }}</p>
  <p>
    <strong>{% trans %}We only need to know about your outgoings for last month.{% endtrans %}</strong>
  </p>

  <form method="POST">
    {{ form.csrf_token }}

    {{ Form.handle_errors(form) }}

    {{ Form.money_interval_fieldset(form.rent) }}
    {{ Form.money_interval_fieldset(form.maintenance) }}
    {{ Form.text_input_fieldset(form.income_contribution, prefix="£", class_='m-small') }}
    {% if session.has_children or session.has_dependants %}
      {{ Form.money_interval_fieldset(form.childcare, skip=not session.has_children and not session.has_dependants) }}
    {% endif %}

    {{ Element.get_in_touch_alert() }}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Review your answers')) }}
  </form>
{% endblock %}
