{% extends "checker/base.html" %}

{% block inner_content %}
  {{ Form.handle_errors(form) }}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% if session.checker.has_partner %}
    <p class="govuk-body">{{ _('Please tell us about any property owned by you, your partner or both of you.') }}</p>
  {% endif %}
  <p class="govuk-body">{{ _('You can add more than one property below.') }}</p>
  <p class="govuk-body">{{ _('You’ll need to provide evidence of the financial information you’ve given us through this service.') }}</p>

  <form method="POST" id="{{ form.__class__.__name__ }}">
    {{ form.csrf_token }}

    {% for property in form.properties %}
      {% call Form.fieldset(attrs={'id': 'property-set-%d' % loop.index }) %}
        {% if form.properties|count > 1 %}
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-top-2">
            <h2 class="govuk-heading-l">{{ _('Property') }} {{ loop.index }}</h2>
          </legend>
          {% if loop.index != 1 %}
            <input class="govuk-button govuk-button--secondary"
                   name="remove-property-{{ loop.index0 }}"
                   type="submit"
                   value="{{ _('Remove property') }} {{ loop.index }}"/>
          {% endif %}
        {% endif %}

        {{ Form.fieldset(property.is_main_home, hidden_legend_prefix='Property ' ~ loop.index) }}
        {{ Form.fieldset(property.other_shareholders, hidden_legend_prefix='Property ' ~ loop.index) }}
        {{ Form.group(property.property_value, field_attrs={'prefix': '£', 'class_': ''}) }}
        {{ Form.group(property.mortgage_remaining, field_attrs={'prefix': '£', 'class_': ''}) }}
        {{ Form.group(property.mortgage_payments, field_attrs={'prefix': '£', 'class_': ''}) }}

        {% call Form.fieldset(property.is_rented, hidden_legend_prefix='Property ' ~ loop.index) %}
          <div class="govuk-radios__conditional">
            {{ Form.currency_fieldset(property.rent_amount, '', controlled_by=property.is_rented) }}
          </div>
        {% endcall %}

        {{ Form.fieldset(property.in_dispute, hidden_legend_prefix='Property ' ~ loop.index) }}
      {% endcall %}
    {% endfor %}

    {% if form.properties|count < 3 %}
      <input 
        type="submit" 
        class="govuk-button govuk-button--secondary" 
        data-module="govuk-button" 
        name="add-property" 
        value="{{ _('Add another property') }}" 
        style="display:block;">
    {% endif %}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Continue'),"submit-button") }}
  </form>
  {% include "checker/time-out-warning.html" %}
  {{ Element.get_in_touch_link() }}

{% endblock %}
