{% extends "checker/base.html" %}

{% block inner_content %}
  <h1 class="page-title">{{ title }}</h1>

  {% if session.checker.has_partner %}
    <p>{{ _('Please tell us about any property owned by you, your partner or both of you.') }}</p>
  {% endif %}
  <p>{{ _('You can add more than one property below.') }}</p>
  <p>{{ _('You’ll need to provide evidence of the financial information you’ve given us through this service.') }}</p>

  <form method="POST" id="{{ form.__class__.__name__ }}">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {% for property in form.properties %}
      {% call Form.fieldset(attrs={'id': 'property-set-%d' % loop.index }) %}
        {% if form.properties|count > 1 %}
          <header>
            <h3>{{ _('Property') }} {{ loop.index }}</h3>
            {% if loop.index != 1 %}
              <input class="button-secondary button-small"
                     name="remove-property-{{ loop.index0 }}"
                     type="submit"
                     value="{{ _('Remove property') }}"/>
            {% endif %}
          </header>
        {% endif %}

          {{ Form.fieldset(property.is_main_home, 'form-group') }}
          {{ Form.fieldset(property.other_shareholders, 'form-group') }}
          {{ Form.group(property.property_value, field_attrs={'prefix': '£', 'class_': 'm-small'}) }}
          {{ Form.group(property.mortgage_remaining, field_attrs={'prefix': '£', 'class_': 'm-small'}) }}
          {{ Form.group(property.mortgage_payments, field_attrs={'prefix': '£', 'class_': 'm-small'}) }}

          {% call Form.fieldset(property.is_rented, 'form-group') %}
            {{ Form.group(property.rent_amount, 'form-subfield', controlled_by=property.is_rented) }}
          {% endcall %}

          {{ Form.fieldset(property.in_dispute, 'form-group') }}
      {% endcall %}
    {% endfor %}

    {% if form.properties|count < 3 %}
      <p>
        <input type="submit" class="button-secondary" name="add-property" value="{{ _('Add another property') }}">
      </p>
    {% endif %}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Continue')) }}
  </form>
  {% include "checker/time-out-warning.html" %}
  {{ Element.get_in_touch_link() }}

  <script>
    window.CONDITIONAL_LABELS = {
      'properties-0-rent_amount': '{{ _('How much rent did you receive last month?') }}',
      'properties-1-rent_amount': '{{ _('How much rent did you receive last month?') }}',
      'properties-2-rent_amount': '{{ _('How much rent did you receive last month?') }}'
    };
  </script>
{% endblock %}
