{% extends "checker/base.html" %}

{% set title = _('Summary of your answers') %}

{% import "macros/review.html" as Review %}

{% block inner_content %}
  <h1>{{ title }}</h1>

  <form method="POST" class="answers-summary">
    {% if session.checker.scope_answers %}
      <section id="step-scope">
        <header>
          <h2 tabindex="1">{{ _('Your problem area') }}</h2>
          <a class="button-secondary button-small" href="{{ url_for('scope.diagnosis') }}"
            aria-label="{{ _('Go back and change your answers in your problem area section') }}"
            role="button"
            tabindex="3"
          >
            {{ _('Go back and change answers') }}
          </a>
        </header>
        <ul class="answers" tabindex="2">
          {% for item in session.checker.scope_answers %}
            <li class="answers-item">
              <div class="question">
                <span class="review-ui-label">{{ _('Question') }}</span>
                {{ item.question }}
              </div>
              <div class="answer">
                <span class="review-ui-label">{{ _('Answer') }}</span>
                <strong>{{ item.answer }}</strong>
              </div>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}

    {% for step in steps %}
      {% set answers = step.completed_fields() %}
      {% set multiple_answers = step.name in ['property', 'income'] or answers|length > 1 %}
      {% set step_title = step.form_class.title %}
      <section id="step-{{ step.name }}">
        <header>
          <h2 tabindex="{{ (loop.index * 3) + 1 }}">{{ step_title }}</h2>
          <a class="button-secondary button-small" href="{{ url_for('checker.wizard', step=step.name) }}"
            role="button"
            tabindex="{{ (loop.index * 3) + 3 }}"
            aria-label="
              {%- trans plural=multiple_answers, step_title=step_title|lower -%}
                Go back and change your answer in {{ step_title }} section
              {%- pluralize -%}
                Go back and change your answers in {{ step_title }} section
              {%- endtrans -%}
            ">
            {% if multiple_answers %}
              {{ _('Go back and change answers') }}
            {% else %}
              {{ _('Go back and change answer') }}
            {% endif %}
          </a>
        </header>
        <ul class="answers" tabindex="{{ (loop.index * 3) + 2 }}">
          {% for field in answers %}
            {{ Review.render_field(field, step_title) }}
          {% endfor %}
        </ul>
      </section>
    {% endfor %}

    {{ form.csrf_token }}
    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Confirm')) }}

    <p>
    {% trans %}
    Your session will time out after 30 minutes of inactivity. We do this for your security.
    {% endtrans %}
  </p>
  </form>
  {% include "checker/time-out-warning.html" %}
{% endblock %}
