{% extends "checker/base.html" %}

{% set title = _('Summary of your answers') %}

{% import "macros/review.html" as Review %}

{% block inner_content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <form method="POST" class="answers-summary">
    {% if session.checker.scope_answers %}
      <h2 class="govuk-heading-l" id="step-scope">{{ _('Your problem area') }}</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {% for item in session.checker.scope_answers %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ item.question }}
            </dt>
            <dd class="govuk-summary-list__value">
              {{ item.answer }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="{{ url_for('scope.diagnosis') }}">
               {% trans %}Change{% endtrans %} <span class="govuk-visually-hidden"> {% trans %}answer for{% endtrans %} {{ item.question }}</span>
              </a>
            </dd>
          </div>
        {% endfor %}
      </dl>
    {% endif %}

    {% for step in steps %}
      {% set answers = step.completed_fields() %}
      {% set multiple_answers = step.name in ['property', 'income'] or answers|length > 1 %}
      {% set property_or_income = step.name in ['property', 'income'] %}
      {% set step_title = step.form_class.title %}
      <h2 class="govuk-heading-l" id="step-{{ step.name }}">{{ step_title }}</h2>
      {% if not property_or_income %}
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      {% endif %}
      {% for field in answers %}
        {{ Review.render_field(field, step_title, url_for('checker.wizard', step=step.name) ) }}
      {% endfor %}
      {% if not property_or_income %}
        </dl>
      {% endif %}
    {% endfor %}

    {{ form.csrf_token }}
    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Confirm')) }}

  </form>
  {% include "checker/time-out-warning.html" %}
{% endblock %}
