{% extends "checker/base.html" %}

{% block inner_content %}
  <h1>
    {{ form.title }}
  </h1>

  {% if session.checker.has_partner %}
    <p>{{ _('Any cash, savings or investments held in your name, your partner’s name or both your names.') }}</p>
  {% else %}
    <p>{{ _('We need to know about any money you have saved or invested.') }}</p>
  {% endif %}
  <p>{{ _('When you speak to CLA, you will need to provide evidence of the financial information you’ve given us through this service.') }}</p>

  <form method="POST">
    {{ form.csrf_token }}
    {{ Form.handle_errors(form) }}

    {% with skip = not session.checker.has_savings %}
      {{ Form.text_input_fieldset(form.savings, prefix="£", skip=skip, class_='m-small') }}
      {{ Form.text_input_fieldset(form.investments, prefix="£", skip=skip, class_='m-small') }}
    {% endwith %}

    {% with skip = not session.checker.has_valuables %}
      {% if skip %}
        {{ Form.text_input(form.valuables, skip=skip) }}
      {% else %}
        {% call Form.fieldset(form.valuables, class_='fieldset-group') %}
          {{ Form.text_input(form.valuables, prefix="£", skip=skip, class_='m-small') }}
          {% include '_valuables-info.html' %}
        {% endcall %}
      {% endif %}
    {% endwith %}


    {{ Element.get_in_touch_alert() }}

    {{ Form.honeypot(form) }}
    {{ Form.actions(_('Continue')) }}
  </form>
{% endblock %}
