{% extends "checker/base.html" %}{% load i18n %}

{% block body_classes %}{{ product_type }} {{ phase }} v-StartPage{% endblock %}

{% block page_header %}
  <h1>Check if you can get legal aid</h1>
{% endblock page_header %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block checker_content %}
  <h2>What Civil Legal Aid is</h2>
  
  <p>Civil Legal Aid helps pay entirely or in part, solicitors fees for members of the public in need. Civil Legal Aid does not cover all costs of every case. You may be required to contribute to the costs incurred.</p>

  <p>If you're under 18, getting legal aid might depend on how much money your parents or guardians earn</p>

  <h2>What Civil Legal Aid is not for</h2>

  <p>This form will only check if you can get legal aid in England and Wales.</p>

  <p>This check is for non-criminal (civil) cases only. If you've been charged with a crime, ask your solicitor or barrister if you can get legal aid.</p>

  <p>Legal aid is only available in exceptional circumstances, eg if you have very limited money or are at immediate risk of harm. If legal aid is not available to you, appropriate advice agencies will be listed so you can take your next step.</p>

  <h2>What happens at the end</h2>

  <p>All questions are asked to find out what help is available to you. Fill in the form honestly and fully to get an accurate answer. Upon completing this application you will be told whether or not you are eligible to receive Civil Legal Aid and how we will get in contact with you to proceed your case.</p>

  <p>
    <a href="/checker" class="Button" role="button">Check if you can get legal aid</a>
    <a href="">Other ways of getting legal advice</a>
  </p>
{% endblock %}
