{% extends "checker/base.html" %}{% load i18n %}

{% block body_classes %}{{ product_type }} {{ phase }} v-StartPage{% endblock %}

{% block page_header %}
  <h1>Do you qualify for legal aid: quick check</h1>
  <p>Use this quick online checker to find out it you're likely to qualify for legal aid.</p>
{% endblock page_header %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block checker_content %}
  <h2>Before you start</h2>
  
  <p>You'll need recent details of any benefits you receive, your income, property and also your partner's details to get an accurate result.</p>

  <p>Legal aid is only given if you have very limited money or are at immediate risk of harm. But if the checker says you don't qualify, appropriate advice agencies will be listed to help you.</p>

  <p>This tool is for non-criminal, ie civil, cases only. If you've been charged with a crime, ask your solicitor about legal aid.</p>

  <p>This tool only checks if you can get legal aid in England and Wales</p>

  <div class="Notice">
    <p>You need to make a claim to make sure you qualify and how much of a contribution you'll get</p>
  </div>

  <p>
    <a href="/checker" class="Button" role="button">Start</a>
    <a href="">Other ways of getting legal advice</a>
  </p>
{% endblock %}
