{% extends "checker/base.html" %}{% load i18n %}

{% block body_classes %}{{ product_type }} {{ phase }} v-StartPage{% endblock %}

{% block page_header %}
  <h1>Do you qualify for legal aid?</h1>
  <p>Check here to see if you can get legal aid and find out where to go next for help.</p>
{% endblock page_header %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block checker_content %}
  <h2>What is legal aid?</h2>

  <ul>
    <li>it can help you cover the cost of legal advice</li>
    <li>it can get someone to speak for you in court</li>
    <li>it can help you resolve family problems without going to court</li>
  </ul>

  <p>You can only get legal aid if you are at <strong>immediate risk of serious harm</strong>, <strong>losing your home</strong> and <strong>have very limited money</strong>.</p>

  <p>
    <a href="{% url 'checker:threshold' %}" class="Button" role="button">Continue</a>
    <a href="">Other ways of getting legal advice</a>
  </p>
{% endblock %}
