{% extends "checker/base.html" %}{% load i18n humanize %}

{% block page_header %}
  <h1>{% trans "Your costs" %}</h1>
  <p>{% trans "We need to know some of the things you and your partner spend your money on. Take time to answer these questions as fully and accurately as possible." %}</p>
{% endblock page_header %}

{% block checker_content %}
	<form method=post action="." role="form" class="js-FieldHelp">
    {% csrf_token %}
    {{ wizard.management_form }}
    {{ form.non_field_errors }}

    {% with form=form %}
      {% include "checker/includes/error_summary.html" %}
    {% endwith %}

    {% with form=form.form_dict.your_allowances fieldset_label="You" %}
      {% include "checker/includes/finances_allowances_form.html" %}
    {% endwith %}

    {% with form=form.form_dict.partners_allowances fieldset_label="Your partner" %}
      {% include "checker/includes/finances_allowances_form.html" %}
    {% endwith %}

    <div class="FormActions">
      <button type="submit" class="Button">{% trans "Next step" %}</button>
      <a href="{% url 'checker:checker_step' wizard.steps.prev %}">{% trans "Go back to previous step" %}</a>
    </div>
	</form>
{% endblock %}
