{% extends "checker/base.html" %}{% load i18n %}

{% block page_header %}
  <h1>{% trans "Your details" %}</h1>
{% endblock %}

{% block checker_content %}
  <form action="." method="POST">
    {% csrf_token %}

    {{ wizard.management_form }}
    {{ form.non_field_errors }}
    
    {% for field in form %}
      <div class="FormRow cf" role="radiogroup" aria-labelledby="{{field.auto_id}}-label">
        <p class="FormRow-label" id="{{field.auto_id}}-label">{{field.label}}</p>

        <details>
          <summary>{% trans "More info" %}</summary>
          <div>
            Some example help text
          </div>
        </details>

        {{field.errors}}

        {% for choice in field.field.choices %}
        <label for="{{ field.auto_id }}_{{ forloop.counter0 }}" class="FormRow-option">
          <input type="radio" name="{{ field.html_name }}" id="{{ field.auto_id }}_{{ forloop.counter0 }}" value="{{ choice.0 }}"{% if field.value|stringformat:"s" == choice.0|stringformat:"s" %} checked="checked"{% endif %}>
          {{ choice.1 }}
        </label>
        {% endfor %}
      </div>
    {% endfor %}

    <div class="FormActions">
      <button type="submit" class="Button">{% trans "Next step - Your finances" %}</button>
      <a href="{% url 'checker:checker_step' wizard.steps.prev %}">{% trans "Go back to previous step" %}</a>
    </div>
  </form>

{% endblock %}