{% extends "checker/base.html" %}{% load i18n humanize helpers %}

{% block page_header %}
  <h1>{% trans "Your money" %}</h1>
{% endblock %}

{% block checker_content %}
  <p>{% trans "Whether or not you qualify for legal aid depends on how much money you and your partner have. To find out if you’re financially eligible, please answer these questions as honestly and fully as you can." %}</p>

  <form method=post action=".">
    {% csrf_token %}
    {{ wizard.management_form }}
    {{ form.non_field_errors }}

    {% include "checker/includes/error_summary.html" %}

    {% if form.form_dict.property or form.form_dict.your_other_properties %}
      <section class="js-MultiAddress">
        {% with form.form_dict.property as formset %}
          {% if formset %}
            {{ formset.management_form }}
            {% for form in formset %}
              {% if form %}
                {% with count=forloop.counter total=formset|length %}
                  {% include "checker/includes/finances_property_form.html" %}
                {% endwith %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
      </section>
    {% endif %}

    {% with form.form_dict.your_savings as form %}{% with "Your savings" as fieldset_label %}
      {% if form %}
        {% include "checker/includes/finances_savings_form.html" %}
      {% endif %}
    {% endwith %}{% endwith %}

    {% with form.form_dict.partners_savings as form %}{% with "Your partner's savings" as fieldset_label %}
      {% if form %}
        {% include "checker/includes/finances_savings_form.html" %}
      {% endif %}
    {% endwith %}{% endwith %}

    <div class="FormActions">
      <button type="submit" class="Button" name="submit" value="submit">{% trans "Next step" %}</button>
      <a href="{% url 'checker:checker_step' wizard.steps.prev %}">{% trans "Go back to previous step" %}</a>
    </div>
  </form>
{% endblock %}
