{% extends "checker/base.html" %}{% load i18n %}

{% block page_header %}

  <h1>{% trans "Your problem" %}</h1>
  <p>{% trans "What is your problem about? Choose what is putting you at immediate risk." %}</p>

{% endblock %}

{% block checker_content %}

  <form action="." method="POST">
    {% csrf_token %}

    {{ wizard.management_form }}
    {{ form.non_field_errors }}
    <fieldset class="FormBlock FormBlock--grey">
      <p>{{ form.category.label }}</p>

      {{ form.category.errors }}
      {% for category in form.fields.category.choices %}
        <div class="FormRow FormRow--group">
          <label for="{{ form.category.auto_id }}_{{ forloop.counter0 }}" class="FormRow-label{% cycle ' FormRow-label--odd' '' %}">
            <input type="radio" name="{{ form.category.html_name }}" id="{{ form.category.auto_id }}_{{ forloop.counter0 }}" value="{{ category.0 }}" {% if category.0 == form.category.value %}checked="checked"{% endif %}{% if forloop.counter0|add:1 == form.fields.category.choices|length %} data-conditional-el="conditional-{{ category.0 }}"{% endif %} class="js-Conditional">
            {{ category.1 }}
          </label>

          {% if category.2.description %}
            <details>
              <summary>More info</summary>
              <div>
                {{ category.2.description }}
              </div>
            </details>
          {% endif %}

          {% if forloop.counter0|add:1 == form.fields.category.choices|length %}
            {# this should only show up if last category is selected #}
            <div id="conditional-{{ category.0 }}">
              <p><strong>If your case does not match any of the above:</strong></p>
              <div class="FormRow-inner">
                {{ form.your_problem_notes.label_tag }}

                {{ form.your_problem_notes.errors }}
                {{ form.your_problem_notes }}
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </fieldset>
    <p>{% trans "If possible, please choose one of the categories above. If you’re really not sure or it doesn’t appear above, you can ask for a call back here." %}</p>

    <div class="FormActions">
      <button type="submit" class="Button">{% trans "Next step - your details" %}</button>
      <a href="#">Go back to previous step</a>
    </div>
  </form>

{% endblock %}
