{% extends "base.html" %}
{% import "macros/element.html" as Element %}

{% set heading = nodes[-1].heading if nodes else _('Choose one of the options') %}
{% set title = _('What do you need help with?') %}
{% set current_percentage = nodes|length * 3 + 5 %} {# Emulate percentage progress for scope nodes  #}

{% block page_title %}{{ title }} - {{ super() }}{% endblock %}

{% block sidebar %}
  <aside class="sidebar">
    <div class="progress answers-summary">
      <h2>{{ _('Your answers') }}</h2>

      {% set url = '/scope/diagnosis' %}
      {% set firstquestion = _('Select the area you most need help with') %}

      <ul class="answers">
        {% if nodes|length > 0 %}
          {% for node in nodes %}
            {% set question = firstquestion if loop.index0 == 0 else nodes[loop.index0 - 1].heading %}
              <li class="answers-item progress-step">
                <a href="{{ url }}" class="question step-name">
                  <div class="question">{{ question }}</div>
                  <div class="answer">
                    <strong>{{ node.label|striptags }}</strong>
                  </div>
                </a>
              </li>
            {% set url = [url, node.id]|join('/') %}
          {% endfor %}
        {% endif %}
        <li class="progress-step m-current">
          <span class="step-name">
            <span class="step-status">{{ _('(current)') }}</span>
            <span class="step-name-title">{{ heading if nodes|length > 0 else firstquestion }}</span>
          </span>
        </li>
      </ul>
    </div>
  </aside>
{% endblock %}


{% block inner_content %}
  <h1>{{ _('What do you need help with?') }}</h1>

  {% if not nodes|length %}
    <p>{% trans link=url_for('base.online_safety') %}
      The personal information you enter won’t be stored on your computer or mobile device.
      Find out more about <a href="{{ link }}">staying safe online</a>.
      {%  endtrans %}
    </p>
  {% endif %}

  <div class="scope-options">

    <h2 class="subtitle">
      {% if nodes|length %}
        {{ heading }}
      {% else %}
        {% trans %}Select the area you most need help with{% endtrans %}
      {% endif %}
    </h2>

    <ul class="scope-options-list">
      {% for choice in choices %}
        <li class="scope-options-list-item">
          <a href="{{ choice.url }}"{% if not nodes|length %} data-ga="event:category-of-law/{{ choice.label|striptags }}"{% endif %}>
            <span class="option-label">{{ choice.label|safe|striptags }}</span>
            {% if choice.help_text %}
              <div class="field-help">{{ choice.help_text|safe|striptags }}</div>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% if nodes and nodes[-1].data_safety %}
    <p>{% trans link=url_for('base.online_safety') %}
      The personal information you enter won’t be stored on your computer or mobile device.
      Find out more about <a href="{{ link }}">staying safe online</a>.
      {%  endtrans %}
    </p>
  {% endif %}

  <p>
    {{ _('If you’re having trouble completing this form') }},
    <a href="{{ url_for('base.reasons_for_contacting') }}" id="callback-link">{{ _('get in touch') }}</a>.
  </p>
{% endblock %}
