{% extends "base.html" %}
{% import "macros/element.html" as Element %}

{% if nodes|length %}
  {% set title = nodes[-1].heading %}
{% else %}
  {% set title = _('Choose the area you most need help with') %}
{% endif %}
{% set current_percentage = nodes|length * 3 + 5 %} {# Emulate percentage progress for scope nodes  #}

{% block page_title %}{{ title }} - {{ super() }}{% endblock %}

{% block sidebar %}
  <aside class="sidebar">
    <div class="progress answers-summary">
      <h2>{{ _('Your answers') }}</h2>

      {% set url = '/scope/diagnosis' %}
      {% set firstquestion = _('Choose the area you most need help with') %}

      <ul class="answers">
        {% if nodes|length > 0 %}
          {% for node in nodes %}
            {% set question = firstquestion if loop.index0 == 0 else nodes[loop.index0 - 1].heading %}
              <li class="answers-item progress-step">
                <a href="{{ url }}" class="question step-name">
                  <div class="question">{{ question }}</div>
                  <div class="answer">
                    <strong>{{ node.label|striptags }}</strong>
                  </div>
                </a>
              </li>
            {% set url = [url, node.id]|join('/') %}
          {% endfor %}
        {% endif %}
        <li class="progress-step m-current">
          <span class="step-name">
            <span class="step-status">{{ _('(current)') }}</span>
            <span class="step-name-title">{{ title if nodes|length > 0 else firstquestion }}</span>
          </span>
        </li>
      </ul>
    </div>
  </aside>
{% endblock %}


{% block inner_content %}
  <h1>{{ title }}</h1>

  {% if not nodes|length or nodes and nodes[-1].data_safety %}
    {{ Element.staying_safe_online_link() }}
  {% endif %}

  <div class="scope-options">
    <ul class="scope-options-list">
      {% for choice in choices %}
        <li class="scope-options-list-item">
          <a href="{{ choice.url }}"{% if not nodes|length %} data-ga="event:category-of-law/{{ choice.label|striptags }}"{% endif %}>
            <span class="option-label">{{ choice.label|safe|striptags }}</span>
            {% if choice.help_text %}
              <div class="field-help">{{ choice.help_text|safe|striptags }}</div>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {{ Element.get_in_touch_link() }}
{% endblock %}
