{% extends "base.html" %}
{% import "macros/element.html" as Element %}

{% set title = _('Family mediation') %}
{% block page_title %}{{ title }} - {{ super() }}{% endblock %}

{% block inner_content %}

  <h1 class="page-title">{{ _('You may be able to get legal aid for family mediation') }}</h1>
  <p class="subtitle">
    {{ _('Search for a family mediator in your area to find out if you qualify.') }}
  </p>

  <a class="button button-larger" href="http://www.familymediationcouncil.org.uk/find-local-mediator/" role="button">
    {{ _('Find your local mediator') }}
  </a>

       <p>
      {% trans %}
          {% trans %}<a href="https://www.gov.uk/done/check-if-civil-legal-advice-can-help-you" aria-labelledby="aria-satisfaction-survey">What did you think of this service?</a> (takes 30 seconds){% endtrans %}
      {% endtrans %}
    </p>
    {% include "checker/time-out-warning.html" %}
{% endblock %}

{% block javascripts %}
  {{ super() }}
  {% include '_ga-outcome-pageview.html' %}
{% endblock %}
